<template>
  <div class="situation-map">
    <LeafletMap
      id="situation-map"
      data-test="situation-map"
      :initial-center="center.toLatLng()"
      :initial-zoom="initialZoom"
      context-menu
      :custom-controls="mapControls"
      @map-created="onMapCreated"
    />
    <LayerSelect
      v-if="leafletMap && isLayerControlActive"
      :map="leafletMap"
      class="layer-select"
    />
    <ShapeCreatorControl v-if="leafletMap" :map="leafletMap" />
    <!-- Custom Markers -->
    <ReportMarkers v-if="leafletMap" :reports="reports" :map="leafletMap" />
    <UnitMarkers v-if="leafletMap" :units="units" :map="leafletMap" />
    <PoiMarkers v-if="leafletMap" :pois="pois" :map="leafletMap" />
    <WMSLayers v-if="leafletMap" :map="leafletMap" />
    <WKELayers v-if="leafletMap" :map="leafletMap" />
  </div>
</template>
<script lang="ts">
// Required for the KeepAlive within RouterView (App.vue) to recognize the component
// see https://stackoverflow.com/questions/65619181/how-to-make-certain-component-keep-alive-with-router-view-in-vue-3#comment122244612_65760822
export default { name: 'SituationMap' }
</script>
<script setup lang="ts">
import { computed, shallowRef } from 'vue'
import 'leaflet/dist/leaflet.css'
import type { Map } from 'leaflet'
import { DEFAULT_MISSION_LOCATION } from '@/mission/stores/missions'
import type { Mission } from '@/mission/models/mission'
import type { Unit } from '@/unit/models/unit'
import { useSituationMapContextMenu } from '@/map/composables/useSituationMapContextMenu'
import { useLeafletPopup } from '@/map/composables/useLeafletPopup'
import { SubReport } from '@/report/models/subReport'
import LayerSelect from '@/map/components/LayerSelect.vue'
import ShapeCreatorControl from '@/map/shapes/components/ShapeCreatorControl.vue'
import { useGeoMan } from '@/map/shapes/composables/useGeoMan'
import ReportMarkers from '@/map/components/ReportMarkers.vue'
import UnitMarkers from '@/map/components/UnitMarkers.vue'
import PoiMarkers from '@/map/components/PoiMarkers.vue'
import { PointOfInterest } from '@/poi/models/pointOfInterest'
import WMSLayers from '@/map/components/WMSLayers.vue'
import WKELayers from '@/map/components/WKELayers.vue'
import {
  LeafletMap,
  GpsLocation,
  useLeafletButtonControl,
} from '@lion5/component-library-leaflet'
import { locateControl, SITUATION_MAP_CONTROLS } from '@/map/models/controls'
import { useLeafletMeasure } from '@/map/composables/useLeafletMeasure'

interface SituationMapProps {
  mission: Mission | undefined | null
  reports: SubReport[]
  initialZoom?: number
}

const props = withDefaults(defineProps<SituationMapProps>(), {
  initialZoom: 16,
  reports: () => [],
})

const emit = defineEmits<{
  (e: 'map-created', value: Map): void
  (e: 'create-report-click', location: GpsLocation): void
  (e: 'create-poi-click', location: GpsLocation): void
  (e: 'add-unit-click', location: GpsLocation): void
}>()

const { buttonControl: layerControl, isActive: isLayerControlActive } =
  useLeafletButtonControl('bi-layers-half', 'Karte filtern')
const { enableGeoMan, geoManControl } = useGeoMan()
const { measureControl } = useLeafletMeasure()
const mapControls = [
  ...SITUATION_MAP_CONTROLS,
  geoManControl,
  layerControl,
  measureControl,
]

const units = computed((): Unit[] => props.mission?.units || [])
const pois = computed(
  (): PointOfInterest[] => props.mission?.pointsOfInterest || []
)

const leafletMap = shallowRef<Map | undefined>()
const center = computed(
  (): GpsLocation => props.mission?.gpsLocation || DEFAULT_MISSION_LOCATION
)

const { showLocationInfoPopup } = useLeafletPopup()
const { addContextMenuItems } = useSituationMapContextMenu()

const onMapCreated = (map: Map) => {
  if (!leafletMap.value) {
    leafletMap.value = map
  }
  emit('map-created', map)
  enableGeoMan(map)
  initContextMenu()
  ;(map as MapWithCustomProps).locateControl = locateControl
}

const initContextMenu = () => {
  if (!leafletMap.value) {
    return
  }
  addContextMenuItems(leafletMap.value, [
    {
      text: 'Lagemeldung',
      iconCls: 'bi-plus-lg',
      callback: ({ latlng }) => {
        emit('create-report-click', GpsLocation.fromLatLng(latlng))
      },
    },
    {
      text: 'POI',
      iconCls: 'bi-plus-lg',
      callback: ({ latlng }) => {
        emit('create-poi-click', GpsLocation.fromLatLng(latlng))
      },
    },
    {
      text: '',
      separator: true,
    },
    {
      text: 'Einheit positionieren',
      iconCls: 'bi-person-fill-down',
      callback: ({ latlng }) => {
        emit('add-unit-click', GpsLocation.fromLatLng(latlng))
      },
    },
    {
      text: '',
      separator: true,
    },
    {
      text: 'Informationen',
      iconCls: 'bi-info-circle',
      callback: ({ latlng }) => {
        if (!leafletMap.value) {
          return
        }
        showLocationInfoPopup(leafletMap.value, latlng)
      },
    },
  ])
}
</script>
<style lang="scss">
.leaflet-container#situation-map {
  height: 100%;
  -webkit-user-select: none; // disallow text content selection

  .leaflet-contextmenu a.leaflet-contextmenu-item {
    font-size: var(--font-size-0);
  }
}

.situation-map {
  display: grid;

  & > * {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.layer-select {
  font-size: var(--font-size-0);
  z-index: 1000;
  width: fit-content;
  height: fit-content;
  place-self: start;
  align-self: end;
  margin: var(--space-md);
}

.popup-content {
  display: flex;
  flex-direction: column;

  .popup-btn-container {
    display: flex;
    gap: var(--space-sm);
  }

  button.portal-button {
    &.secondary,
    &.success {
      margin-top: var(--space-sm);
      font-size: var(--font-size-0);
      min-height: unset;
      padding: var(--space-sm);
      border: none;
    }

    &.success {
      background-color: var(--color-success);
      color: var(--color-success-surface);
    }
  }
}

/* Button Control Style */
.leaflet-control .leaflet-control-button {
  cursor: pointer;

  .active {
    color: var(--color-primary);
  }
}
</style>
