<template>
  <LeafletLayer :map="map" :layer="dangerZoneLayer" />
</template>
<script setup lang="ts">
import { Map as LeafletMap } from 'leaflet'
import LeafletLayer from '@/map/shapes/components/LeafletLayer.vue'
import { DangerZone } from '@/map/shapes/dangerZone/models/dangerZone'
import { onMounted } from 'vue'
import { DangerZoneGeoJSON } from '@/map/shapes/dangerZone/models/dangerZoneGeoJSON'
import { ShapeCommand } from '@/map/shapes/models/shapeCommand'

const props = defineProps<{ map: LeafletMap; dangerZone: DangerZone }>()
const emit = defineEmits<{
  (e: 'update', dangerZone: DangerZone): void
  (e: 'remove', dangerZone: DangerZone): void
}>()

const dangerZoneLayer = new DangerZoneGeoJSON(props.dangerZone.geoJson)

onMounted(() => {
  dangerZoneLayer.addUpdateListener((newDangerZoneGeoJson) => {
    const dangerZone = new DangerZone(
      props.dangerZone.dangerZoneId,
      ShapeCommand.UPDATED,
      new Date(),
      newDangerZoneGeoJson.toGeoJSON()
    )
    emit('update', dangerZone)
  })
  dangerZoneLayer.addRemoveListener((newDangerZoneGeoJson) => {
    const dangerZone = new DangerZone(
      props.dangerZone.dangerZoneId,
      ShapeCommand.DELETED,
      new Date(),
      newDangerZoneGeoJson.toGeoJSON()
    )
    emit('remove', dangerZone)
  })
})
</script>
