<template>
  <div>
    <button @click="mapModalDisplayed = !mapModalDisplayed" class="map-trigger">
      <TacticalSignMap
        :id="id"
        class="mini-map"
        :gps-location="gpsLocation"
        :tactical-sign="tacticalSign"
        :hide-controls="true"
      />
    </button>
    <DismissibleModal
      v-model:modalDisplayed="mapModalDisplayed"
      class="full-size-map-modal"
    >
      <TacticalSignMap
        v-if="mapModalDisplayed"
        :id="`${id}-modal`"
        class="map"
        :gps-location="gpsLocation"
        :tactical-sign="tacticalSign"
      />
    </DismissibleModal>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import { DismissibleModal } from '@lion5/component-library'
import { GpsLocation } from '@lion5/component-library-leaflet'
import TacticalSignMap from '@/dashboard/widgets/MissionLogWidget/TacticalSignMap/TacticalSignMap.vue'
import { TacticalSign } from '@/base/models/tacticalSign'

defineProps<{
  id: string
  gpsLocation: GpsLocation
  tacticalSign?: TacticalSign
}>()

const mapModalDisplayed = ref<boolean>(false)
</script>

<style lang="scss" scoped>
.map-trigger {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.mini-map {
  border-radius: var(--border-radius-300);
  width: 200px;
  height: 150px;
  pointer-events: none;

  :deep(.leaflet-control) {
    pointer-events: none !important;
  }
}

.full-size-map-modal {
  grid-template-columns: 100%;

  :deep(.hide-button) {
    z-index: 2000;
  }

  .map {
    border-radius: var(--border-radius-300);
    width: 90vw;
    height: 90vh;
  }
}
</style>
