<template>
  <div class="mission-card">
    <slot />
  </div>
</template>
<style lang="scss" scoped>
.mission-card {
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-neutral-200);
  border-radius: var(--border-radius-300);

  &:target {
    background-color: var(--color-primary-surface);
  }
}
</style>
