<template>
  <MissionReportCard v-if="isReport(logItem)" :report="logItem as SubReport" />
  <MissionCommandCard v-else :command="logItem as SubCommand" />
</template>

<script lang="ts" setup>
import { SubCommand } from '@/command/models/subCommand'
import MissionReportCard from '@/dashboard/widgets/MissionLogWidget/MissionLogItemReport.vue'
import MissionCommandCard from '@/dashboard/widgets/MissionLogWidget/MissionLogItemCommand.vue'
import { SubReport } from '@/report/models/subReport'
import { useMissionLog } from '@/mission/composables/useMissionLog'

defineProps<{
  logItem: SubReport | SubCommand
}>()

const { isReport } = useMissionLog()
</script>

<style lang="scss" scoped></style>
