<template>
  <MissionItemBaseCard
    :id="`command-${command.commandId}`"
    class="command-card"
  >
    <MiniMap
      v-if="referencingReport && referencingReport.location"
      :id="`map-${command.etag}`"
      :gps-location="referencingReport.location"
      :tactical-sign="referencingReport.tacticalSign"
    />
    <div class="command-info">
      <small>{{ getDateTime(command.createdAt) }}</small>
      <h3>{{ command.senderCallSign }}</h3>
      <div>{{ command.commandText }}</div>
      <a
        class="report-link"
        v-if="command.referencingReportId"
        :href="`#report-${command.referencingReportId}`"
      >
        Zur Lagemeldung
        <i class="bi bi-chevron-compact-right"></i>
      </a>
    </div>
  </MissionItemBaseCard>
</template>

<script lang="ts" setup>
import { SubCommand } from '@/command/models/subCommand'
import MissionItemBaseCard from '@/dashboard/widgets/MissionLogWidget/MissionItemBaseCard.vue'
import MiniMap from '@/dashboard/widgets/MissionLogWidget/MiniMap.vue'
import { useDate } from '@lion5/component-library'
import { computed } from 'vue'
import { SubReport } from '@/report/models/subReport'
import { useMissionLogStore } from '@/mission/stores/missionLog'

const props = defineProps<{
  command: SubCommand
}>()
const { getDateTime } = useDate()

const referencingReport = computed<SubReport | undefined>(() => {
  if (!props.command.referencingReportId) return
  const { getReport } = useMissionLogStore()
  return getReport(props.command.referencingReportId) as SubReport | undefined
})
</script>

<style lang="scss" scoped>
.command-card {
  display: grid;
  grid-template-columns: 200px auto;
  gap: var(--space-md) var(--space-xs);

  .command-info {
    grid-column: 2/3;
    justify-self: end;
    text-align: end;
  }
}

.report-link {
  white-space: nowrap;
}
</style>
