<template>
  <MissionItemBaseCard :id="`report-${report.reportId}`" class="report-card">
    <div>
      <small>{{ getDateTime(report.createdAt) }}</small>
      <h3>{{ report.senderCallSign }}</h3>
      <div>{{ report.report }}</div>
      <a
        class="command-link"
        v-if="report.referencingCommandId"
        :href="`#command-${report.referencingCommandId}`"
      >
        Zum Befehl
        <i class="bi bi-chevron-compact-right"></i>
      </a>
      <RouterLink
        v-else
        :to="{ name: 'CreateCommand', params: { reportId: report.reportId } }"
      >
        Befehl erteilen
      </RouterLink>
    </div>
    <MiniMap
      v-if="report.location"
      :id="`map-${report.etag}`"
      :gps-location="report.location"
      :tactical-sign="report.tacticalSign"
    />
    <ImageGallery class="gallery" :storage-urls="report.storageUrls" />
  </MissionItemBaseCard>
</template>

<script lang="ts" setup>
import MissionItemBaseCard from '@/dashboard/widgets/MissionLogWidget/MissionItemBaseCard.vue'
import MiniMap from '@/dashboard/widgets/MissionLogWidget/MiniMap.vue'
import { SubReport } from '@/report/models/subReport'
import { useDate } from '@lion5/component-library'
import { ImageGallery } from '@lion5/component-library-firebase'

defineProps<{
  report: SubReport
}>()

const { getDateTime } = useDate()
</script>

<style lang="scss" scoped>
.report-card {
  display: grid;
  grid-template-columns: auto 200px;
  gap: var(--space-md) var(--space-xs);

  .gallery {
    grid-column: 1/3;
  }
}
.command-link {
  white-space: nowrap;
}
</style>
