<template>
  <WidgetWrapper>
    <h2>Einsatzprotokoll</h2>
    <div class="mission-log" v-if="missionLog && missionLog.length > 0">
      <MissionLogItem
        v-for="logItem in missionLog"
        :key="logItem.etag"
        :log-item="logItem"
      />
    </div>
    <div v-else>Für die Mission gibt es aktuell keine Daten.</div>
  </WidgetWrapper>
</template>

<script lang="ts" setup>
import type { WidgetSettings } from '@lion5/component-library-gridstack'
import { WidgetWrapper } from '@lion5/component-library-gridstack'
import MissionLogItem from '@/dashboard/widgets/MissionLogWidget/MissionLogItem.vue'
import { storeToRefs } from 'pinia'
import { useMissionLogStore } from '@/mission/stores/missionLog'

/**
 * This is a Widget Template. You can copy this template and start to implement your own widget.
 * Do not forget to add your widget to the {@link availableWidgets} map.
 */

defineProps<{
  settings: WidgetSettings
  defaultSettings: WidgetSettings
}>()

const { missionLog } = storeToRefs(useMissionLogStore())
</script>

<style lang="scss" scoped>
.mission-log {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  scroll-padding-block-start: var(--space-lg);
}
</style>
