<template>
  <DismissibleModal
    :modal-displayed="modelValue"
    @update:modalDisplayed="modelValue = false"
  >
    <form @submit="onSubmit">
      <div class="unit-modal">
        <h3>Taktisches Zeichen anlegen</h3>
        <BaseInput
          class="text-input"
          label="Name des Taktischen Zeichens"
          name="name"
        />
        <PreviewImageInput
          class="text-input"
          name="image"
          v-model="tacticalSignImage"
        />
        <div class="buttons-modal">
          <BaseButton variant="danger">Abbrechen</BaseButton>
          <BaseButton type="submit"> Taktisches Zeichen hinzufügen </BaseButton>
        </div>
      </div>
    </form>
  </DismissibleModal>
</template>

<script setup lang="ts">
import {
  BaseButton,
  BaseInput,
  DismissibleModal,
  PreviewImageInput,
} from '@lion5/component-library'
import { onBeforeMount } from 'vue'
import { storeToRefs } from 'pinia'
import {
  type CreateCustomTacticalSignForm,
  useCreateCustomTacticalSignStore,
} from '@/tactical-sign/stores/createCustomTacticalSign'
import { useForm } from 'vee-validate'
import { onBeforeRouteLeave } from 'vue-router'

const modelValue = defineModel<boolean>('modelValue')
const store = useCreateCustomTacticalSignStore()
const { name, tacticalSignImage } = storeToRefs(store)

onBeforeMount(async () => {
  store.resetFormErrors()
})

onBeforeRouteLeave(() => {
  reset()
})

const { handleSubmit, resetForm } = useForm<CreateCustomTacticalSignForm>({
  keepValuesOnUnmount: true,
  validationSchema: store.formSchema,
  initialValues: {
    name: '',
    image: undefined,
  },
})

const reset = () => {
  name.value = undefined
  tacticalSignImage.value = undefined
  resetForm()
}

const onSubmit = handleSubmit((values) => {
  store.publishTacticalSign(values)
  if (!store.formErrorMessage) {
    modelValue.value = false
    reset()
  }
})
</script>

<style lang="scss" scoped>
.unit-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-lg);
  gap: var(--space-md);
  width: 100%;

  .base-input-wrapper {
    width: 80%;
  }

  .text-input {
    width: 80%;
  }
}

.buttons-modal {
  display: flex;
  width: 80%;
  gap: var(--space-md);
}
</style>
