<template>
  <IconButton class="edit-button" @click="routeToEditPage">
    <i class="bi bi-pencil"></i>
  </IconButton>
</template>

<script lang="ts" setup>
import { IconButton } from '@lion5/component-library'
import { useRouter } from 'vue-router'

const props = defineProps<{
  id: string
}>()

const router = useRouter()

const routeToEditPage = () => {
  router.push(`/unit/edit/${props.id}`)
}
</script>

<style lang="scss" scoped>
.edit-button {
  display: flex;
  justify-content: center;

  i {
    color: var(--color-black);
    font-size: var(--font-size-1);
  }
}
</style>
