<template>
  <IconButton class="delete-button" @click="emit('deleteClicked', id)">
    <i class="bi bi-trash"></i>
  </IconButton>
</template>

<script lang="ts" setup>
import { defineEmits, defineProps } from 'vue'
import { IconButton } from '@lion5/component-library'

defineProps<{
  id: string
}>()

const emit = defineEmits(['deleteClicked'])
</script>

<style lang="scss" scoped>
.delete-button {
  display: flex;
  justify-content: center;

  i {
    cursor: pointer;
    color: var(--color-black);
    font-size: var(--font-size-1);
  }
}
</style>
