<template>
  <div class="hover-popup">
    <IconButton
      :disabled="!hasUser"
      class="unassign-button"
      @click="emit('unassignClicked', unit.id)"
      @mouseover="showPopup"
      @mouseleave="hidePopup"
    >
      <i class="bi bi-person-x"></i>
    </IconButton>
    <div v-if="isPopupVisible" class="popup">
      Diese Einheit hat keinen Nutzer oder der Nutzer ist an diese Einheit
      gebunden.
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, defineEmits, defineProps, ref } from 'vue'
import { IconButton } from '@lion5/component-library'
import type { Unit } from '@/unit/models/unit'

const props = defineProps<{
  unit: Unit
}>()

const emit = defineEmits(['unassignClicked'])

const hasUser = computed(() => !!props.unit.user?.displayName)
const isPopupVisible = ref(false)
const showPopup = () => {
  if (!hasUser.value) {
    isPopupVisible.value = true
  }
}
const hidePopup = () => {
  isPopupVisible.value = false
}
</script>

<style lang="scss" scoped>
.delete-button {
  display: flex;
  justify-content: center;

  i {
    cursor: pointer;
    color: var(--color-black);
    font-size: var(--font-size-1);
  }
}
.popup {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: var(--space-md);
  width: var(--popup-width);
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.hover-popup {
  position: relative;
  display: inline-block;
}
</style>
