<template>
  <div class="filter">
    <button
      class="assigned-button"
      :class="{ active: isActive === 'assigned' }"
      @click="buttonClicked('assigned')"
    >
      Zugewiesene Einheiten {{ numberAssignedUnits }}
    </button>
    <button
      class="not-assigned-button"
      :class="{ active: isActive === 'notAssigned' }"
      @click="buttonClicked('notAssigned')"
    >
      Freie Einheiten {{ numberAllUnits - numberAssignedUnits }}
    </button>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue'

defineProps<{
  numberAssignedUnits: number
  numberAllUnits: number
}>()

const emit = defineEmits(['filter-change'])
const isActive = ref('')

const buttonClicked = (filterValue: string) => {
  isActive.value = isActive.value === filterValue ? '' : filterValue
  emit('filter-change', isActive.value)
}
</script>

<style lang="scss" scoped>
.filter {
  display: flex;
  gap: var(--space-md);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-normal);
  padding-right: var(--space-md);
}
@media (max-width: 768px) {
  .filter {
    gap: var(--space-sm);
    padding-right: var(--space-sm);
  }
}

Button {
  border-radius: var(--border-radius-300);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  height: var(--button-height);
  background-color: var(--color-neutral-300);
  outline: none;
  border: none;
  transition: 0.2s ease-in;
  width: 50%;
}

.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}
</style>
