<template>
  <ItemCard class="information-card">
    <div class="card-header">
      <h2>Laufende Aufgaben</h2>
      {{ openCommands.length }} von {{ props.commands.length }} Aufgaben
    </div>
    <div
      class="card-content"
      v-for="command in openCommands"
      :key="command.commandId"
    >
      <img
        :src="
          props.reports.find(
            (value) => value.reportId == command.referencingReportId
          )?.tacticalSign?.path
        "
        alt="tacticalSign"
      />
      {{ command.commandText }}
    </div>
  </ItemCard>
</template>

<script setup lang="ts">
import { ItemCard } from '@lion5/component-library'
import { SubCommand } from '@/command/models/subCommand'
import { computed } from 'vue'
import { SubReport } from '@/report/models/subReport'

const props = defineProps<{
  commands: SubCommand[]
  reports: SubReport[]
}>()

const openCommands = computed<SubCommand[]>(() =>
  props.commands.filter((command) => !command.isCompleted())
)
</script>

<style scoped lang="scss">
.information-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 100%;
  margin: 0;

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-md);
  }

  img {
    width: var(--img-size-md);
    height: var(--img-size-md);
  }
}
</style>
