<template>
  <IconButton
    v-if="!isActive"
    class="bi bi-file-earmark-pdf file-earmark-pdf loading-animation"
    @click.stop="downloadReport"
  />
  <div v-else class="loading-container">
    <LoadingAnimation
      class="loading-animation"
      v-bind="{ type: 'grow' }"
      :style="{ '--size': '150%' }"
    />
  </div>
</template>
<script lang="ts" setup>
import { IconButton, LoadingAnimation } from '@lion5/component-library'
import { MissionService } from '@/mission/services/missionService'
import { ref } from 'vue'

const props = defineProps<{
  missionId: string
}>()

const isActive = ref(false)

const downloadReport = async () => {
  isActive.value = true
  await MissionService.downloadReport(props.missionId)
  isActive.value = false
}
</script>

<style>
.loading-container {
  width: 100%;
  height: 100%;
}
</style>
