<script lang="ts" setup>
import { ref, toRefs } from 'vue'

const props = defineProps({
  indeterminate: Boolean,
  className: String,
})

const { indeterminate, className } = toRefs(props)
const inputRef = ref<boolean>(false)
</script>

<template>
  <input
    ref="inputRef"
    :class="`${className} cursor-pointer`"
    :indeterminate="indeterminate"
    type="checkbox"
    v-bind="$attrs"
  />
</template>
