<template>
  <DismissibleModal
    :modal-displayed="showDeleteModal"
    @update:modalDisplayed="resetModal"
  >
    <div class="mission-modal">
      <h4>
        Möchten Sie wirklich den Einsatz "{{ deleteMission?.missionNumber }}"
        abschließen?
      </h4>
      <span>Diese Aktion kann nicht rückgängig gemacht werden.</span>
      <div class="buttons-modal">
        <BaseButton variant="danger" @click="sumbitModal"
          >Mission abschließen
        </BaseButton>
        <BaseButton @click="resetModal">Abbrechen</BaseButton>
      </div>
    </div>
  </DismissibleModal>
</template>

<script setup lang="ts">
import { BaseButton, DismissibleModal } from '@lion5/component-library'
import type { Mission } from '@/mission/models/mission'

const props = defineProps<{
  showDeleteModal: boolean
  deleteMission: Mission | undefined
}>()

const emit = defineEmits(['update:showDeleteModal', 'submitMissionChange'])
const resetModal = () => {
  emit('update:showDeleteModal', false)
}

const sumbitModal = () => {
  emit('submitMissionChange')
  resetModal()
}
</script>

<style scoped lang="scss">
.mission-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: var(--modal-width);
  padding: var(--space-lg);
  gap: var(--space-md);
}

.buttons-modal {
  display: flex;
  gap: var(--space-md);
}
</style>
