<template>
  <ItemCard class="information-card">
    <div class="card-header">
      <h2>Informationen</h2>
      <div class="card-header-infos">
        <DownloadReportButton :mission-id="props.mission.missionId" />
        <MissionStateBadge :state="props.mission.state" />
      </div>
    </div>
    <div class="card-content">
      <i class="bi bi-geo-alt"></i>
      {{ props.mission.address.street }}
      {{ props.mission.address.houseNumber }},
      <br />
      {{ props.mission.address.zipCode }}
      {{ props.mission.address.locality }}
    </div>
    <div class="card-content">
      <i class="bi bi-tag"></i>
      {{ props.mission.cues?.replace(/['"\[\]]+/g, '') ?? '' }}
    </div>
  </ItemCard>
</template>

<script lang="ts" setup>
import MissionStateBadge from '@/mission/components/MissionStateBadge.vue'
import { ItemCard } from '@lion5/component-library'
import { Mission } from '@/mission/models/mission'
import DownloadReportButton from '@/mission/components/DownloadReportButton.vue'

const props = defineProps<{
  mission: Mission
}>();

</script>

<style lang="scss" scoped>
.information-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 100%;
  margin: 0;

  .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-md);
  }

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-header-infos {
    display: flex;
    flex-direction: row;
  }
}
</style>
