<template>
  <div
    :class="{
      running: props.state == 'RUNNING',
      finished: props.state == 'FINISHED',
    }"
  >
    {{ props.state == 'RUNNING' ? 'Laufend' : 'Abgeschlossen' }}
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  state: string
}>()
</script>

<style scoped lang="scss">
div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-700);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  height: var(--button-height);

  .running {
    background: var(--color-success-300);
  }

  .finished {
    background: var(--color-danger-300);
  }
}
</style>
