<template>
  <ItemCard
    class="mission-card"
    :class="{
      'highlighted-mission': props.mission.missionId === currentMissionId,
    }"
    v-on:click="routeToMissionView()"
  >
    <div class="information">
      <h2 data-test="mission-title">
        {{ props.mission.missionNumber }}
      </h2>
      <span
        class="current-mission"
        v-if="mission.missionId === currentMissionId && !isMobileWidth"
      >
        &#x2022; Ausgewählter Einsatz</span
      >
    </div>
    <div class="action-buttons">
      <div class="hover-popup">
        <IconButton
          v-if="props.mission.state == 'RUNNING'"
          class="bi bi-qr-code share-button"
          @click.stop="openShareModal"
          :disabled="props.mission.missionId !== currentMissionId"
          @mouseover="showPopup"
          @mouseleave="hidePopup"
        ></IconButton>
        <div v-if="isPopupVisible" class="popup">
          Bitte wählen Sie den Einsatz aus, um den QR-Code zu teilen.
        </div>
      </div>
      <DownloadReportButton :mission-id="props.mission.missionId" />
      <IconButton
        v-if="props.mission.state == 'RUNNING' && !isAnonymous"
        class="bi bi-pencil edit-button"
        @click.stop="routeToEditMission"
      />
    </div>
    <div class="information-adress">
      <i class="bi bi-geo-alt"></i>
      <div>
        <span data-test="mission-address-street">
          {{ props.mission.address.street }}
          {{ props.mission.address.houseNumber }},
        </span>
        <br />
        <span data-test="mission-address-city">
          {{ props.mission.address.zipCode }}
          {{ props.mission.address.locality }}
        </span>
      </div>
    </div>
    <div class="information" data-test="mission-type">
      <i class="bi bi-tag"></i>
      {{ props.mission.cues?.replace(/['"\[\]]+/g, '') ?? '' }}
    </div>
    <BaseButton
      v-if="
        props.mission.state !== 'FINISHED' &&
        props.mission.missionId !== props.currentMissionId
      "
      class="select-mission-button"
      @click.stop="handleMissionSelected"
    >
      Einsatz auswählen
    </BaseButton>
    <div class="information" data-test="mission-date">
      <i class="bi bi-megaphone"></i>
      {{ getDateTime(props.mission.alarmDate) }}
    </div>
    <MissionStateBadge
      :state="props.mission.state"
      class="mission-state-badge"
    />
  </ItemCard>
  <JoinRequestModal
    v-if="isShareModalOpen"
    v-model="isShareModalOpen"
    :mission="mission"
  />
</template>

<script lang="ts" setup>
import {
  BaseButton,
  IconButton,
  ItemCard,
  useDate,
} from '@lion5/component-library'
import { Mission } from '@/mission/models/mission'
import MissionStateBadge from '@/mission/components/MissionStateBadge.vue'
import router from '@/router'
import { computed, ref } from 'vue'
import DownloadReportButton from '@/mission/components/DownloadReportButton.vue'
import JoinRequestModal from '@/mission/components/join-codes/JoinRequestModal.vue'
import { useAccountStore } from '@/account/stores/account'

const { getDateTime } = useDate()
const { isAnonymous } = useAccountStore()
const isPopupVisible = ref(false)
const isShareModalOpen = ref(false)

const mobileScreenWidth = 768
const isMobileWidth = computed(() => {
  return window.innerWidth < mobileScreenWidth
})

const showPopup = () => {
  if (props.mission.missionId !== props.currentMissionId) {
    isPopupVisible.value = true
  }
}
const hidePopup = () => {
  isPopupVisible.value = false
}

const routeToMissionView = () => {
  router.push({
    name: 'missionView',
    params: { missionId: props.mission.missionId },
  })
}

const routeToEditMission = () => {
  router.push('/mission/edit/' + props.mission.missionId)
}

const handleMissionSelected = () => {
  emit('missionSelected', props.mission.missionId)
}

const props = defineProps<{
  mission: Mission
  currentMissionId?: string
}>()

const emit = defineEmits(['missionSelected'])

const openShareModal = () => {
  isShareModalOpen.value = true
}
</script>

<style lang="scss" scoped>
.highlighted-mission {
  border: 2px solid var(--color-primary);
}
.mission-card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: var(--space-sm);
  width: 100%;
  margin: 0;
  cursor: pointer;

  .information {
    grid-column: span 4;
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
    align-items: center;
  }

  .information-adress {
    grid-column: span 6;
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
    align-items: center;
  }

  .current-mission {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
  }

  .share-button,
  .edit-button {
    position: relative; /* Ensure the button is positioned relative to its parent */

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-500);
    padding: var(--space-sm);
    width: var(--img-size-md);
    height: var(--img-size-md);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--color-neutral-300);
    }
  }

  .action-buttons {
    grid-column: 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  .mission-state-badge {
    grid-column: 6;
  }

  .select-mission-button {
    grid-column: 6;
    justify-self: flex-end;
    padding: var(--space-sm) var(--space-md);
  }

  h2 {
    font-size: var(--font-size-2);
  }

  .icon-button,
  i {
    font-size: var(--font-size-3);
  }
}
.popup {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: var(--space-md);
  width: var(--popup-width);
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.hover-popup {
  position: relative;
  display: inline-block;
}
</style>
