<template>
  <div class="filter">
    <Button
      :class="{ active: isActive === 'buttonRunning' }"
      @click="buttonClicked('buttonRunning')"
    >
      Laufend
    </Button>
    <Button
      :class="{ active: isActive === 'buttonFinished' }"
      @click="buttonClicked('buttonFinished')"
    >
      Abgeschlossen
    </Button>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue'

const emit = defineEmits(['button-clicked'])
const isActive = ref('')

const buttonClicked = (buttonName: string) => {
  isActive.value = isActive.value === buttonName ? '' : buttonName
  emit('button-clicked', isActive.value)
}
</script>

<style lang="scss" scoped>
.filter {
  display: flex;
  gap: var(--space-md);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-normal);
  padding-right: var(--space-md);
}
@media (max-width: 768px) {
  .filter {
    gap: var(--space-sm);
    padding-right: var(--space-sm);
  }
}

Button {
  border-radius: var(--border-radius-300);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  height: var(--button-height);
  background-color: var(--color-neutral-300);
  outline: none;
  border: none;
  transition: 0.2s ease-in;
}

.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}
</style>
