<script lang="ts" setup>
const props = defineProps<{
  tacticalSign: string
}>()
</script>

<template>
  <img :src="props.tacticalSign" alt="image" />
</template>

<style lang="scss" scoped>
img {
  width: var(--font-size-4);
}
</style>
