<template>
  <div class="input">
    <BaseInput
      v-model="filter"
      label="Filter nach Einheiten..."
      name="filter"
      type="text"
    />
  </div>
  <table>
    <thead>
      <tr>
        <th
          v-for="header in table.getHeaderGroups()[0].headers"
          :key="header.id"
        >
          <FlexRender
            v-if="!header.isPlaceholder"
            :props="header.getContext()"
            :render="header.column.columnDef.header"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in table.getRowModel().rows" :key="row.id">
        <td v-for="cell in row.getVisibleCells()" :key="cell.id">
          <FlexRender
            :props="cell.getContext()"
            :render="cell.column.columnDef.cell"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <span
      >Seite {{ table.getState().pagination.pageIndex + 1 }} von
      {{ table.getPageCount() }} - {{ table.getRowCount() }} Einheiten</span
    >
    <div class="pagination-buttons">
      <button
        :disabled="!table.getCanPreviousPage()"
        class="pagination-button"
        @click="table.previousPage"
      >
        Zurück
      </button>
      <button
        :disabled="!table.getCanNextPage()"
        class="pagination-button"
        @click="table.nextPage"
      >
        Weiter
      </button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import type { Row, RowSelectionState, Table } from '@tanstack/vue-table'
import {
  createColumnHelper,
  FlexRender,
  getCoreRowModel,
  getFilteredRowModel,
  getPaginationRowModel,
  useVueTable,
} from '@tanstack/vue-table'
import { h, ref, watch } from 'vue'
import { Unit } from '@/unit/models/unit'
import IndeterminateCheckbox from '@/mission/components/IndeterminateCheckbox.vue'
import TacticalSignIcon from '@/mission/components/TacticalSignIcon.vue'
import { Mission } from '@/mission/models/mission'
import { BaseInput } from '@lion5/component-library'

const props = defineProps<{
  allUnits: Unit[]
  selectedMission: Mission
}>()

//const emits = defineEmits(['handleToast', 'unitSelected'])
const selectedUnits = defineModel<string[]>('selectedUnits')

const filter = ref('')
const columnHelper = createColumnHelper<Unit>()

const columns = ref([
  {
    id: 'select',
    header: ({ table }: { table: Table<Unit> }) => {
      return h(IndeterminateCheckbox, {
        checked: table.getIsAllRowsSelected(),
        indeterminate: table.getIsSomeRowsSelected(),
        onChange: table.getToggleAllRowsSelectedHandler(),
      })
    },
    cell: ({ row }: { row: Row<Unit> }) => {
      return h(IndeterminateCheckbox, {
        checked: row.getIsSelected(),
        disabled: !row.getCanSelect(),
        onChange: row.getToggleSelectedHandler(),
      })
    },
  },
  columnHelper.accessor('callSign', {
    header: () => 'Rufzeichen',
    cell: (info) => info.getValue(),
  }),
  columnHelper.accessor('tacticalSign', {
    header: () => 'Taktisches Zeichen',
    cell: (info) => h(TacticalSignIcon, { tacticalSign: info.getValue().path }),
  }),
])
const selectRows = () => {
  const selection: RowSelectionState = {}
  props.selectedMission.units.forEach((unit) => {
    selection[unit.id] = true
  })
  return selection
}

const rowSelection = ref<RowSelectionState>({})
watch(
  () => props.selectedMission.units,
  () => {
    rowSelection.value = selectRows()
  },
  { immediate: true }
)
const table = ref(
  useVueTable({
    get data() {
      return props.allUnits
    },
    getRowId: (row) => row.id,
    get columns() {
      return columns.value
    },
    getCoreRowModel: getCoreRowModel(),
    getPaginationRowModel: getPaginationRowModel(),
    getFilteredRowModel: getFilteredRowModel(),
    initialState: {
      pagination: {
        pageSize: 8,
      },
    },
    state: {
      get globalFilter() {
        return filter.value
      },
      get rowSelection() {
        return rowSelection.value
      },
    },
    enableRowSelection: true,
    onRowSelectionChange: (updateOrValue) => {
      rowSelection.value =
        typeof updateOrValue === 'function'
          ? updateOrValue(rowSelection.value)
          : updateOrValue
      saveUnitChanges()
    },
  })
)

function saveUnitChanges() {
  selectedUnits.value = Object.keys(rowSelection.value).filter(
    (key) => rowSelection.value[key]
  )
}
</script>

<style lang="scss" scoped>
.input {
  width: 50%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-sm);
}

.pagination-buttons {
  display: flex;
  gap: var(--space-sm);

  button {
    padding: var(--space-sm);
  }
}

table {
  font-size: var(--font-size-body);
}

th,
td {
  padding: 8px;
  text-align: left;
}

td {
  border-top: 1px solid var(--color-neutral-300);
}

.pagination-button {
  border-radius: var(--border-radius-300);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  height: var(--button-height-sm);
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  transition: 0.2s ease-in;
}

.pagination-button:disabled {
  color: var(--color-neutral-500);
  border: 1px solid var(--color-neutral-500);
}
</style>
