<template>
  <ItemCard class="information-card">
    <div class="headline">
      <h2>Einheiten</h2>
      <i
        v-if="mission.state === 'RUNNING' && !isAnonymous"
        class="bi bi-pencil edit-button"
        @click="routeToEditMission"
      />
    </div>
    <div
      v-for="unit in props.mission.units"
      :key="unit.id"
      class="card-content"
    >
      <img :src="unit.tacticalSign.path" alt="Icon" />
      {{ unit.callSign }}
    </div>
  </ItemCard>
</template>

<script lang="ts" setup>
import { ItemCard } from '@lion5/component-library'
import router from '@/router'
import type { Mission } from '@/mission/models/mission'
import { useAccountStore } from '@/account/stores/account'

const { isAnonymous } = useAccountStore()

const props = defineProps<{
  mission: Mission
}>()

const routeToEditMission = () => {
  router.push('/mission/edit/' + props.mission.missionId)
}
</script>

<style lang="scss" scoped>
.information-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 100%;
  margin: 0;

  .headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
  }

  .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-md);
  }

  img {
    width: var(--img-size-md);
    height: var(--img-size-md);
  }
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-500);
  padding: var(--space-sm);
  width: var(--img-size-md);
  height: var(--img-size-md);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color-neutral-300);
  }
}

i {
  font-size: var(--font-size-3);
}
</style>
