<template>
  <ToastProvider>
    <ToastRoot v-model:open="showToast" class="ToastRoot">
      <ToastTitle class="ToastTitle">
        <i class="bi bi-check2-circle"></i>
        Änderungen gespeichert
      </ToastTitle>
      <ToastDescription class="ToastDescription">
        Die Änderungen an den Einheiten wurden erfolgreich gespeichert.
      </ToastDescription>
    </ToastRoot>

    <ToastViewport class="ToastViewport" />
  </ToastProvider>
</template>

<script lang="ts" setup>
import { ref, watch } from 'vue'
import {
  ToastDescription,
  ToastProvider,
  ToastRoot,
  ToastTitle,
  ToastViewport,
} from 'radix-vue'

const props = defineProps({
  showToast: Boolean,
})

const showToast = ref(props.showToast)
watch(
  () => props.showToast,
  (value) => {
    showToast.value = value
  }
)
</script>

<style lang="scss">
.ToastViewport {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: var(--space-md);
  width: var(--toast-width);
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 3000;
  outline: none;
}

.ToastRoot {
  background-color: var(--color-white);
  border-radius: var(--border-radius-300);
  box-shadow: var(--shadow-300);
  padding: var(--space-md);
  display: grid;
  grid-template-areas: 'title' 'description';
  grid-template-columns: auto max-content;
  column-gap: var(--space-md);
  align-items: center;
}

.ToastRoot[data-state='open'] {
  animation: show 100ms ease-in;
}

.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}

.ToastRoot[data-swipe='end'] {
  animation: hide 100ms ease-in;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ToastTitle {
  grid-area: title;
  margin-bottom: var(--space-xs);
  font-size: var(--font-size-3);
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.ToastDescription {
  grid-area: description;
  margin: 0;
  font-size: var(--font-size-1);
  line-height: var(--line-height-body);
}

.bi-check2-circle {
  color: var(--color-success);
  font-size: var(--font-size-3);
}
</style>
