<template>
  <LeafletLayer :map="map" :layer="missionSectionLayer" />
</template>
<script setup lang="ts">
import { GeoJSON, Map as LeafletMap } from 'leaflet'
import LeafletLayer from '@/map/shapes/components/LeafletLayer.vue'
import { onMounted } from 'vue'
import { ShapeCommand } from '@/map/shapes/models/shapeCommand'
import { MissionSection } from '@/map/shapes/missionSection/models/missionSection'
import { MissionSectionGeoJSON } from '@/map/shapes/missionSection/models/missionSectionGeoJSON'

const props = defineProps<{ map: LeafletMap; missionSection: MissionSection }>()
const emit = defineEmits<{
  (e: 'update', missionSection: MissionSection): void
  (e: 'remove', missionSection: MissionSection): void
}>()

const missionSectionLayer = new MissionSectionGeoJSON(
  props.missionSection.geoJson
)

onMounted(() => {
  missionSectionLayer.addUpdateListener((newMissionSectionGeoJson) => {
    const missionSection = new MissionSection(
      props.missionSection.missionSectionId,
      ShapeCommand.UPDATED,
      new Date(),
      newMissionSectionGeoJson.toGeoJSON() as GeoJSON.FeatureCollection<any>
    )
    emit('update', missionSection)
  })
  missionSectionLayer.addRemoveListener((newMissionSectionGeoJson) => {
    const missionSection = new MissionSection(
      props.missionSection.missionSectionId,
      ShapeCommand.DELETED,
      new Date(),
      newMissionSectionGeoJson.toGeoJSON() as GeoJSON.FeatureCollection<any>
    )
    emit('remove', missionSection)
  })
})
</script>
