<template>
  <NoPermissionModal v-if="noPermission" v-model="noPermission" />
  <div class="content">
    <p class="content-header">Eigene Daten</p>
    <form class="form" @submit="onSubmit">
      <BaseInputV2 label="Vor- & Nachname" name="name" />
      <BaseInputV2 label="Dienststelle" name="organization" />
      <BaseInputV2
        label="Funkrufname oder Bezeichnung der Einheit"
        name="callSign"
      />
      <TacticalSignSelect
        v-model="tacticalSign"
        name="tacticalSignPath"
        :options="tacticalSignOptions"
      />
      <div class="button-group">
        <IconButton @click="previousPage">
          <i class="bi bi-arrow-left-circle icon-button"></i>
        </IconButton>
        <BaseButton class="button" type="submit">Warteraum betreten</BaseButton>
      </div>
    </form>
  </div>
</template>

<script setup lang="ts">
import { BaseButton, BaseInputV2, IconButton } from '@lion5/component-library'

import { onBeforeMount, ref } from 'vue'
import TacticalSignSelect from '@/base/components/input/TacticalSignSelect/TacticalSignSelect.vue'
import type { TacticalSign } from '@/base/models/tacticalSign'
import { useForm } from 'vee-validate'
import {
  type CreateAdhocJoinRequestForm,
  useCreateAdhocJoinRequestStore,
} from '@/join-codes/stores/createAdhocJoinRequest'
import { onBeforeRouteLeave } from 'vue-router'
import { storeToRefs } from 'pinia'
import NoPermissionModal from '@/join-codes/components/NoPermissionModal.vue'

const code = defineModel<string>('code', { default: '' })
const pin = defineModel<string>('pin', { default: '' })
defineProps<{
  tacticalSignOptions: TacticalSign[]
}>()

const noPermission = ref(false)

const emit = defineEmits(['updateJoinRequest', 'previousPage'])

const previousPage = () => {
  emit('previousPage')
}
const store = useCreateAdhocJoinRequestStore()
const { name, organization, callSign, tacticalSign } = storeToRefs(store)

onBeforeMount(async () => {
  store.resetFormErrors()
})

const { handleSubmit, resetForm } = useForm<CreateAdhocJoinRequestForm>({
  validationSchema: store.formSchema,
  initialValues: {
    name: '',
    organization: '',
    callSign: '',
    tacticalSignPath: '',
  },
})
const reset = () => {
  name.value = undefined
  organization.value = undefined
  callSign.value = undefined
  tacticalSign.value = undefined
  resetForm()
}
onBeforeRouteLeave(() => {
  reset()
})
const onSubmit = handleSubmit(async (values) => {
  try {
    const response = await store.publishAdhocJoinRequest(
      values,
      code.value,
      pin.value
    )
    if (!store.formErrorMessage && !(response instanceof Error)) {
      emit('updateJoinRequest', response)
    }
  } catch (error) {
    if (error instanceof Error && error.name == 'PermissionError') {
      noPermission.value = true
    }
  }
})
</script>

<style scoped lang="scss">
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: var(--space-md);
  gap: var(--space-md);

  .form {
    width: min(80%, var(--dialog-width));
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-lg);
    padding-top: var(--space-md);
  }

  p {
    font-size: var(--font-size-3);
    margin: 0;
  }

  .base-input-wrapper {
    width: 100%;
    height: var(--input-field-height);
    padding: 0;
    margin: 0;

    :deep(input),
    :deep(select) {
      background-color: var(--color-white);
    }
  }

  .content-header {
    font-size: var(--font-size-5);
    margin: 0;
  }

  .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: auto;
    margin-bottom: var(--space-md);
    gap: var(--space-md);
    width: 100%;
    .icon-button {
      color: var(--color-neutral-800);
      font-size: var(--font-size-5);
    }

    .button {
      width: 100%;
    }
  }
}
</style>
