<template>
  <div class="content">
    <p class="content-header">
      Leider wurde Ihre Anfrage abgelehnt. Bitte versuchen Sie es erneut, falls
      dies ein Fehler war.
    </p>
    <BaseButton class="button" @click="routeToLogin"
      >Zurück zum Login</BaseButton
    >
  </div>
</template>

<script setup lang="ts">
import { BaseButton } from '@lion5/component-library'
import router from '@/router'

const routeToLogin = async () => {
  await router.push({
    name: 'Login',
  })
}
</script>

<style scoped lang="scss">
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-md);
  gap: var(--space-md);

  .content-header {
    text-align: center;
    font-size: var(--font-size-4);
    margin: 0;
    width: 50%;
  }

  @media (max-width: 768px) {
    .content-header {
      width: 90%;
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: auto;
    margin-bottom: var(--space-md);
    gap: var(--space-md);
    .icon-button {
      color: var(--color-neutral-800);
      font-size: var(--font-size-5);
    }
  }
}
</style>
