<template>
  <div class="content">
    <p class="content-header">Einsatz beitreten</p>
    <p>Einsatzcode eingeben</p>
    <Form>
      <CodeInput
        name="code"
        v-model:code="code"
        :partLength="partLength"
        :partNumber="partNumber"
      />
    </Form>
    <BaseButton class="button" @click="nextPage">Weiter</BaseButton>
  </div>
</template>

<script setup lang="ts">
import { BaseButton, CodeInput } from '@lion5/component-library'
import { useForm } from 'vee-validate'
import { watch } from 'vue'

const partLength = 4
const partNumber = 2
const code = defineModel<string>('code', { default: '' })
const error = defineModel<string>('error', { default: '' })
const emit = defineEmits(['nextPage'])
const { setErrors, setTouched } = useForm({})

const nextPage = () => {
  if ((code.value as string).length < partLength * partNumber) {
    setErrors({
      code: `Der Code muss ${partLength * partNumber} Zeichen lang sein.`,
    })
    setTouched({ code: true })
  } else {
    emit('nextPage')
  }
}

watch(error, (newError) => {
  if (newError) {
    setErrors({ code: newError })
    setTouched({ code: true })
  }
})
</script>

<style scoped lang="scss">
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-md);
  gap: var(--space-md);

  p {
    font-size: var(--font-size-2);
    margin: 0;
  }

  .base-input-wrapper {
    margin-top: var(--space-md);
    width: min(80%, var(--dialog-width));
    :deep(input) {
      background-color: var(--color-white);
    }
  }

  .content-header {
    font-size: var(--font-size-5);
    margin: 0;
  }

  .button {
    width: min(80%, var(--dialog-width));
    margin-block-start: auto;
    margin-bottom: var(--space-md);
  }
}
::v-deep
  .input
  .code-text-input
  .text-input-part-wrapper
  .base-input-wrapper
  [id^='code-input-'] {
  height: var(--space-lg-2);
  font-size: var(--font-size-3);
}
::v-deep .input .code-text-input .text-input-part-wrapper .delimiter {
  padding-right: var(--space-md);
  padding-left: var(--space-md);
}
</style>
