<template>
  <div class="content">
    <p class="content-header">Einsatz beitreten</p>
    <p class="mission">{{ missionNr }}</p>
    <p>Pin eingeben</p>
    <Form>
      <CodeInput
        name="pin"
        v-model:code="pin"
        :partLength="partLength"
        :partNumber="partNumber"
        :input-mode="'numeric'"
      />
    </Form>
    <div class="button-group">
      <IconButton @click="previousPage">
        <i class="bi bi-arrow-left-circle icon-button"></i>
      </IconButton>
      <BaseButton class="button" @click="nextPage">Beitreten</BaseButton>
    </div>
  </div>
</template>

<script setup lang="ts">
import { BaseButton, CodeInput, IconButton } from '@lion5/component-library'
import { watch } from 'vue'
import { useForm } from 'vee-validate'

defineProps<{
  missionNr: string
}>()
const partLength = 1
const partNumber = 6
const pin = defineModel<string>('pin', { default: '' })
const error = defineModel<string>('error', { default: '' })
const emit = defineEmits(['nextPage', 'previousPage'])
const { setErrors, setTouched } = useForm({})

const nextPage = () => {
  if ((pin.value as string).length < partLength * partNumber) {
    setErrors({
      pin: `Der Code muss ${partLength * partNumber} Zeichen lang sein.`,
    })
    setTouched({ pin: true })
  } else {
    emit('nextPage')
  }
}

watch(error, (newError) => {
  console.log('newError', newError)
  if (newError) {
    setErrors({ pin: newError })
    setTouched({ pin: true })
  }
})

const previousPage = () => {
  emit('previousPage')
}
</script>

<style scoped lang="scss">
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-md);
  gap: var(--space-md);

  p {
    font-size: var(--font-size-2);
    margin: 0;
  }

  .base-input-wrapper {
    margin-top: var(--space-md);
    width: min(80%, var(--dialog-width));
    :deep(input) {
      background-color: var(--color-white);
    }
  }

  .content-header {
    font-size: var(--font-size-5);
    margin: 0;
  }

  .mission {
    font-size: var(--font-size-4);
    font-weight: bold;
    margin: 0;
  }

  .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: auto;
    margin-bottom: var(--space-md);
    gap: var(--space-md);
    width: min(80%, var(--dialog-width));

    .icon-button {
      color: var(--color-neutral-800);
      font-size: var(--font-size-5);
    }

    .button {
      width: 100%;
    }
  }
}
::v-deep
  .input
  .code-text-input
  .text-input-part-wrapper
  .base-input-wrapper
  [id^='code-input-'] {
  width: var(--space-lg-2);
  height: var(--space-lg-2);
  font-size: var(--font-size-3);
}
::v-deep .input .code-text-input .text-input-part-wrapper .delimiter {
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
}
</style>
