<template>
  <div class="content">
    <p class="content-header">
      Bitte haben Sie einen Moment Geduld, ein Verantwortlicher wird sie in
      Kürze freischalten.
    </p>
    <div class="loader"></div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-md);
  gap: var(--space-md);

  .content-header {
    text-align: center;
    font-size: var(--font-size-4);
    margin: 0;
    width: 50%;
  }

  @media (max-width: 768px) {
    .content-header {
      width: 90%;
    }
  }

  .loader {
    margin-top: var(--space-md);
    border: var(--space-md) solid var(--color-neutral-100);
    border-top: var(--space-md) solid var(--color-primary);
    border-radius: 50%;
    width: var(--loader-size);
    height: var(--loader-size);
    animation: spin 2s linear infinite;
    align-self: center;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
</style>
