<template>
  <DismissibleModal
    v-model:modal-displayed="modalDisplayed"
    class="select-mission-modal"
    data-test="select-mission-modal"
  >
    <h3>Einsatz wählen</h3>
    <form @submit.prevent="onSubmit" v-if="missions.length">
      <span>Bitte wählen Sie einen Einsatz.</span>
      <SelectInput
        id="mission-select"
        name="missions"
        label="Einsatz"
        data-test="mission-select-input"
        v-model="selectedMissionId"
        :options="missionOptions"
      />

      <BaseButton
        class="select-mission-button"
        type="submit"
        :disabled="!selectedMissionId"
        data-test="select-mission-button"
        :loading="busy"
      >
        Speichern
      </BaseButton>
    </form>
    <div v-else class="no-missions-message">
      <MessageBox :error-message="errorMessage" :info-message="infoMessage" />
      <BaseButton
        class="reload-missions-button"
        @click="fetchMissions"
        :loading="busy"
      >
        Neu Laden
      </BaseButton>
    </div>
  </DismissibleModal>
</template>

<script setup lang="ts">
import {
  BaseButton,
  DismissibleModal,
  MessageBox,
  SelectInput,
  SelectOption,
} from '@lion5/component-library'
import type { Mission } from '@/mission/models/mission'
import { computed, ref } from 'vue'
import { storeToRefs } from 'pinia'
import { useMissionsStore } from '@/mission/stores/missions'

const selectedMissionId = ref<string>()
const { missions, busy, errorMessage, infoMessage } =
  storeToRefs(useMissionsStore())

const { fetchAllMissions } = useMissionsStore()

const fetchMissions = async () => {
  await fetchAllMissions()
}

const props = withDefaults(
  defineProps<{
    visible?: boolean
  }>(),
  {
    visible: false,
  }
)

const emit = defineEmits<{
  (e: 'mission-select', mission: Mission): void
  (e: 'update:visible', value: boolean): void
}>()

const modalDisplayed = computed({
  get() {
    return props.visible
  },
  set(visible) {
    emit('update:visible', visible)
  },
})

const missionOptions = computed(() =>
  missions.value.map((mission) => {
    return new SelectOption(
      mission.missionNumber,
      `Einsatz ${mission.missionNumber}`
    )
  })
)
const onSubmit = () => {
  if (!selectedMissionId.value) return
  const mission = missions.value.find(
    (m) => m.missionNumber === selectedMissionId.value
  )
  if (!mission) return
  emit('mission-select', mission)
}
</script>
<style scoped lang="scss">
.select-mission-modal {
  z-index: 1000;

  &.basic-modal {
    overflow: visible;
  }

  h3 {
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--space-md);
  }

  :deep(.content) {
    padding: var(--space-md);

    form,
    .no-missions-message {
      display: flex;
      flex-direction: column;
      gap: var(--space-md);

      .select-mission-button,
      .reload-missions-button {
        align-self: center;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
</style>
