<template>
  <BaseModal v-model:modalDisplayed="localModalDisplayed">
    <form v-if="modalDisplayed" @submit="onSubmit" class="shape-form">
      <h2>Bereich anlegen</h2>
      <BaseSelect
        name="shapeType"
        :options="shapeOptions"
        label="Bereichstyp"
      />
      <TacticalSignSelect
        v-if="shapeType === ShapeType.DANGER_ZONE"
        name="tacticalSignPath"
        label="Taktisches Zeichen"
        :options="tacticalSignOptions"
      />
      <BaseInput
        v-if="shapeType === ShapeType.DANGER_ZONE"
        id="label"
        name="label"
        label="Label"
      />
      <BaseInput
        v-if="shapeType === ShapeType.MISSION_SECTION"
        id="name"
        name="name"
        label="Name"
      />
      <BaseInput
        v-if="shapeType === ShapeType.MISSION_SECTION"
        id="color"
        name="color"
        label="Farbe"
        type="color"
      />
      <BaseButton type="submit">Bereich anlegen</BaseButton>
    </form>
  </BaseModal>
</template>

<script lang="ts" setup>
import {
  BaseButton,
  BaseModal,
  BaseInput,
  BaseSelect,
  SelectOption,
} from '@lion5/component-library'
import { computed } from 'vue'
import { ShapeType } from '@/map/shapes/models/shapeType'
import { DangerZone } from '@/map/shapes/dangerZone/models/dangerZone'
import { TacticalSign } from '@/base/models/tacticalSign'
import { Form, useFieldValue, useForm } from 'vee-validate'
import { MissionSection } from '@/map/shapes/missionSection/models/missionSection'
import TacticalSignSelect from '@/base/components/input/TacticalSignSelect/TacticalSignSelect.vue'
import { useTacticalSigns } from '@/base/composables/useTacticalSigns'
import type { GeoJsonConvertible } from '@lion5/component-library-leaflet'

/* TODO(michigg): I let a bug here. I want to use a DismissibleModal first,
    but if the user closes the modal using the dismiss button
    the previous created shape will not be cleared automatically.
    I've opened a Issue in the component library, see https://github.com/lion5/component-library/issues/51.
    The DismissibleModal should emit an additional dismiss event. */
interface DangerZoneForm {
  tacticalSignPath: string
  label: string
}

interface MissionSectionForm {
  name: string
  color: string
}

const props = defineProps<{
  modalDisplayed: boolean
  layer: GeoJsonConvertible
}>()
const emit = defineEmits<{
  (e: 'update:modalDisplayed', value: boolean): void
  (e: 'add:dangerZone', dangerZone: DangerZone): void
  (e: 'add:missionSection', missionSection: MissionSection): void
}>()

const { getReportTacticalSigns } = useTacticalSigns()
const tacticalSignOptions = getReportTacticalSigns()

const localModalDisplayed = computed({
  get() {
    return props.modalDisplayed
  },
  set(newModalDisplayed: boolean) {
    emit('update:modalDisplayed', newModalDisplayed)
  },
})

const { handleSubmit } = useForm<MissionSectionForm | DangerZoneForm>()
const shapeOptions = [
  new SelectOption(ShapeType.DANGER_ZONE, 'Gefahrenzone'),
  new SelectOption(ShapeType.MISSION_SECTION, 'Einsatzabschnitt'),
]
const shapeType = useFieldValue('shapeType')

const onSubmit = handleSubmit((values: any) => {
  switch (shapeType.value) {
    case ShapeType.DANGER_ZONE:
      const dangerZoneForm = values as DangerZoneForm
      const dangerZone = DangerZone.fromLayer(
        props.layer,
        dangerZoneForm.label,
        TacticalSign.withPrefix(dangerZoneForm.tacticalSignPath)
      )
      emit('add:dangerZone', dangerZone)
      return
    case ShapeType.MISSION_SECTION:
      const missionSectionForm = values as MissionSectionForm
      const missionSection = MissionSection.fromLayer(
        props.layer,
        missionSectionForm.name,
        missionSectionForm.color
      )
      emit('add:missionSection', missionSection)
      return
  }
})
</script>

<style lang="scss" scoped>
.shape-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-md);
}
</style>
