<template>
  <CreateShapeModal
    v-if="currentShape"
    v-model:modal-displayed="shapeModalDisplayed"
    :layer="currentShape"
    @add:danger-zone="onAddDangerZone"
    @add:mission-section="onAddMissionSection"
  />
  <div v-if="displayDangerZones" class="layers" style="display: none">
    <DangerZoneLayer
      v-for="[key, dangerZone] in dangerZones"
      :key="`${Math.abs(dangerZone.createdAt.getTime())}-${key}`"
      :map="map"
      :danger-zone="dangerZone"
      @update="publishDangerZone"
      @remove="publishDangerZone"
    />
  </div>
  <div v-if="displayMissionSections" class="layers" style="display: none">
    <MissionSectionLayer
      v-for="[key, missionSection] in missionSections"
      :key="`${Math.abs(missionSection.createdAt.getTime())}-${key}`"
      :map="map"
      :mission-section="missionSection"
      @update="publishMissionSection"
      @remove="publishMissionSection"
    />
  </div>
</template>

<script lang="ts" setup>
import { useShapeCreatorControl } from '@/map/shapes/composables/useShapeCreatorControl'
import CreateShapeModal from '@/map/shapes/components/CreateShapeModal.vue'
import { onMounted } from 'vue'
import { useGeoManUtils } from '@/map/shapes/composables/useGeoManUtils'
import { Map as LeafletMap } from 'leaflet'
import { DangerZone } from '@/map/shapes/dangerZone/models/dangerZone'
import { MissionSection } from '@/map/shapes/missionSection/models/missionSection'
import { useDangerZoneStore } from '@/map/shapes/dangerZone/useDangerZoneStore'
import { useMissionSectionStore } from '@/map/shapes/missionSection/useMissionSectionStore'
import { storeToRefs } from 'pinia'
import DangerZoneLayer from '@/map/shapes/dangerZone/DangerZoneLayer.vue'
import MissionSectionLayer from '@/map/shapes/missionSection/MissionSectionLayer.vue'
import { FilterOption, useFilter } from '@/map/stores/filter'

const props = defineProps<{
  map: LeafletMap
}>()

const { displayFilterOption: displayDangerZones } = useFilter(
  FilterOption.DANGER_ZONES
)
const { displayFilterOption: displayMissionSections } = useFilter(
  FilterOption.MISSION_SECTIONS
)

const { shapeModalDisplayed, currentShape, onAddShape, onFinishAddShape } =
  useShapeCreatorControl()
onMounted(() => {
  const { registerShapeCreateListener } = useGeoManUtils()
  registerShapeCreateListener(props.map, onAddShape)
})

// Danger Zones
const dangerZoneStore = useDangerZoneStore()
const { dangerZones } = storeToRefs(dangerZoneStore)
const onAddDangerZone = (dangerZone: DangerZone) => {
  onFinishAddShape()
  dangerZoneStore.publishDangerZone(dangerZone)
}
const publishDangerZone = (dangerZone: DangerZone) => {
  dangerZoneStore.publishDangerZone(dangerZone)
}

// Mission Sections
const missionSectionStore = useMissionSectionStore()
const { missionSections } = storeToRefs(missionSectionStore)
const onAddMissionSection = (missionSection: MissionSection) => {
  onFinishAddShape()
  missionSectionStore.publishMissionSection(missionSection)
}
const publishMissionSection = (missionSection: MissionSection) => {
  missionSectionStore.publishMissionSection(missionSection)
}
</script>
