<template>
  <JoinLayout class="page">
    <div class="header">
      <DigimapIcon class="icon" />
      <h1>Digimap</h1>
    </div>

    <div class="animation-wrapper">
      <Transition name="slide">
        <JoinCode
          v-if="currentComponent === JoinCode"
          v-model:code="code"
          v-model:error="errorCode"
          :tacticalSignOptions="tacticalSignOptions"
          @next-page="nextPage"
          @previous-page="previousPage"
          class="content"
        />
        <JoinPin
          v-else-if="currentComponent === JoinPin"
          v-model:pin="pin"
          v-model:error="errorPin"
          :mission-nr="missionNr"
          @next-page="nextPage"
          @previous-page="previousPage"
          class="content"
        />
        <CreateAdhocJoinRequest
          v-else-if="currentComponent === CreateAdhocJoinRequest"
          :code="code"
          :pin="pin"
          :tactical-sign-options="tacticalSignOptions"
          @update-join-request="updateJoinRequest"
          @previous-page="previousPage"
          class="content"
        />
        <WaitingScreen v-else-if="currentComponent === WaitingScreen" />
        <JoinRequestRejected
          v-else-if="currentComponent === JoinRequestRejected"
        />
      </Transition>
    </div>

    <div class="progress-indicator" v-if="currentComponent !== WaitingScreen">
      <div
        v-for="(component, index) in progressComponents"
        :key="index"
        :class="{ 'progress-dot': true, filled: index <= pageCount }"
      ></div>
    </div>
  </JoinLayout>
</template>

<script setup lang="ts">
import JoinLayout from '@/base/layout/JoinLayout.vue'
import JoinCode from '@/join-codes/components/joinSubPages/JoinCode.vue'
import JoinPin from '@/join-codes/components/joinSubPages/JoinPin.vue'
import WaitingScreen from '@/join-codes/components/joinSubPages/WaitingScreen.vue'
import { computed, onBeforeMount, ref, watch } from 'vue'
import { useTacticalSigns } from '@/base/composables/useTacticalSigns'
import DigimapIcon from '@/base/icons/DigimapIcon.vue'
import { useRoute } from 'vue-router'
import { useAccountStore } from '@/account/stores/account'
import CreateAdhocJoinRequest from '@/join-codes/components/joinSubPages/CreateAdhocJoinRequest.vue'
import { AdhocJoinRequestService } from '@/join-codes/services/adhocJoinRequestService'
import {
  AdhocJoinRequest,
  ApprovalStatus,
} from '@/join-codes/models/adhocJoinRequest'
import { useAdhocJoinRequestStore } from '@/join-codes/stores/adhocJoinRequests'
import router from '@/router'
import JoinRequestRejected from '@/join-codes/components/joinSubPages/JoinRequestRejected.vue'
import { useMissionsStore } from '@/mission/stores/missions'
import { storeToRefs } from 'pinia'
import { Mission } from '@/mission/models/mission'
import { GpsLocation } from '@lion5/component-library-leaflet'
import { Address } from '@/base/models/address'
import { MissionState } from '@/mission/models/missionState'

const route = useRoute()
const code = ref<string>(
  route.params.code === undefined
    ? ''
    : route.params.code.toString().replace(/-/g, '')
)
const errorCode = ref<string>('')
const errorPin = ref<string>('')
const pin = ref<string>('')
const adhocJoinRequest = ref<AdhocJoinRequest>()
const missionNr = ref<string>('')
const pageCount = ref(0)
const { getUnitTacticalSigns } = useTacticalSigns()
const tacticalSignOptions = getUnitTacticalSigns()
const accountStore = useAccountStore()
const adhocJoinRequestStore = useAdhocJoinRequestStore()
const { setCreatedAdhocJoinRequest } = adhocJoinRequestStore
const { createdAdhocJoinRequest } = storeToRefs(adhocJoinRequestStore)
const missionStore = useMissionsStore()
const { setCurrentMission, fetchAllMissions, getMissionById } = missionStore

const components = [
  JoinCode,
  JoinPin,
  CreateAdhocJoinRequest,
  WaitingScreen,
  JoinRequestRejected,
]
const progressComponents = [JoinCode, JoinPin, CreateAdhocJoinRequest]
const currentComponent = computed(() => components[pageCount.value])

onBeforeMount(async () => {
  const waitingRoomStatus = await AdhocJoinRequestService.getWaitingRoomStatus()
  createdAdhocJoinRequest.value = new AdhocJoinRequest(
    waitingRoomStatus.adhocJoinRequestId,
    '',
    '',
    '',
    '',
    '',
    createEmptyMission(waitingRoomStatus.missionId),
    ApprovalStatus.PENDING,
    new Date(),
    null
  )
  if (waitingRoomStatus.status === ApprovalStatus.PENDING) {
    if (
      createdAdhocJoinRequest.value &&
      createdAdhocJoinRequest.value.mission !== null
    ) {
      setCurrentMission(createdAdhocJoinRequest.value.mission)
    }
    pageCount.value = 3
  } else if (waitingRoomStatus.status === ApprovalStatus.APPROVED) {
    await fetchAllMissions()
    setCurrentMission(getMissionById(waitingRoomStatus.missionId))
    await accountStore.fetchUserUnit()
    await router.push('/')
  }
})

async function nextPage() {
  if (currentComponent.value === JoinCode && code.value !== '') {
    missionNr.value = await AdhocJoinRequestService.validateJoinCode(
      code.value.match(/.{1,4}/g)!.join('-')
    )
    if (missionNr.value !== '') {
      errorCode.value = ''
      pageCount.value++
      if (!accountStore.isLoggedIn) {
        await accountStore.signInAnonym()
      }
    } else {
      errorCode.value = 'Dieser Code ist ungültig.'
    }
  } else if (currentComponent.value == JoinPin && pin.value !== '') {
    const validPin =
      (await AdhocJoinRequestService.validateJoinPin(
        code.value.match(/.{1,4}/g)!.join('-'),
        pin.value
      )) === missionNr.value

    if (validPin) {
      errorPin.value = ''
      pageCount.value++
    } else {
      errorPin.value = 'Dieser Pin ist ungültig.'
    }
  } else if (
    currentComponent.value == CreateAdhocJoinRequest &&
    code.value !== '' &&
    pin.value !== ''
  ) {
    if (adhocJoinRequest.value !== undefined) {
      setCreatedAdhocJoinRequest(adhocJoinRequest.value)
      pageCount.value++
    }
  } else {
    throw new Error('Etwas ist beim Beitritt schief gelaufen')
  }
}

function previousPage() {
  if (pageCount.value > 0) {
    if (currentComponent.value === JoinPin) {
      pin.value = ''
    } else if (currentComponent.value === JoinCode) {
      code.value = ''
    } else if (currentComponent.value === CreateAdhocJoinRequest) {
      adhocJoinRequest.value = undefined
    }
    pageCount.value--
  }
}

function updateJoinRequest(newAdhocJoinRequest: AdhocJoinRequest) {
  if (newAdhocJoinRequest.mission !== null) {
    setCurrentMission(newAdhocJoinRequest.mission)
  }
  adhocJoinRequest.value = newAdhocJoinRequest
  nextPage()
}

watch(createdAdhocJoinRequest, async (newVal) => {
  if (newVal !== undefined && newVal.status === ApprovalStatus.APPROVED) {
    await fetchAllMissions()
    setCurrentMission(getMissionById(newVal.mission?.missionId))
    await accountStore.fetchUserUnit()
    await router.push('/')
  } else if (
    newVal !== undefined &&
    newVal.status === ApprovalStatus.REJECTED
  ) {
    pageCount.value++
  }
})

const createEmptyMission = (missionId: string) => {
  return new Mission(
    missionId,
    '',
    new GpsLocation(0, 0),
    new Address('', '', 0, ''),
    new Date(),
    '',
    [],
    MissionState.RUNNING,
    [],
    [],
    [],
    [],
    [],
    '',
    '',
    '',
    '',
    '',
    ''
  )
}
</script>

<style scoped lang="scss">
.page {
  gap: var(--space-md);
  & > * {
    width: 100%;
  }
  overflow-x: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-lg);
  .icon {
    width: min(20%, 150px);
    height: fit-content;
  }

  h1 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
  }

  @media (min-height: 800px) {
    padding-bottom: var(--space-lg);
    h1 {
      font-size: var(--font-size-6);
    }
  }
}

.animation-wrapper {
  display: grid;
  & > * {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  height: 100%;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease-out;
}

.slide-enter-from {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

.progress-indicator {
  display: flex;
  justify-content: center;
  padding: var(--space-md);
  gap: var(--space-xs);
}

.progress-dot {
  height: var(--space-sm);
  width: var(--space-sm);
  background-color: var(--color-neutral-500);
  border-radius: 50%;
}

.filled {
  background-color: var(--color-primary);
}
</style>
