<template>
  <MainLayout>
    <div class="headline">
      <h1>Warteraum</h1>
      <div v-if="pendingAdhocJoinRequests.length > 0" class="request-number">
        {{ pendingAdhocJoinRequests.length }}
      </div>
    </div>
    <div v-if="pendingAdhocJoinRequests.length !== 0" class="cards">
      <AdhocJoinRequestCard
        v-for="request in pendingAdhocJoinRequests"
        :key="request.adhocJoinRequestId"
        :request="request"
        @accept="accept"
        @reject="reject"
      />
    </div>
    <h1 v-else>Aktuell sind keine Anfragen vorhanden</h1>
  </MainLayout>
</template>

<script setup lang="ts">
import MainLayout from '@/base/layout/MainLayout.vue'
import AdhocJoinRequestCard from '@/join-codes/components/AdhocJoinRequestCard.vue'
import { useAdhocJoinRequestStore } from '@/join-codes/stores/adhocJoinRequests'
import { storeToRefs } from 'pinia'

const adhocJoinRequestsStore = useAdhocJoinRequestStore()
const { pendingAdhocJoinRequests } = storeToRefs(adhocJoinRequestsStore)
const adhocJoinRequestStore = useAdhocJoinRequestStore()
const { approveAdhocJoinRequest, rejectAdhocJoinRequest } =
  adhocJoinRequestStore

const accept = (adhocJoinRequestId: string) => {
  approveAdhocJoinRequest(adhocJoinRequestId)
}
const reject = (adhocJoinRequestId: string) => {
  rejectAdhocJoinRequest(adhocJoinRequestId)
}
</script>

<style scoped lang="scss">
.headline {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: var(--space-sm);

  h1 {
    grid-column: 2;
  }

  .request-number {
    grid-column: 3;
    justify-self: start;
    background-color: var(--color-danger-500);
    width: var(--space-lg);
    height: var(--space-lg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.request-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--space-md);
}
.cards {
  width: 100%;
}
</style>
