<template>
  <div class="auth-layout">
    <PageLayoutOneColumn>
      <slot />
    </PageLayoutOneColumn>
    <div class="footer-bar">
      <RouterLink :to="{ name: 'Imprint' }">Impressum</RouterLink>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PageLayoutOneColumn } from '@lion5/component-library'
</script>

<style scoped lang="scss">
.auth-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    var(--color-primary-surface-300),
    var(--color-white)
  );

  .page-single-column.one-column {
    width: 100%;
    --space: var(--space-lg);
    max-width: 350px;
  }
}

.footer-bar {
  position: absolute;
  bottom: 0;
  padding-bottom: var(--space-sm);
}
</style>
