<template>
  <div class="join-layout">
    <slot />
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
.join-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 350px;
  background: linear-gradient(
    180deg,
    var(--color-primary-surface-300),
    var(--color-white)
  );
}
</style>
