<template>
  <div class="main-layout">
    <PageLayoutOneColumn>
      <slot />
    </PageLayoutOneColumn>
  </div>
</template>

<script setup lang="ts">
import { PageLayoutOneColumn } from '@lion5/component-library'
</script>

<style scoped lang="scss">
.main-layout {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-single-column.one-column {
    --space: var(--space-md);
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin: var(--space-md) 0;
  }
}
</style>
