<template>
  <div class="floating-input-group">
    <multiselect
      :id="id"
      v-model="selectedOption"
      :allow-empty="false"
      :close-on-select="true"
      :multiple="false"
      :options="options"
      :placeholder="placeholderText"
      :show-labels="false"
      :taggable="false"
      deselect-label="Auswahl kann nicht gelöscht werden."
      label="label"
      track-by="key"
      v-bind="$attrs"
      @select="emitKey"
    >
      <template v-slot:singleLabel="{ option }">
        <div class="selection-element">
          <img :src="option.key" alt="icon" />
          <span>{{ option.label }}</span>
        </div>
      </template>

      <template v-slot:option="{ option }">
        <div class="selection-element">
          <img :src="option.key" alt="icon" />
          <span>{{ option.label }}</span>
        </div>
      </template>
    </multiselect>
    <small v-if="error" class="error">
      {{ errorMessage }}
    </small>
  </div>
</template>
<script generic="LabelType" lang="ts" setup>
import Multiselect from 'vue-multiselect'
import { computed, onMounted, ref } from 'vue'
import { SelectOption } from '@lion5/component-library'
import type { TacticalSign } from '@/base/models/tacticalSign'

const PLACEHOLDER_SUFFIX = 'wählen'

const props = withDefaults(
  defineProps<{
    /**
     * The currently selected value as a `string`, initially `undefined`.
     */
    modelValue?: TacticalSign
    /**
     * The options that should be available for selection. Contain a `value` (key to identify the option)
     * and a text to be displayed.
     */
    options: SelectOption<LabelType>[]
    /**
     * The option that should be pre-selected by default. If unset, no option is pre-selected.
     */
    defaultOption?: SelectOption<LabelType>
    /**
     * The unique ID of the HTML element.
     */
    id: string
    /**
     * The label text to be displayed next to the field.
     */
    label: string
    /**
     * An error to be displayed below the field. Either string or an Error object.
     */
    error?: string | Error
    /**
     * A placeholder to be displayed if no option is selected. By default, the label + ' wählen' is displayed.
     */
    placeholder?: string
  }>(),
  {
    error: '',
  }
)

const emit = defineEmits<{
  (e: 'update:modelValue', value: string | number | null): void
}>()

const selectedOption = ref<SelectOption<LabelType>>()

onMounted(() => {
  const { modelValue, options, defaultOption } = props
  if (modelValue !== undefined) {
    const optionsMap = options.reduce(
      (
        accumulator: { [key: string]: SelectOption<LabelType> },
        selectOption: SelectOption<LabelType>
      ) => {
        accumulator[selectOption.key || ''] = selectOption
        return accumulator
      },
      {}
    )
    selectedOption.value = optionsMap[modelValue.path]
  } else {
    selectedOption.value = defaultOption
  }
  if (selectedOption.value !== undefined) {
    emitKey(selectedOption.value)
  }
})

const placeholderText = computed(() => {
  return props.placeholder || props.label + ' ' + PLACEHOLDER_SUFFIX
})

const errorMessage = computed(() =>
  props.error instanceof Error ? props.error.message : props.error
)

const emitKey = (selectedOption: SelectOption<LabelType>) => {
  emit('update:modelValue', selectedOption.key)
}
</script>
<style>
@import 'vue-multiselect/dist/vue-multiselect.css';
</style>
<style lang="scss" scoped>
.error {
  color: var(--color-danger);
}

.multiselect--active ~ label {
  // label must be above active Multiselect div
  z-index: 100;
}

:deep(.multiselect) {
  .multiselect__tags {
    height: calc(2.25rem + 2px);
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0;
  }

  .multiselect__placeholder {
    margin: 0;
    padding: 0;
    color: #495057;
  }

  .multiselect__tag {
    background-color: var(--color-primary);
    border-radius: 2rem;
    margin-top: 0.1rem;

    &-icon {
      &:after {
        color: white;
      }

      &:hover {
        background: var(--color-primary-hover);
      }
    }
  }

  .multiselect__placeholder {
    font-size: 1rem;
  }
}

img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.selection-element {
  display: flex;
  align-items: center;
}

:deep(.multiselect__option--selected) {
  background-color: var(--color-white);
  font-weight: normal;
}
</style>
