<template>
  <SelectInput
    id="tactical-sign-select"
    v-model="tacticalSign"
    :name="name"
    :options="tacticalSignOptions"
    class="select-input"
    label="Taktisches Zeichen"
  />
</template>

<script lang="ts" setup>
import { TacticalSign } from '@/base/models/tacticalSign'
import { computed, watch } from 'vue'
import { useField } from 'vee-validate'
import { SelectOption } from '@lion5/component-library'
import SelectInput from '@/base/components/input/TacticalSignSelect/SelectInput.vue'

const props = withDefaults(
  defineProps<{
    name: string
    options?: TacticalSign[]
  }>(),
  {
    options: () => [],
  }
)

const emit = defineEmits<{
  (event: 'update:modelValue', value: TacticalSign): void
}>()

const tacticalSignOptions = computed(
  (): SelectOption<string>[] =>
    props.options
      .map(
        (tacticalSign) => new SelectOption(tacticalSign.path, tacticalSign.name)
      )
      .filter((option) => !!option.label) as SelectOption<string>[]
)

const { value: tacticalSign } = useField<TacticalSign>(() => props.name)
watch(tacticalSign, (newTacticalSign: TacticalSign) => {
  if (!newTacticalSign) {
    return
  }
  emit('update:modelValue', newTacticalSign)
})
</script>

<style scoped>
.select-input {
  width: 100%;
}
</style>
