<template>
  <nav>
    <MenubarRoot v-model="currentTrigger" class="menubar-root">
      <MenubarMenu
        v-for="menuBarItem in props.menuBarItems"
        :key="menuBarItem.label"
      >
        <MenubarTrigger class="NavigationMenuTrigger">
          <router-link
            :class="{
              'active-link': routeHighlight(menuBarItem),
            }"
            :to="menuBarItem.to"
          >
            <component :is="menuBarItem.icon" v-if="menuBarItem.icon" />
            <span>{{ menuBarItem.label }}</span>
            <div
              class="notification"
              v-if="totalNotifications(menuBarItem) !== 0"
            >
              {{ totalNotifications(menuBarItem) }}
            </div>
          </router-link>
        </MenubarTrigger>
        <MenubarPortal>
          <MenubarContent
            v-if="menuBarItem.children.length !== 0"
            class="NavigationMenuContent"
          >
            <MenubarItem
              v-for="childMenuBarItem in menuBarItem.children"
              :key="childMenuBarItem.label"
              :as="RouterLink"
              :to="childMenuBarItem.to"
              class="no-active-link"
            >
              <component
                :is="childMenuBarItem.icon"
                v-if="childMenuBarItem.icon"
              />
              <span>{{ childMenuBarItem.label }}</span>
              <div
                v-if="childMenuBarItem.notifications?.value"
                class="notification-item"
              >
                {{ childMenuBarItem.notifications.value }}
              </div>
            </MenubarItem>
          </MenubarContent>
        </MenubarPortal>
      </MenubarMenu>
    </MenubarRoot>
  </nav>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import {
  MenubarContent,
  MenubarItem,
  MenubarMenu,
  MenubarPortal,
  MenubarRoot,
  MenubarTrigger,
} from 'radix-vue'
import { MenuBarItem } from '@/base/components/navbar/menuBarItem'
import router from '@/router'
import { RouterLink } from 'vue-router'

const props = defineProps<{
  menuBarItems: MenuBarItem[]
}>()

const currentTrigger = ref('')

const routeHighlight = (item: MenuBarItem) => {
  if (item.to === router.currentRoute.value.path && item.to !== '') {
    return true
  }
  return item.children.some(
    (child) => child.to === router.currentRoute.value.path
  )
}

const totalNotifications = (menuBarItem: MenuBarItem) => {
  return menuBarItem.children.reduce(
    (childTotal, child) => childTotal + (child.notifications?.value || 0),
    0
  )
}
</script>

<style lang="scss">
.menubar-root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--nav-bar-height);
}

.NavigationMenuTrigger {
  background-color: transparent;
  border: none;

  .active-link {
    color: var(--color-primary);
    scale: 1.1;
  }

  a {
    display: flex;
    flex-direction: column;
    color: var(--color-font-2);
    position: relative;

    .notification {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-danger-500);
      height: var(--space-md);
      width: var(--space-md);
      border-radius: 50%;
      color: var(--color-font-1);
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }

    span {
      margin-top: var(--space-sm);
      line-height: var(--font-size-0);
      font-size: var(--font-size-0);
    }

    i {
      font-size: var(--font-size-4);
    }
  }
}

.NavigationMenuContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow-600);
  position: absolute;
  bottom: calc(100% + var(--nav-bar-height));
  transform: translateX(-50%);
  padding: var(--space-md);
  z-index: 2000;
  gap: var(--space-md);

  a {
    display: flex;
    align-items: center;
    gap: var(--space-sm);

    &.router-link-active {
      color: var(--color-primary);
    }
  }
}

.active-link {
  color: var(--color-primary);
  scale: 1.1;
}

.no-active-link {
  color: var(--color-font-2);
  scale: 1;
}

.notification-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-danger-500);
  height: var(--space-md);
  width: var(--space-md);
  border-radius: 50%;
  font-family: Arial, sans-serif;
  font-size: var(--font-size-0);
  color: var(--color-font-1);
}
</style>
