<template>
  <SituationMap
    class="situation-map-widget"
    :mission="currentMission"
    :reports="reports"
    @create-report-click="onCreateReportContextMenuClick"
    @add-unit-click="onAddUnitClick"
    @create-poi-click="onCreatePoiClick"
    @map-created="onMapCreated"
  />
</template>

<script lang="ts" setup>
import SituationMap from '@/map/components/SituationMap/SituationMap.vue'
import type { Map } from 'leaflet'
import { useSituationMap } from '@/map/composables/useSituationMap'

const {
  currentMission,
  reports,
  onCreateReportContextMenuClick,
  onCreatePoiClick,
  onAddUnitClick,
} = useSituationMap()
const onMapCreated = (map: Map) => {
  // TODO(michigg): remove timeout (need to understand the resize problem)
  setTimeout(() => {
    map.invalidateSize()
  }, 500)
}
</script>

<style scoped>
.situation-map-widget {
  width: 100% !important;
  height: 100% !important;
}
</style>
