<template>
  <UploadImageFAB
    v-if="currentMission"
    name="image-fab"
    @upload="onUpload"
    style="--fab-size: 3.5rem"
  />
  <SituationMap
    :mission="currentMission"
    :reports="reports"
    @create-report-click="onCreateReportContextMenuClick"
    @add-unit-click="onAddUnitClick"
    @create-poi-click="onCreatePoiClick"
  />
</template>
<script setup lang="ts">
import SituationMap from '@/map/components/SituationMap/SituationMap.vue'
import { UploadImageFAB } from '@lion5/component-library'
import { useCreateReportStore } from '@/report/stores/createReport'
import { useSituationMap } from '@/map/composables/useSituationMap'
import { useRouter } from 'vue-router'
import { useLocationService } from '@/base/composables/useLocationService'

const {
  currentMission,
  reports,
  onCreateReportContextMenuClick,
  onCreatePoiClick,
  onAddUnitClick,
} = useSituationMap()

const { setReportImage, setReportLocation } = useCreateReportStore()
const { currentLocation } = useLocationService()
const router = useRouter()

const onUpload = async (image: File) => {
  if (!image || !currentMission.value) {
    return
  }
  // set report location to current location if available
  if (currentLocation.value) {
    setReportLocation(currentLocation.value)
  }
  setReportImage(image)
  await router.push({ name: 'CreateReport' })
}
</script>
<style lang="scss" scoped>
.upload-image-fab {
  position: absolute;
  z-index: 1000;
  bottom: calc(
    var(--nav-bar-height) + var(--space-md) + env(safe-area-inset-bottom)
  );
  right: var(--space-md);
}
</style>
