<script setup lang="ts">
import { onMounted, ref } from 'vue'
import MainLayout from '@/base/layout/MainLayout.vue'
import { ItemCard } from '@lion5/component-library'
import { useRouter } from 'vue-router'

interface ThirdPartyDependency {
  licenses: string
  repository: string
  name: string
  version: string
}

const thirdPartyLibs = ref<ThirdPartyDependency[]>([])
const error = ref<Error | undefined>()

onMounted(async () => {
  try {
    const rawResponseData = await fetch('/thirdPartyLibs.json')
    thirdPartyLibs.value = await rawResponseData.json()
  } catch (e) {
    error.value = e as unknown as Error
  }
})

const router = useRouter()

const goBack = () => {
  router.go(-1)
}
</script>

<template>
  <MainLayout>
    <div class="headline">
      <i class="bi bi-chevron-left chevron" v-on:click="goBack()"></i>
      <div class="header-text">
        <h1>Impressum</h1>
      </div>
    </div>
    <ItemCard class="imprint-card">
      <section>
        <p>Angaben gem. § 5 TMG</p>
        <h2>Lion5 GmbH</h2>
        Graf-Arnold-Str. 70<br />
        96049 Bamberg<br />
        E-Mail:
        <a href="mailto:info@lion5.io">info@lion5.io</a><br />
        Tel.: <a href="tel:+49 (0) 951 993989 40">+49 (0) 951 993989 40</a>
        <br />
        <br />
        <strong>Vertreten durch</strong>
        <br />
        Dr. Andreas Schönberger
        <br />
        <br />
        Handelsregister: HRB 9083
        <br />
        Registergericht: Amtsgericht Bamberg
        <br />
        Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz:
        <br />
        DE316404035
      </section>
      <section>
        <h2>EU-Streitschlichtung</h2>
        <p>
          Die Europäische Kommission stellt eine Plattform zur
          Online-Streitbeilegung (OS) bereit:
          <a
            href="https://ec.europa.eu/consumers/odr"
            target="_blank"
            rel="nofollow noreferrer"
            >https://ec.europa.eu/consumers/odr</a
          >.<br />
          Unsere E-Mail-Adresse finden Sie oben im Impressum.
        </p>
        <p>
          Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
          vor einer Verbraucherschlichtungsstelle teilzunehmen.
        </p>
      </section>

      <section>
        <h2 class="widget-title">Lizenzen</h2>
        <p>
          <a href="https://icons.getbootstrap.com/#icons">Bootstrap Icons</a>
        </p>
        <p>Von unserer Website genutzte Bibliotheken von Drittanbietern:</p>
        <ul class="dependency-list">
          <li v-if="error" class="error">
            Drittanbieter-Bibliotheken konnten nicht geladen werden. Bitte
            kontaktieren Sie uns, wenn der Fehler erneut auftritt.
          </li>
          <li v-for="lib in thirdPartyLibs" :key="lib.name">
            <a :href="lib.repository" target="_blank" rel="nofollow noreferrer"
              >{{ lib.name }} {{ lib.version }}</a
            >
            ({{ lib.licenses }})
          </li>
        </ul>
      </section>
    </ItemCard>
  </MainLayout>
</template>

<style scoped lang="scss">
.headline {
  display: grid;
  grid-template-columns: 20% auto 20%;
  align-items: center;
  width: 100%;

  i {
    font-size: var(--font-size-3);
  }

  .chevron {
    cursor: pointer;
  }

  .header-text {
    text-align: center;
  }
}
.imprint-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-md);
  margin-bottom: 0;

  h2,
  p {
    margin: 0;
  }
}
</style>
