<template>
  <MainLayout>
    <h1>Einstellungen</h1>
    <ItemCard>
      <h4>Nutzer</h4>
      <div data-test="user-information" v-if="currentUser">
        <div v-if="currentUser.displayName">
          Name: {{ currentUser.displayName }}
        </div>
        <div v-if="currentUser.email">
          E-Mail-Addresse: {{ currentUser.email }}
        </div>
        <div v-if="assignedUnit">Einheit: {{ assignedUnit.callSign }}</div>
        <div v-if="currentUser.role">
          Rolle: {{ currentUser.role.toLocalString() }}
        </div>
      </div>
      <span v-else> Kein Nutzer gefunden. </span>
      <BaseButton variant="danger" @click="onLogoutClick">
        Ausloggen
      </BaseButton>
    </ItemCard>
    <ItemCard>
      <h4>App-Einstellungen</h4>
      <WakeLockToggle />
    </ItemCard>
    <ItemCard>
      <h4>Zusätzliche Informationen</h4>
      <RouterLink :to="{ name: 'Imprint' }">Impressum</RouterLink>
    </ItemCard>
  </MainLayout>
</template>

<script setup lang="ts">
import { onBeforeMount, ref } from 'vue'
import { BaseButton, ItemCard, WakeLockToggle } from '@lion5/component-library'
import router from '@/router'
import { useAccountStore } from '@/account/stores/account'
import { storeToRefs } from 'pinia'
import { Unit } from '@/unit/models/unit'
import MainLayout from '@/base/layout/MainLayout.vue'

const accountStore = useAccountStore()
const { currentUser } = storeToRefs(accountStore)
const assignedUnit = ref<Unit>()

onBeforeMount(async () => {
  assignedUnit.value = await accountStore.getUserUnit()
})

const onLogoutClick = () => {
  if (accountStore.isLoggedIn) {
    accountStore.logOutUser()
  }
  router.push({ name: 'Login' })
}
</script>

<style scoped lang="scss">
.item-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-sm);
  margin-bottom: 0;
  width: 100%;
}
</style>
