<template>
  <div class="loading-overlay">
    <div class="loader"></div>
  </div>
</template>

<style scoped lang="scss">
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loader {
  margin-top: var(--space-md);
  border: var(--space-md) solid var(--color-neutral-100);
  border-top: var(--space-md) solid var(--color-primary);
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
  animation: spin 2s linear infinite;
  align-self: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
