<template>
  <BaseModal
    v-model:modal-displayed="modalDisplayed"
    class="offline-modal"
    data-test="select-mission-modal"
  >
    <div class="content">
      <h3>Etwas ist schief gelaufen!</h3>
      <span
        >Es konnte keine Verbindung hergestellt werden. Überprüfen Sie bitte
        Ihre Internetverbindung oder versuchen Sie es später erneut, falls
        unsere Dienste momentan nicht verfügbar sind.</span
      >
      <div class="buttons">
        <BaseButton @click="emit('fetch-data')" :loading="busy"
          >Erneut laden</BaseButton
        >
        <BaseButton @click="emit('continue-offline')"
          >Offline fortfahren</BaseButton
        >
      </div>
    </div>
  </BaseModal>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { BaseButton, BaseModal } from '@lion5/component-library'

const props = withDefaults(
  defineProps<{
    visible?: boolean
    busy?: boolean
  }>(),
  {
    visible: false,
    busy: false,
  }
)

const emit = defineEmits<{
  (e: 'fetch-data'): void
  (e: 'continue-offline'): void
  (e: 'update:visible', value: boolean): void
}>()

const modalDisplayed = computed({
  get() {
    return props.visible
  },
  set(visible) {
    emit('update:visible', visible)
  },
})
</script>

<style scoped lang="scss">
.offline-modal {
  width: var(--modal-width);
  z-index: 1000;

  &.basic-modal {
    overflow: visible;
  }

  :deep(.content) {
    padding: var(--space-lg);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--space-md);

    h3 {
      font-weight: var(--font-weight-normal);
    }

    .buttons {
      display: flex;
      gap: var(--space-lg);
    }
  }
}
</style>
