<template>
  <div class="welcome-header-wrapper">
    <DigimapIcon />
    <h1>Willkommen</h1>
    <h3>zur Digitalen Lagekarte</h3>
  </div>
</template>

<script setup lang="ts">
import DigimapIcon from '@/base/icons/DigimapIcon.vue'
</script>

<style scoped lang="scss">
.welcome-header-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  svg {
    height: min-content;
    width: 50%;
    max-width: 150px;
    align-self: center;
    margin-bottom: var(--space-md);
  }

  h1 {
    font-weight: normal;
  }
  h3 {
    line-height: var(--font-size-h3);
    font-weight: normal;
  }
}
</style>
