<template>
  <LoadingOverlay v-if="busy" />
  <div class="app">
    <RouterView v-slot="{ Component }">
      <KeepAlive :include="componentsToKeepAlive">
        <component :is="Component" v-if="bearerToken || isAuthRoute" />
      </KeepAlive>
    </RouterView>
    <div v-if="!isAuthRoute">
      <LocationPermissionModal
        :location-denied="locationDenied"
        :visible="locationModalVisible"
        @grant-click="initLocationUpdates"
      />
      <SelectMissionModal
        v-model:visible="selectMissionModalVisible"
        @mission-select="onMissionSelected"
      />
      <OfflineModal
        v-model:visible="offlineModalVisible"
        v-model:busy="busy"
        @fetch-data="fetchData"
        @continue-offline="offlineModalVisible = false"
      />
      <NavBar v-if="!isAuthRoute" :menu-bar-items="menuBarItems" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { RouterView } from 'vue-router'
import SituationMap from '@/map/components/SituationMap/SituationMap.vue'
import { computed, onBeforeMount, ref, watch } from 'vue'
import { useAccountStore } from '@/account/stores/account'
import router, { registerAuthNavigationGuard } from '@/router'
import { storeToRefs } from 'pinia'
import { initializeApp } from 'firebase/app'
import { useMissionLogStore } from '@/mission/stores/missionLog'
import SelectMissionModal from '@/mission/components/SelectMissionModal/SelectMissionModal.vue'
import { Mission } from '@/mission/models/mission'
import { useMissionsStore } from '@/mission/stores/missions'
import { useLocationService } from '@/base/composables/useLocationService'
import { useMissionSectionStore } from '@/map/shapes/missionSection/useMissionSectionStore'
import { useDangerZoneStore } from '@/map/shapes/dangerZone/useDangerZoneStore'
import { useUnitAvailability } from '@/unit/composables/useUnitAvailability'
import { usePointsOfInterest } from '@/poi/services/usePointsOfInterest'
import {
  IconDashboard,
  IconGear,
  IconList,
  IconMap,
  LocationPermissionModal,
  useBrowserPermissions,
  useFetchState,
} from '@lion5/component-library'
import {
  ChildMenuBarItem,
  MenuBarItem,
} from '@/base/components/navbar/menuBarItem'
import NavBar from '@/base/components/navbar/NavBar.vue'
import TaskIcon from '@/base/components/navbar/TaskIcon.vue'
import MissionIcon from '@/base/components/navbar/MissionIcon.vue'
import { usePositionUnitStore } from '@/unit/stores/positionUnit'
import { useAdhocJoinRequestStore } from '@/join-codes/stores/adhocJoinRequests'
import { useAdhocJoinRequest } from '@/join-codes/composables/useAdhocJoinRequest'
import { useTacticalSignStore } from '@/tactical-sign/stores/customTacticalSign'
import WaitingRoomIcon from '@/base/components/navbar/WaitingRoomIcon.vue'
import TruckIcon from '@/base/components/navbar/TruckIcon.vue'
import LoadingOverlay from '@/base/components/LoadingOverlay.vue'
import OfflineModal from '@/base/components/OfflineModal.vue'

const { busy, setBusy, setIdle } = useFetchState()
const offlineModalVisible = ref(false)
const hasFetchedData = ref(false)
// Prevent re-rendering of expensive components (e.g. Map)
const componentsToKeepAlive = [SituationMap.name] as string[]

const accountStore = useAccountStore()
const { currentUser, bearerToken, isAnonymous } = storeToRefs(accountStore)
const { fetchAdhocJoinRequestByMissionId } = useAdhocJoinRequestStore()
const { notifications } = storeToRefs(useAdhocJoinRequestStore())
const isAuthRoute = computed(
  () =>
    router.currentRoute.value.name === 'Login' ||
    router.currentRoute.value.name === 'ResetPassword' ||
    router.currentRoute.value.name === 'Imprint' ||
    router.currentRoute.value.name === 'JoinWithoutCode' ||
    router.currentRoute.value.name === 'JoinWithCode'
)

const isNotAnonymousRoute = computed(
  () =>
    router.currentRoute.value.name === 'UnitsView' ||
    router.currentRoute.value.name === 'CreateUnit' ||
    router.currentRoute.value.name === 'EditUnit' ||
    router.currentRoute.value.name === 'EditMission' ||
    router.currentRoute.value.name === 'MissionForm' ||
    router.currentRoute.value.name === 'WaitingRoom'
)

const {
  queryLocationPermission,
  locationDenied,
  locationGranted,
  locationModalVisible,
} = useBrowserPermissions()

onBeforeMount(async () => {
  try {
    setBusy()
    await initFirebase()
    await initAuth()
    await initRouting()

    if (!isAuthRoute.value) {
      renderNavbar()
      await queryLocationPermission()
      await fetchUnits()
      await fetchAllMissions()
      await fetchAllCustomTacticalSigns()
      await automaticallySelectMission()
      hasFetchedData.value = true
    }

    if (locationGranted.value) {
      await initLocationUpdates()
    }

    initCypress()
    // TODO: find better place. Need to run on app startup
    useMissionLogStore()
    useDangerZoneStore()
    useMissionSectionStore()
    useUnitAvailability()
    useAdhocJoinRequest()
    usePointsOfInterest()
    useLocationService()
  } catch (e) {
    console.error(e)
    selectMissionModalVisible.value = false
    offlineModalVisible.value = true
  } finally {
    setIdle()
  }
  watch(
    () => router.currentRoute.value,
    async () => {
      if (!isAuthRoute.value && !hasFetchedData.value) {
        renderNavbar()
        await queryLocationPermission()
        await fetchUnits()
        await fetchAllMissions()
        await fetchAllCustomTacticalSigns()
        await automaticallySelectMission()
        hasFetchedData.value = true
      }
    }
  )
})

const fetchData = async () => {
  try {
    setBusy()
    await fetchUnits()
    await fetchAllMissions()
    await fetchAllCustomTacticalSigns()
    await automaticallySelectMission()
    offlineModalVisible.value = false
    selectMissionModalVisible.value = true
  } catch (e) {
    console.error(e)
  } finally {
    await new Promise((resolve) => setTimeout(resolve, 1000))
    setIdle()
  }
}

const initFirebase = async () => {
  // init as default app, retrieve anywhere via `getApp()`
  initializeApp({
    apiKey: import.meta.env.VITE_GOOGLE_IDENTITY_PLATFORM_API_KEY,
    authDomain: import.meta.env.VITE_GOOGLE_IDENTITY_PLATFORM_AUTH_DOMAIN,
    storageBucket: import.meta.env.VITE_FIREBASE_STORAGE_BUCKET,
  })
}

const initAuth = async () => {
  if (window.Cypress) {
    // skip auth in e2e environment
    return
  }
  try {
    accountStore.initAuth()
    await accountStore.loadUser()
    await accountStore.fetchUserUnit()
  } catch (e) {
    console.error(e)
    throw new Error(
      'Authentifizierung fehlgeschlagen. Bitte kontaktieren Sie den Support,' +
        ' wenn das Problem bestehen bleibt.'
    )
  }
}

const initRouting = async () => {
  registerAuthNavigationGuard()
  if (!accountStore.isLoggedIn && !isAuthRoute.value) {
    await router.push({
      name: 'Login',
      query: { redirect: router.currentRoute.value.path },
    })
  } else if (isAnonymous.value && isNotAnonymousRoute.value) {
    await router.push({
      name: 'Home',
    })
  }
}

const initCypress = () => {
  // give cypress access to auth and routing, as it's disabled in e2e
  if (window.Cypress) {
    window.__accountStore__ = accountStore
    window.__router__ = router
    window.appReady = true
  }
}

let menuBarItems: MenuBarItem[]

const renderNavbar = () => {
  const mobileScreenWidth = 768
  if (window.innerWidth < mobileScreenWidth) {
    const childrenItems: ChildMenuBarItem[] = []
    childrenItems.push(
      new ChildMenuBarItem('Dashboard', '/dashboard', IconDashboard)
    )
    if (!isAnonymous.value) {
      childrenItems.push(
        new ChildMenuBarItem(
          'Warteraum',
          '/waiting-room',
          WaitingRoomIcon,
          notifications
        )
      )
    }
    if (
      currentUser.value?.role.key == 'SUPER_ADMIN' ||
      currentUser.value?.role.key == 'ADMIN'
    ) {
      childrenItems.push(new ChildMenuBarItem('Einheiten', '/admin', TruckIcon))
    }
    childrenItems.push(
      new ChildMenuBarItem('Einsätze', '/missions', MissionIcon),
      new ChildMenuBarItem('Einstellungen', '/settings', IconGear)
    )

    menuBarItems = [
      new MenuBarItem('Lagekarte', '/', IconMap, []),
      new MenuBarItem('Aufgaben', '/commands', TaskIcon, []),
      new MenuBarItem('Menü', '', IconList, childrenItems),
    ]
  } else {
    const menuItems = []
    if (!isAnonymous.value) {
      menuItems.push(
        new ChildMenuBarItem(
          'Warteraum',
          '/waiting-room',
          WaitingRoomIcon,
          notifications
        )
      )
    }
    if (
      currentUser.value?.role.key == 'SUPER_ADMIN' ||
      currentUser.value?.role.key == 'ADMIN'
    ) {
      menuItems.push(new ChildMenuBarItem('Einheiten', '/admin', TruckIcon))
    }
    menuItems.push(new ChildMenuBarItem('Einstellungen', '/settings', IconGear))
    menuBarItems = [
      new MenuBarItem('Lagekarte', '/', IconMap, []),
      new MenuBarItem('Aufgaben', '/commands', TaskIcon, []),
      new MenuBarItem('Dashboard', '/dashboard', IconDashboard, []),
      new MenuBarItem('Einsätze', '/missions', MissionIcon, []),
      new MenuBarItem('Menü', '', IconList, menuItems),
    ]
  }
}

const missionsStore = useMissionsStore()
const { selectMissionModalVisible, currentMission } = storeToRefs(missionsStore)

const {
  fetchAllMissions,
  setCurrentMission,
  fetchUnitsOfCurrentMission,
  setCurrentMissionByUser,
} = missionsStore

const { fetchUnits } = usePositionUnitStore()

const { fetchAllCustomTacticalSigns } = useTacticalSignStore()

const automaticallySelectMission = async () => {
  if (!missionsStore.hasCurrentMission) {
    await setCurrentMissionByUser(currentUser.value)
  }
}

const onMissionSelected = async (mission: Mission) => {
  setCurrentMission(mission)
}

const initSituationMap = async (currentMission?: Mission | null) => {
  // display modal if no mission selected
  selectMissionModalVisible.value = !currentMission
  if (!currentMission) {
    return
  }
  // init mission units and subscription
  await fetchUnitsOfCurrentMission()
}

const initLocationUpdates = async () => {
  const { getCurrentUserPosition, startContinuousUnitLocationUpdates } =
    useLocationService()
  if (!currentUser.value?.unitId) {
    // query position to trigger browser permission prompt
    await getCurrentUserPosition()
  }
  startContinuousUnitLocationUpdates(currentUser.value?.unitId || '')
}

watch(locationGranted, async (granted) => {
  if (granted) {
    await initSituationMap(currentMission.value)
  }
})

watch(
  () => currentMission.value,
  async (currentMission?: Mission | null) => {
    if (!isAnonymous.value && currentMission?.missionId !== undefined) {
      await fetchAdhocJoinRequestByMissionId(currentMission?.missionId)
    }
    if (locationGranted.value) {
      await initSituationMap(currentMission)
    }
  },
  {
    immediate: true,
  }
)
</script>

<style lang="scss">
html,
body,
#app,
.app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

.app {
  display: grid;
  grid-template-areas:
    'content'
    'navbar';
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr;

  main {
    grid-area: content;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
  }

  nav {
    grid-area: navbar;
  }

  .select-mission-modal {
    width: 85%;
    max-width: 300px;
  }
}
@media (prefers-color-scheme: dark) {
  input {
    color: var(--color-font);
  }
  .bi {
    color: var(--color-font);
  }
}
</style>
