<template>
  <MainLayout v-if="assignedUnit && currentMission" class="command-list-page">
    <div class="headline">
      <h1>Befehlsübersicht</h1>
      <small>{{ assignedUnit?.callSign }}</small>
    </div>
    <div v-if="commands.length" class="command-list">
      <CommandCard
        v-for="command in openCommands"
        :key="command.etag"
        :command="command"
        :unit-id="assignedUnit.id"
        :mission-id="currentMission.missionId"
      />
      <h4 v-if="closedCommands.length">Abgeschlossene Befehle</h4>
      <CommandCard
        v-for="command in closedCommands"
        :key="command.etag"
        :command="command"
        :unit-id="assignedUnit.id"
        :mission-id="currentMission.missionId"
      />
    </div>
    <p v-else>Keine Befehle vorhanden</p>
  </MainLayout>
  <MainLayout v-else-if="assignedUnit && !currentMission">
    <div class="headline">
      <h1>Befehlsübersicht</h1>
      <small>{{ assignedUnit?.callSign }}</small>
    </div>
    <h4>Bitte wählen sie einen Einsatz aus, um Befehle zu erhalten</h4>
  </MainLayout>
  <MainLayout v-else>
    <div class="headline">
      <h1>Befehlsübersicht</h1>
    </div>
    <h4>
      Bitte lassen Sie sich einer Einheit zuweisen, um Befehle zu erhalten
    </h4>
  </MainLayout>
</template>

<script setup lang="ts">
import MainLayout from '@/base/layout/MainLayout.vue'
import { useMissionLogStore } from '@/mission/stores/missionLog'
import { SubCommand } from '@/command/models/subCommand'
import { useAccountStore } from '@/account/stores/account'
import { storeToRefs } from 'pinia'
import { computed, onBeforeMount, ref } from 'vue'
import CommandCard from '@/command/components/CommandCard.vue'
import { Unit } from '@/unit/models/unit'
import { useMissionsStore } from '@/mission/stores/missions'

const { missionLog } = storeToRefs(useMissionLogStore())
const { currentMission } = storeToRefs(useMissionsStore())
const { currentUser } = storeToRefs(useAccountStore())
const assignedUnit = ref<Unit | undefined>()

onBeforeMount(async () => {
  const accountStore = useAccountStore()
  assignedUnit.value = await accountStore.getUserUnit()
})
const commands = computed<SubCommand[]>(
  () =>
    missionLog.value.filter((message) => {
      return (
        message instanceof SubCommand &&
        currentUser.value?.unitId &&
        message.receiverUnitIds?.includes(currentUser.value?.unitId)
      )
    }) as SubCommand[]
)
const openCommands = computed<SubCommand[]>(() =>
  commands.value.filter((command) => !command.isCompleted())
)
const closedCommands = computed<SubCommand[]>(() =>
  commands.value.filter((command) => command.isCompleted())
)
</script>

<style scoped lang="scss">
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.command-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--space-md);
}
</style>
