<template>
  <MainLayout>
    <BackLinkTopBar title="Neuer Befehl" />
    <form class="command-form" @submit="onSubmit">
      <Field
        is="input"
        type="hidden"
        name="senderUnitId"
        :value="currentUser?.unitId"
      />
      <TacticalSignMap
        v-if="report && report.location"
        id="command-location"
        :gps-location="report.location"
        :tactical-sign="report.tacticalSign"
      />
      <UnitsSelect name="receiverUnitIds" label="Einheiten" />
      <DateTimeInput name="createdAt" />
      <BaseInput name="commandText" label="Befehlstext" />
      <BaseButton :disabled="!meta.valid" type="submit" variant="success">
        Abschicken
      </BaseButton>
    </form>
    <ErrorBox :error="error" />
  </MainLayout>
</template>

<script setup lang="ts">
import MainLayout from '@/base/layout/MainLayout.vue'
import {
  BaseButton,
  ErrorBox,
  BaseInput,
  DateTimeInput,
  useDate,
  BackLinkTopBar,
} from '@lion5/component-library'
import router from '@/router'
import { Field, useForm } from 'vee-validate'
import UnitsSelect from '@/command/components/UnitsSelect.vue'
import { useCommand } from '@/command/composables/useCommand'
import { PubCommand } from '@/command/models/pubCommand'
import { useRoute } from 'vue-router'
import { v4 as uuidv4 } from 'uuid'
import { useMissionsStore } from '@/mission/stores/missions'
import { storeToRefs } from 'pinia'
import { useAccountStore } from '@/account/stores/account'
import { computed, ref } from 'vue'
import { useMissionLogStore } from '@/mission/stores/missionLog'
import { SubReport } from '@/report/models/subReport'
import TacticalSignMap from '@/dashboard/widgets/MissionLogWidget/TacticalSignMap/TacticalSignMap.vue'
import { array, object, string } from 'yup'

export interface CreateCommandForm {
  senderUnitId: string
  receiverUnitIds: string[]
  commandText: string
  createdAt: string
}

const schema = object({
  receiverUnitIds: array()
    .of(string())
    .min(1, 'Bitte wählen Sie mindestens eine Einheit'),
  commandText: string().required('Bitte geben Sie einen Befehlstext'),
})

const error = ref<Error | undefined>()
const { getDateTimeLocalInputValue } = useDate()
const { handleSubmit, meta } = useForm<CreateCommandForm>({
  validationSchema: schema,
  initialValues: {
    createdAt: getDateTimeLocalInputValue(new Date()),
  },
})

const route = useRoute()
const reportId = route.params.reportId as string

const report = computed(() => {
  const { getReport } = useMissionLogStore()
  const report = getReport(reportId)
  if (!(report instanceof SubReport)) return
  return report
})

const { currentMission } = storeToRefs(useMissionsStore())
const { currentUser } = storeToRefs(useAccountStore())

const onSubmit = handleSubmit(async (values) => {
  if (!values.senderUnitId) {
    error.value = new Error(
      'Keine Einheit zugewiesen. Bitte kontaktieren Sie einen System-Administrator.'
    )
    return
  }
  const missionId = currentMission.value?.missionId
  if (!missionId) {
    error.value = new Error(
      'Kein Einsatz ausgewählt. Bitte wählen Sie einen Einsatz in den Einstellungen oder auf der Lagekarte.'
    )
    return
  }
  const command = new PubCommand(
    values.senderUnitId,
    values.receiverUnitIds,
    uuidv4(),
    values.commandText,
    new Date(values.createdAt),
    reportId
  )
  const { publish } = useCommand()
  publish(command)
  await router.back()
})
</script>

<style scoped lang="scss">
.command-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-md);
}
</style>
