<template>
  <MainLayout>
    <BackLinkTopBar title="Befehlsrückmeldung" />
    <form class="command-response-form" @submit="onSubmit">
      <BaseInput name="comment" label="Kommentar (optional)" />
      <BaseButton :disabled="!meta.valid" type="submit" variant="success">
        Abschicken
      </BaseButton>
    </form>
    <ErrorBox :error="error" />
  </MainLayout>
</template>

<script setup lang="ts">
import MainLayout from '@/base/layout/MainLayout.vue'
import {
  BaseButton,
  ErrorBox,
  BaseInput,
  BackLinkTopBar,
} from '@lion5/component-library'
import router from '@/router'
import { useForm } from 'vee-validate'
import { useRoute } from 'vue-router'
import { v4 as uuidv4 } from 'uuid'
import { useMissionsStore } from '@/mission/stores/missions'
import { storeToRefs } from 'pinia'
import { useAccountStore } from '@/account/stores/account'
import { computed, ref } from 'vue'
import { useMissionLogStore } from '@/mission/stores/missionLog'
import { object, string } from 'yup'
import type { CommandResponse } from '@/command/composables/useCommandResponse'
import { useCommandResponse } from '@/command/composables/useCommandResponse'
import { SubCommand } from '@/command/models/subCommand'

export interface CreateCommandResponseForm {
  comment: string
}

const schema = object({
  comment: string(),
})

const error = ref<Error | undefined>()
const { handleSubmit, meta } = useForm<CreateCommandResponseForm>({
  validationSchema: schema,
})

const route = useRoute()
const commandId = route.params.commandId as string

const command = computed(() => {
  const { getCommand } = useMissionLogStore()
  const command = getCommand(commandId)
  if (!(command instanceof SubCommand)) return
  return command
})

const { currentMission } = storeToRefs(useMissionsStore())
const { currentUser } = storeToRefs(useAccountStore())

const onSubmit = handleSubmit(async (values) => {
  error.value = undefined
  const unitId = currentUser.value?.unitId
  const missionId = currentMission.value?.missionId
  if (!unitId) {
    error.value = new Error(
      'Keine Einheit zugewiesen. Bitte kontaktieren Sie einen System-Administrator.'
    )
    return
  }
  if (!command.value) {
    error.value = new Error(
      'Kein Befehl gefunden. Bitte kontaktieren Sie einen System-Administrator.'
    )
    return
  }
  if (!missionId) {
    error.value = new Error(
      'Kein Einsatz ausgewählt. Bitte wählen Sie einen Einsatz in den Einstellungen oder auf der Lagekarte.'
    )
    return
  }

  let report = values.comment
  if (!report) {
    report = `"${command.value.commandText}" ausgeführt`
  }

  // publish mqtt message to mission topic
  const pubReportPayload: CommandResponse = {
    reportId: uuidv4(),
    senderUnitId: unitId,
    report: report,
    createdAt: new Date().toISOString(),
    referencingCommandId: command.value?.commandId,
  }
  const { publishReportResponse } = useCommandResponse()
  await publishReportResponse(missionId, pubReportPayload)
  await router.back()
})
</script>

<style scoped lang="scss">
.command-response-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-md);
}
</style>
