<template>
  <DismissibleModal
    :modal-displayed="modelValue"
    @update:modalDisplayed="modelValue = false"
  >
    <div class="modal">
      <h4>Bitte scannen Sie diesen QR-Code ein, um dem Einsatz beizutreten.</h4>
      <img :src="qrcode" alt="QR Code" />
      <div>
        <p>{{ joinUrl }}</p>
      </div>
      <div class="codes">
        <p>Code: {{ mission.joinCode }}</p>
        <p>Pin: {{ mission.joinPin }}</p>
      </div>
    </div>
  </DismissibleModal>
</template>

<script setup lang="ts">
import { DismissibleModal } from '@lion5/component-library'
import { useQRCode } from '@vueuse/integrations/useQRCode'
import type { Mission } from '@/mission/models/mission'
import { ref } from 'vue'

const props = defineProps<{
  mission: Mission
}>()

const modelValue = defineModel<boolean>('modelValue')
const joinCode = ref(props.mission.joinCode)
const baseUrl = window.location.origin
const joinUrl = baseUrl + '/join/' + joinCode.value
const qrcode = useQRCode(joinUrl)
</script>

<style scoped lang="scss">
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-lg);
  gap: var(--space-md);
  width: 100%;

  .codes {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: var(--space-sm);
    }
  }
}
</style>
