<template>
  <svg
    width="544"
    height="559"
    viewBox="0 0 544 559"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_bd_184_252)">
      <path
        d="M525 449.674L391.881 532.5V118.37L491.72 56.25H525V449.674Z"
        fill="#0693E3"
      />
      <path
        d="M155.081 445.922C155.081 445.922 149.534 444.235 283.255 492.812L376.135 527.115C376.135 527.115 387.834 534.038 391.529 530.262V109.819L155.081 25.4791V119.26L155.081 445.922Z"
        fill="#9BD4F4"
      />
      <path
        d="M19 109.819L153.234 26.1085V445.922L26.389 527.115L19 522.08V109.819Z"
        fill="#0693E3"
      />
      <path
        d="M524.324 445.324L391.101 527.415V109.924L518.069 30.7012L524.324 33.8449V445.324Z"
        fill="#0693E3"
      />
      <path
        d="M525 444.515V35.4445C525 30.707 519.767 27.8382 515.773 30.3862L394.753 107.589C393.192 108.585 391.26 108.804 389.516 108.185L156.779 25.473C155.049 24.8585 153.134 25.0691 151.58 26.0447L21.9569 107.403C20.2081 108.5 19.1465 110.42 19.1465 112.485V521.626C19.1465 526.349 24.3502 529.22 28.3456 526.702L152.178 448.658C153.745 447.67 155.681 447.462 157.423 448.094L387.352 531.501C389.09 532.131 391.021 531.925 392.587 530.942L522.19 449.597C523.938 448.5 525 446.58 525 444.515Z"
        stroke="#0693E3"
        stroke-width="8"
      />
      <path d="M391.529 530.042V108.561" stroke="#0693E3" stroke-width="5" />
      <path
        d="M154.662 447.093L154.662 27.04"
        stroke="#0693E3"
        stroke-width="5"
      />
      <g filter="url(#filter1_bd_184_252)">
        <ellipse
          cx="200.002"
          cy="308.638"
          rx="139.775"
          ry="142.875"
          fill="#B9C1C6"
        />
        <ellipse
          cx="200.002"
          cy="308.638"
          rx="139.775"
          ry="142.875"
          stroke="#B9C1C6"
        />
      </g>
      <g filter="url(#filter2_bd_184_252)">
        <path
          d="M155.757 209.02C169.444 222.998 204.071 260.078 219.914 292.802C235.756 325.526 245.37 379.828 248.678 400.952C249.135 403.874 246.139 405.936 244.246 404.003C230.56 390.025 195.933 352.945 180.09 320.221C164.247 287.497 154.633 233.196 151.325 212.071C150.868 209.15 153.864 207.087 155.757 209.02Z"
          fill="#002133"
        />
      </g>
    </g>
    <defs>
      <filter
        id="filter0_bd_184_252"
        x="-11"
        y="-7"
        width="566"
        height="587"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="2" />
        <feComposite
          in2="SourceAlpha"
          operator="in"
          result="effect1_backgroundBlur_184_252"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="8" />
        <feGaussianBlur stdDeviation="7.5" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
        />
        <feBlend
          mode="normal"
          in2="effect1_backgroundBlur_184_252"
          result="effect2_dropShadow_184_252"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect2_dropShadow_184_252"
          result="shape"
        />
      </filter>
      <filter
        id="filter1_bd_184_252"
        x="44.7263"
        y="155.263"
        width="310.551"
        height="316.75"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="2" />
        <feComposite
          in2="SourceAlpha"
          operator="in"
          result="effect1_backgroundBlur_184_252"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="5" />
        <feGaussianBlur stdDeviation="7.5" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
        />
        <feBlend
          mode="normal"
          in2="effect1_backgroundBlur_184_252"
          result="effect2_dropShadow_184_252"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect2_dropShadow_184_252"
          result="shape"
        />
      </filter>
      <filter
        id="filter2_bd_184_252"
        x="136.279"
        y="198.266"
        width="127.446"
        height="226.491"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="2" />
        <feComposite
          in2="SourceAlpha"
          operator="in"
          result="effect1_backgroundBlur_184_252"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="5" />
        <feGaussianBlur stdDeviation="7.5" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
        />
        <feBlend
          mode="normal"
          in2="effect1_backgroundBlur_184_252"
          result="effect2_dropShadow_184_252"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect2_dropShadow_184_252"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
</template>
