<template>
  <LeafletMap
    class="map"
    :id="id"
    :initial-zoom="16"
    :initial-center="gpsLocation.toLatLng()"
    :hide-controls="hideControls"
    @map-created="onMapCreated"
  />
</template>

<script lang="ts" setup>
import type { Map, Marker } from 'leaflet'
import {
  LeafletMap,
  GpsLocation,
  useLeafletMarker,
} from '@lion5/component-library-leaflet'
import { ref } from 'vue'
import { TacticalSign } from '@/base/models/tacticalSign'

const props = defineProps<{
  id: string
  gpsLocation: GpsLocation
  tacticalSign?: TacticalSign
  hideControls?: boolean
}>()

const marker = ref<Marker | undefined>()
const onMapCreated = async (map: Map) => {
  const { drawMarkerWithPopup } = useLeafletMarker()
  marker.value = drawMarkerWithPopup(
    map,
    props.gpsLocation.toLatLng(),
    props.tacticalSign?.path,
    props.tacticalSign?.name,
    `<span><b>Breitengrad:</b> ${props.gpsLocation.latitude}</span><br />` +
      `<span><b>Längengrad:</b> ${props.gpsLocation.longitude}</span>`
  )
}
</script>
<style lang="scss" scoped>
.map {
  height: 170px;
  width: 100%;
}
</style>
