<template>
  <WidgetWrapper class="contribution-widget">
    <div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/KfW_Bankengruppe.svg/375px-KfW_Bankengruppe.svg.png"
        alt="kfw"
      />
    </div>
    <div>
      <img
        src="https://smartcity.bamberg.de/wp-content/uploads/2021/05/logo-1.svg"
        alt="smart-city"
      />
    </div>
    <div>
      <img
        src="https://www.damigra.de/wp-content/uploads/Anlage-8-Foerderlogo_BMI_deutsch_farbig_png__Print_-e1574947958695.png"
        alt="bmi"
      />
    </div>
  </WidgetWrapper>
</template>

<script lang="ts" setup>
import type { WidgetSettings } from '@lion5/component-library-gridstack'
import { WidgetWrapper } from '@lion5/component-library-gridstack'

const props = defineProps<{ settings: WidgetSettings }>()
</script>

<style lang="scss" scoped>
.contribution-widget {
  display: flex;
  gap: var(--space-md);
  flex-wrap: wrap;
  justify-content: space-between;

  & > div {
    flex-basis: 70px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
</style>
