<template>
  <IconButton
    class="drop-down-button"
    :class="{ open: optionsDisplayed }"
    @click="optionsDisplayed = !optionsDisplayed"
  >
    <i class="bi-chevron-compact-right"></i>
  </IconButton>
  <input
    id="filter-option-hi-org"
    ref="aidOrgCheckbox"
    type="checkbox"
    name="aid-org-layer"
    :checked="aidOrgSelected"
    :disabled="availableOptions.length === 0"
    :indeterminate="aidOrgPartiallySelected"
    @input="toggleAidOrg"
  />
  <label for="filter-option-hi-org">Einheiten (HiOrg)</label>
  <ul v-if="optionsDisplayed" class="hi-org-options">
    <li
      v-for="callSign in availableOptions"
      :key="callSign"
      class="radio-input-group"
    >
      <input
        :id="`filter-option-sub-${callSign}`"
        type="checkbox"
        v-model="selectedOptions"
        name="aid-org-layer"
        :value="callSign"
      />
      <label :for="`filter-option-sub-${callSign}`">
        {{ callSign }}
      </label>
    </li>
  </ul>
</template>
<script lang="ts" setup>
import { useFilterStore } from '@/map/stores/filter'
import { storeToRefs } from 'pinia'
import { computed, ref } from 'vue'
import { IconButton } from '@lion5/component-library'

const optionsDisplayed = ref(false)

const { aidOrgFilter: selectedOptions, availableCallSigns: availableOptions } =
  storeToRefs(useFilterStore())

const aidOrgCheckbox = ref<HTMLInputElement>()

const aidOrgSelected = computed(
  () => selectedOptions.value.length === availableOptions.value.length
)

const aidOrgPartiallySelected = computed(
  () =>
    selectedOptions.value.length !== availableOptions.value.length &&
    selectedOptions.value.length > 0
)

const toggleAidOrg = () => {
  if (!aidOrgCheckbox.value) return
  const checked = aidOrgCheckbox.value?.checked
  selectedOptions.value = checked ? availableOptions.value : []
}
</script>
<style lang="scss" scoped>
.drop-down-button {
  position: relative;
  display: inline-block;
  font-size: var(--font-size-body);
  padding: 0;
  margin-inline-start: calc(-1 * var(--nesting-space));
  transition: all 80ms ease-in;

  &.open {
    rotate: 90deg;
    scale: 100% 60%;
  }
}
</style>
