<template>
  <ItemCard class="layer-select">
    <section>
      <h2>Lagekarte</h2>
      <MapFilter :map="map" />
    </section>
    <section>
      <h2>Externe Quellen</h2>
      <WKEFilter :map="map" />
    </section>
    <section>
      <h2>Bayern Atlas</h2>
      <WMSLayerSelect :map="map" />
    </section>
  </ItemCard>
</template>

<script lang="ts" setup>
import { ItemCard } from '@lion5/component-library'
import type { Map as LeafletMap } from 'leaflet'
import WKEFilter from '@/map/components/WKELayerSelect.vue'
import WMSLayerSelect from '@/map/components/WMSLayerSelect.vue'
import MapFilter from '@/map/components/MapFilter.vue'

defineProps<{ map: LeafletMap }>()
</script>

<style lang="scss" scoped>
.layer-select {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: var(--space-sm);
  background-color: var(--color-neutral-100);

  h2 {
    font-size: var(--font-size-2);
  }

  max-height: 400px;
  overflow-y: auto;
}
</style>
