<template>
  <ul class="filter">
    <li
      v-for="filterOption in filterOptions"
      :key="filterOption.key as string"
      class="radio-input-group"
    >
      <input
        :id="`filter-option-${filterOption.key}`"
        type="checkbox"
        v-model="selectedOptions"
        name="map-filter-layer"
        :value="filterOption.key"
      />
      <label :for="`filter-option-${filterOption.key}`">
        {{ filterOption.label }}
      </label>
    </li>
    <li>
      <AidOrgFilter />
    </li>
  </ul>
</template>
<script lang="ts" setup>
import { SelectOption } from '@lion5/component-library'
import { FilterOption, useFilterStore } from '@/map/stores/filter'
import { storeToRefs } from 'pinia'
import AidOrgFilter from '@/map/components/AidOrgFilter.vue'

const filterOptions = [
  new SelectOption(FilterOption.REPORTS, 'Lagemeldungen'),
  new SelectOption(FilterOption.POI, 'POIs'),
  new SelectOption(FilterOption.DANGER_ZONES, 'Gefahrenzonen'),
  new SelectOption(FilterOption.MISSION_SECTIONS, 'Einsatzabschnitte'),
]

const { filter } = storeToRefs(useFilterStore())
const selectedOptions = filter
</script>
<style lang="scss" scoped>
.filter {
  --nesting-space: var(--space-md);
}

li > :deep(ul) {
  margin-inline-start: var(--space-md);
}
</style>
