<template>
  <LeafletLayer :map="map" :layer="poiMarker" />
</template>
<script lang="ts" setup>
import { Map as LeafletMap } from 'leaflet'
import LeafletLayer from '@/map/shapes/components/LeafletLayer.vue'
import { PointOfInterest } from '@/poi/models/pointOfInterest'
import { useLeafletMarker } from '@lion5/component-library-leaflet'

const props = defineProps<{ map: LeafletMap; poi: PointOfInterest }>()

const { getMarkerWithPopup } = useLeafletMarker()
const poiMarker = getMarkerWithPopup(
  props.poi.location.toLatLng(),
  props.poi.tacticalSign.path,
  props.poi.tacticalSign.name,
  props.poi.details
)
</script>
