<template>
  <div v-if="displayPois" style="display: none">
    <PoiMarker
      v-for="poi in pois"
      :key="`${poi.eTag}-${poi.id}`"
      :map="map"
      :poi="poi"
    />
  </div>
</template>

<script lang="ts" setup>
import { Map as LeafletMap } from 'leaflet'
import { PointOfInterest } from '@/poi/models/pointOfInterest'
import { FilterOption, useFilter } from '@/map/stores/filter'
import PoiMarker from '@/map/components/PoiMarker.vue'

defineProps<{
  map: LeafletMap
  pois: PointOfInterest[]
}>()

const { displayFilterOption: displayPois } = useFilter(FilterOption.POI)
</script>
