<template>
  <div v-if="displayReports" style="display: none">
    <ReportMarker
      v-for="report in filteredReports"
      :key="`${report.etag}-${report.reportId}`"
      :map="map"
      :report="report"
    />
  </div>
</template>

<script lang="ts" setup>
import { Map as LeafletMap } from 'leaflet'
import { FilterOption, useFilter } from '@/map/stores/filter'
import { SubReport } from '@/report/models/subReport'
import ReportMarker from '@/map/components/ReportMarker.vue'
import { computed } from 'vue'
import type { MapReport } from '@/report/models/mapReport'

const props = defineProps<{
  map: LeafletMap
  reports: SubReport[]
}>()

const { displayFilterOption: displayReports } = useFilter(FilterOption.REPORTS)
// skip reports without location or tacticalSign
const filteredReports = computed<MapReport[]>(
  () =>
    props.reports.filter(
      (report) => report.location && report.tacticalSign
    ) as MapReport[]
)
</script>
