<template>
  <LeafletLayer :map="map" :layer="reportMarker" />
</template>
<script lang="ts" setup>
import { Layer, Map as LeafletMap } from 'leaflet'
import LeafletLayer from '@/map/shapes/components/LeafletLayer.vue'
import { useLeafletPopup } from '@/map/composables/useLeafletPopup'
import { useDate } from '@lion5/component-library'
import { useLeafletMarker } from '@lion5/component-library-leaflet'
import { useRouter } from 'vue-router'
import type { MapReport } from '@/report/models/mapReport'

const props = defineProps<{ map: LeafletMap; report: MapReport }>()

const { getMarkerWithPopup } = useLeafletMarker()
const { createPopupWithButtons } = useLeafletPopup()
const { getDateTime } = useDate()
const router = useRouter()
const onReportButtonClick = (reportId: string) => {
  // TODO: scroll to report item in dashboard widget
  router.push({ name: 'Dashboard', hash: `#report-${reportId}` })
}

const onCommandButtonClick = (reportId: string) => {
  router.push({ name: 'CreateCommand', params: { reportId } })
}

const getReportMarker = () => {
  const report = props.report
  const formattedDate = getDateTime(report.createdAt)
  const popup = createPopupWithButtons(
    report.tacticalSign.name || 'Lagemeldung',
    `${formattedDate}<br/>von ${report.senderCallSign}<br/>${report.report}`,
    [
      {
        label: 'Befehl',
        cls: 'success',
        handler: () => onCommandButtonClick(report.reportId),
      },
      {
        label: 'Zum Protokoll',
        cls: 'secondary',
        handler: () => onReportButtonClick(report.reportId),
      },
    ]
  )

  return getMarkerWithPopup(
    report.location.toLatLng(),
    report.tacticalSign.path,
    undefined,
    undefined,
    {},
    popup
  )
}

const reportMarker = getReportMarker() as unknown as Layer
</script>
