<template>
  <LeafletLayer :map="map" :layer="unitMarker" />
</template>
<script lang="ts" setup>
import { Map as LeafletMap } from 'leaflet'
import LeafletLayer from '@/map/shapes/components/LeafletLayer.vue'
import { Unit } from '@/unit/models/unit'
import { useLeafletMarker } from '@lion5/component-library-leaflet'

const props = defineProps<{ map: LeafletMap; unit: Unit }>()

const { getMarkerWithPopup } = useLeafletMarker()
const unitMarker = getMarkerWithPopup(
  props.unit.gpsLocation.toLatLng(),
  props.unit.tacticalSign.path,
  'Einheit',
  props.unit.callSign
)
</script>
