<template>
  <div style="display: none">
    <UnitMarker
      v-for="unit in filteredUnits"
      :key="`${getDynamicKey(unit)}-${unit.id}`"
      :map="map"
      :unit="unit"
    />
  </div>
</template>

<script lang="ts" setup>
import { Map as LeafletMap } from 'leaflet'
import { useAidOrgFilter } from '@/map/stores/filter'
import { computed } from 'vue'
import { Unit } from '@/unit/models/unit'
import UnitMarker from '@/map/components/UnitMarker.vue'

const props = defineProps<{
  map: LeafletMap
  units: Unit[]
}>()

// TODO: is there something else than gps coordinate to indicate unit changes
const getDynamicKey = (unit: Unit) =>
  `${unit.gpsLocation.latitude}-${unit.gpsLocation.longitude}`
const { displayAidOrg } = useAidOrgFilter()
const filteredUnits = computed(() =>
  props.units.filter((unit) => displayAidOrg(unit.callSign))
)
</script>
