<template>
  <div
    v-for="(wkeMeta, index) in AVAILABLE_WKE_LAYER"
    :key="wkeMeta.name"
    class="radio-input-group"
  >
    <input
      :id="`wke-layer-option-${index}`"
      type="checkbox"
      name="wke-layer"
      v-model="wkeLayerMetas"
      :value="wkeMeta"
    />
    <label :for="`wke-layer-option-${index}`">
      {{ wkeMeta.name }}
      <span
        class="color-indicator"
        :style="{ '--color': wkeMeta.color }"
      ></span>
    </label>
  </div>
</template>
<script lang="ts" setup>
import { Map as LeafletMap } from 'leaflet'
import { AVAILABLE_WKE_LAYER, useWKELayerStore } from '@/map/stores/wkeLayer'
import { storeToRefs } from 'pinia'

defineProps<{ map: LeafletMap }>()
const { wkeLayerMetas } = storeToRefs(useWKELayerStore())
</script>
<style lang="scss" scoped>
.color-indicator {
  display: inline-block;
  background-color: var(--color);
  height: var(--font-size-0);
  width: var(--font-size-0);
  border-radius: var(--border-radius-300);
}
</style>
