<template>
  <LeafletLayer v-if="wkeLayer" :map="map" :layer="wkeLayer" />
</template>
<script lang="ts" setup>
import { Circle, GeoJSON, LatLng, Layer, Map as LeafletMap } from 'leaflet'
import LeafletLayer from '@/map/shapes/components/LeafletLayer.vue'
import type { WKEMeta } from '@/map/models/wkeMeta'
import { onMounted, ref } from 'vue'

const props = defineProps<{ map: LeafletMap; wkeMeta: WKEMeta }>()
const wkeLayer = ref<GeoJSON | undefined>()

const loadGeoJSON = async (url: string) => {
  const response = await fetch(url, { cache: 'force-cache' })
  return await response.json()
}

onMounted(async () => {
  const rawGeoJson = await loadGeoJSON(props.wkeMeta.url)
  wkeLayer.value = new GeoJSON(rawGeoJson, {
    pointToLayer(geoJsonPoint: any, latlng: LatLng): Layer {
      return new Circle(latlng, { radius: 1.5 })
    },
    style: {
      color: props.wkeMeta.color,
    },
  })
})
</script>
