<template>
  <div style="display: none">
    <WKELayer
      v-for="wkeMeta in wkeLayerMetas"
      :key="wkeMeta.name"
      :map="map"
      :wke-meta="wkeMeta"
    />
  </div>
</template>

<script lang="ts" setup>
import { Map as LeafletMap } from 'leaflet'
import { storeToRefs } from 'pinia'
import { useWMSLayerStore } from '@/map/stores/wmsLayer'
import WMSLayer from '@/map/components/WMSLayer.vue'
import { useWKELayerStore } from '@/map/stores/wkeLayer'
import WKELayer from '@/map/components/WKELayer.vue'

const props = defineProps<{
  map: LeafletMap
}>()

const { wkeLayerMetas } = storeToRefs(useWKELayerStore())
</script>
