<template>
  <LeafletLayer :map="map" :layer="wmsLayer" />
</template>
<script lang="ts" setup>
import { Map as LeafletMap } from 'leaflet'
import LeafletLayer from '@/map/shapes/components/LeafletLayer.vue'
import { WMSTileLayer } from '@/map/models/wmsWithGetInfoSupport'
import type { WMSMeta } from '@/map/models/wmsMeta'

const props = defineProps<{ map: LeafletMap; wmsMeta: WMSMeta }>()

const wmsLayer = new WMSTileLayer(props.wmsMeta.url, {
  layers: props.wmsMeta.layer,
  format: 'image/png',
  transparent: true,
})
</script>
