<template>
  <div style="display: none">
    <WMSLayer
      v-for="wmsMeta in wmsLayerMetas"
      :key="wmsMeta.name"
      :map="map"
      :wms-meta="wmsMeta"
    />
  </div>
</template>

<script lang="ts" setup>
import { Map as LeafletMap } from 'leaflet'
import { storeToRefs } from 'pinia'
import { useWMSLayerStore } from '@/map/stores/wmsLayer'
import WMSLayer from '@/map/components/WMSLayer.vue'

const props = defineProps<{
  map: LeafletMap
}>()

const { wmsLayerMetas } = storeToRefs(useWMSLayerStore())
</script>
