<template>
  <div
    v-for="(layerMeta, index) in AVAILABLE_WMS_LAYER"
    :key="layerMeta.name"
    class="radio-input-group"
  >
    <input
      :id="`wms-layer-option-${index}`"
      type="checkbox"
      name="wms-layer"
      :value="layerMeta"
      v-model="wmsLayerMetas"
    />
    <label :for="`wms-layer-option-${index}`">{{ layerMeta.name }}</label>
  </div>
</template>

<script lang="ts" setup>
import type { Map as LeafletMap } from 'leaflet'
import { storeToRefs } from 'pinia'
import { AVAILABLE_WMS_LAYER, useWMSLayerStore } from '@/map/stores/wmsLayer'

defineProps<{ map: LeafletMap }>()
const { wmsLayerMetas } = storeToRefs(useWMSLayerStore())
</script>
