@font-face {
  font-family: 'GothamNarrow';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Narrow Book'),
    url('@/assets/fonts/GothamNarrow-Book.woff') format('woff');
}

@font-face {
  font-family: 'GothamNarrow';
  font-style: normal;
  font-weight: bold;
  src: local('Gotham Narrow Bold'),
    url('@/assets/fonts/GothamNarrow-Bold.woff') format('woff');
}
