/*
 --- Lion5 Component Library overrides ---
*/
button {
  cursor: pointer;

  &.portal-button {
    &.primary,
    &.secondary,
    &.warning,
    &.success,
    &.info,
    &.danger {
      max-width: unset;
      min-height: var(--button-height);
      padding: var(--space-sm) var(--space-lg);
      border-radius: var(--border-radius-300);
      font-size: var(--font-size-body);
    }

    &.secondary {
      color: var(--color-white);
      background-color: var(--color-neutral-500);

      &:hover {
        background-color: var(--color-neutral-600);
      }
    }
  }

  &.icon-button {
    font-size: var(--font-size-4);
  }
}

.item-card {
  padding: var(--space-md);
  margin-bottom: var(--space-md);
}

/*
 --- Multiselect overrides ---
*/
.multiselect {
  color: var(--color-neutral-800);

  .multiselect__tags {
    border-radius: var(--border-radius-300) !important;
  }

  .multiselect__content {
    border-radius: var(--border-radius-300) !important;
  }

  .multiselect__option--highlight {
    background: var(--color-primary);
  }

  .multiselect__option--selected.multiselect__option--highlight {
    background: var(--color-primary);
  }
}
