/*
 --- Global Styles ---
*/
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  // consider notch / bottom nav bar of devices
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body {
  accent-color: var(--color-primary);
  background-color: var(--color-white);
  color: var(--color-neutral-800);

  // Font Settings
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
}

input,
select,
textarea {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-normal);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    color: var(--color-primary-hover);
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
}
