/* Overwrite @lion5/component-library defaults */
:root {
  /* Font */
  --font-family: 'GothamNarrow', 'Helvetica', sans-serif;

  /* Font Sizes */
  --font-size-0: 0.8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;
  --font-size-h1: var(--font-size-5);
  --font-size-h2: var(--font-size-4);
  --font-size-h3: var(--font-size-3);
  --font-size-body: var(--font-size-1);
  --font-size-nav: var(--font-size-4);

  /* Font Weight */
  --font-weight-bold: bold;
  --font-weight-normal: normal;

  /* Spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-md-2: 1.5rem;
  --space-lg: 2rem;
  --space-lg-2: 2.5rem;
  --space-xl: 4rem;

  /* Border Radius */
  --border-radius-300: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-500: var(--border-radius-md);
  --border-radius-700: 1.75rem;

  /* Shadows */
  --shadow-300: 0 0.25rem 0.75rem var(--shadow-color, hsl(0 0% 80%));
  --shadow-600: 0 0.75rem 2rem var(--shadow-color, hsl(0 0% 80%));
}

:root {
  /* Colors */
  /* Primary */
  --light-primary-hue: 202;
  --light-primary-saturation: 95%;
  --light-primary-lightness: 46%;

  --primary-hue: var(--light-primary-hue);
  --primary-saturation: var(--light-primary-saturation);
  --primary-lightness: var(--light-primary-lightness);
  --color-primary: hsl(
      var(--primary-hue, 220) var(--primary-saturation, 30%) var(--primary-lightness, 40%)
  );
  --color-primary-surface: hsl(
      var(--primary-hue) var(--primary-saturation) 95%
  );
  --color-primary-surface-300: hsl(
      var(--primary-hue) var(--primary-saturation) 80%
  );
  --color-primary-hover: hsl(
      var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) - 5%)
  );

  --color-font-1: hsl(var(--primary-hue) 5% 18%);
  --color-font-2: hsl(var(--primary-hue) 8% 35%);
  --color-font-inverted: hsl(var(--primary-hue) 15% 95%);

  --color-surface-1: hsl(0 0% 100%);
  --color-surface-2: hsl(210 17% 98%);
  --light-color-background: hsl(0 0% 97%);
  --color-background: var(--light-color-background);

  /* Success */
  --success-hue: 158;
  --success-saturation: 100%;
  --color-success: hsl(var(--success-hue) var(--success-saturation) 41%);
  --color-success-surface: hsl(
      var(--success-hue) var(--success-saturation) 98%
  );
  --color-success-hover: hsl(var(--success-hue) var(--success-saturation) 40%);

  /* Warning */
  --warning-hue: 45;
  --warning-saturation: 100%;
  --color-warning: hsl(var(--warning-hue) var(--warning-saturation) 51.4%);
  --color-warning-surface: hsl(
      var(--warning-hue) var(--warning-saturation) 98%
  );
  --color-warning-hover: hsl(var(--warning-hue) var(--warning-saturation) 40%);

  /* Danger */
  --danger-hue: 359;
  --danger-saturation: 85%;
  --color-danger: hsl(var(--danger-hue) var(--danger-saturation) 53.5%);
  --color-danger-surface: hsl(var(--danger-hue) var(--danger-saturation) 98%);
  --color-danger-surface-200: hsl(
      var(--danger-hue) var(--danger-saturation) 95%
  );
  --color-danger-surface-300: hsl(
      var(--danger-hue) var(--danger-saturation) 90%
  );
  --color-danger-hover: hsl(var(--danger-hue) var(--danger-saturation) 40%);

  /* Info */
  --info-hue: 190;
  --info-saturation: 90%;
  --color-info: hsl(var(--info-hue) var(--info-saturation) 50%);
  --color-info-surface: hsl(var(--info-hue) var(--info-saturation) 98%);
  --color-info-hover: hsl(var(--info-hue) var(--info-saturation) 40%);

  /* Neutral */
  --color-white: #fff;
  --color-neutral-100: hsl(0 0% 98%);
  --color-neutral-200: hsl(0 0% 93%);
  --color-neutral-300: hsl(0 0% 89%);
  --color-neutral-400: hsl(0 0% 83%);
  --color-neutral-500: hsl(0 0% 71%);
  --color-neutral-600: hsl(0 0% 46%);
  --color-neutral-700: hsl(0 0% 31%);
  --color-neutral-800: hsl(0 0% 19%);
  --color-neutral-900: hsl(0 0% 15%);
  --color-black: #000;

  --color-light: var(--color-neutral-100);
  --color-dark: var(--color-neutral-900);
}

:root {
  /* Component settings */
  --input-floating-label-padding-x: 0.55rem;
  --input-floating-label-padding-y: 0.55rem;
  --input-floating-label-active-font-size: 0.65rem;
  --input-floating-label-color: var(--color-neutral-700);
  --input-field-height: calc(2.25rem + 2px);

  --header-height: 76px;

  --footer-link-color: var(--color-neutral-500);
  --footer-link-color-hover: var(--color-neutral-600);
  --footer-font: var(--color-light);

  /* Custom settings (not from component-library) */
  --input-font-size: var(--font-size-body);
  --input-label-font-size: 0.75rem;
  --input-surface-color: var(--color-neutral-200);
  --input-border: var(--color-neutral-400) 1px solid;
  --input-border-radius: var(--border-radius-300);

  --button-height-sm: 2rem;
  --button-height: 2.5rem;
  --button-width: 6rem;

  --nav-bar-height: 70px;
  --img-size-lg: 4rem;
  --dialog-width: 28rem;

  --modal-width: min(90%, 35rem);

  --popup-width: 15rem;

  --img-size-md: 2rem;

  --loader-size: 6.25rem;

  --item-card-padding: 1rem;

}
