<template>
  <div class="dashboard">
    <ConfigurableDashboard
      v-model:dashboard-config="dashboardConfig"
      v-model:selected-dashboard-configuration="
        selectedDashboardConfigurationOption
      "
      v-model:show-save-modal="showSaveDashboardModal"
      v-model:save-modal-error="saveModalError"
      v-model:edit-mode="editMode"
      :available-widgets="availableWidgets"
      :dashboard-configuration-options="dashboardConfigurationOptions"
      @save="onSave"
      @delete-dashboard-configuration="onDeleteDashboardConfiguration"
    />
  </div>
</template>
<script lang="ts" setup>
import { availableWidgets } from '@/dashboard/widgets/availableWidgets'
import { onMounted, ref, watch } from 'vue'
import {
  WidgetConfiguration,
  GridWidget,
  ConfigurableDashboard,
} from '@lion5/component-library-gridstack'
import { useDashboardConfiguration } from '@/dashboard/composables/useDashboardConfiguration'
import type { DashboardConfigurationOption } from '@/dashboard/model/DashboardConfigurationOption'
const defaultDashboardConfig = [
  new WidgetConfiguration('a', new GridWidget(0, 16, 2, 2), 'clock'),
  new WidgetConfiguration('b', new GridWidget(0, 2, 2, 2), 'contribution'),
  new WidgetConfiguration('c', new GridWidget(2, 16, 3, 4), 'weather'),
  new WidgetConfiguration('d', new GridWidget(5, 16, 5, 4), 'weatherForecast'),
  new WidgetConfiguration('e', new GridWidget(10, 0, 2, 5), 'rainRadar'),
  new WidgetConfiguration('g', new GridWidget(7, 0, 3, 13), 'missionLog'),
  new WidgetConfiguration('h', new GridWidget(10, 6, 2, 12), 'weatherWarn'),
  new WidgetConfiguration('i', new GridWidget(0, 30, 10, 7), 'iframe'),
  new WidgetConfiguration('f', new GridWidget(0, 0, 7, 13), 'map'),
  // new WidgetConfiguration('f', new GridWidget(5, 0, 4, 4), 'refreshImage'),
  // new WidgetConfiguration('g', new GridWidget(0, 0, 4, 9), 'mastodonFeed'),
  // new WidgetConfiguration('z', new GridWidget(9, 10, 3, 8), 'sdöl'),
]
const dashboardConfig = ref(defaultDashboardConfig)
const {
  saveDashboardConfiguration,
  deleteDashboardConfiguration,
  fetchAllDashboardConfigurations,
  fetchDashboardConfigurationById,
  error,
} = useDashboardConfiguration()

const dashboardConfigurationOptions = ref<DashboardConfigurationOption[]>([])
const selectedDashboardConfigurationOption = ref<string | undefined>(undefined)
const showSaveDashboardModal = ref(false)
const saveModalError = ref<Error | undefined>(undefined)
const editMode = ref(false)

const onSave = async (
  widgetConfigs: WidgetConfiguration[],
  dashboardConfigName: string
) => {
  // Reset error state
  saveModalError.value = undefined

  try {
    const dashboardConfiguration = await saveDashboardConfiguration(
      widgetConfigs,
      dashboardConfigName
    )
    console.debug(
      'Dashboard configuration saved successfully:',
      dashboardConfiguration
    )
    // check if error value is Http error 409
    if (error.value && 'status' in error.value && error.value.status === 409) {
      saveModalError.value = new Error(
        'Fehler beim Speichern der Dashboard-Konfiguration. Konfiguration mit diesem Namen existiert bereits.'
      )
      return
    } else if (error.value) {
      saveModalError.value = new Error('Failed to save dashboard configuration')
      return
    }

    const updatedOptions = await fetchAllDashboardConfigurations()
    if (!updatedOptions) {
      return
    }

    dashboardConfigurationOptions.value = updatedOptions
    selectedDashboardConfigurationOption.value = dashboardConfiguration?.id
    // Close modal, editMode and reset error state
    closeSaveModal()
  } catch (e) {
    saveModalError.value = new Error('Failed to save dashboard configuration')
  }
}

const closeSaveModal = () => {
  showSaveDashboardModal.value = false
  editMode.value = false
  saveModalError.value = undefined
}

const onDeleteDashboardConfiguration = async (id: string) => {
  try {
    await deleteDashboardConfiguration(id)
    if (error.value) {
      console.error('Failed to delete dashboard configuration:', error.value)
    }

    selectedDashboardConfigurationOption.value = undefined
    dashboardConfig.value = defaultDashboardConfig
    const updatedOptions = await fetchAllDashboardConfigurations()
    if (!updatedOptions) {
      return
    }
    dashboardConfigurationOptions.value = updatedOptions
  } catch (e) {
    console.error('Failed to delete dashboard configuration:', e)
  }
}

watch(selectedDashboardConfigurationOption, async (newId) => {
  if (!newId) {
    // If no dashboard config selected we do not need to load any config
    return
  }
  try {
    const fetchedConfig = await fetchDashboardConfigurationById(newId)
    if (!fetchedConfig) {
      console.error(`Empty config returns for configuration with ID ${newId}:`)
      return
    }
    // Assuming fetchedConfig contains an array of WidgetConfiguration objects
    dashboardConfig.value = fetchedConfig.widgetConfigurations.map(
      (wc) =>
        new WidgetConfiguration(
          wc.id,
          new GridWidget(
            wc.position.x,
            wc.position.y,
            wc.position.width,
            wc.position.height
          ),
          wc.componentId,
          wc.settings
        )
    )
  } catch (e) {
    console.error(`Failed to fetch configuration for ID ${newId}:`, e)
  }
})

onMounted(async () => {
  const options = await fetchAllDashboardConfigurations()
  if (options) {
    dashboardConfigurationOptions.value = options
  } else if (error.value) {
    console.error('Failed to fetch dashboard configurations:', error.value)
  }
})
</script>

<style scoped>
.dashboard {
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-padding-block: 100px;

  :deep(.dashboard-bar) {
    flex-wrap: wrap;
  }
}
:deep(h3) {
  margin: 1rem 0 0;
}
</style>
