<template>
  <MainLayout>
    <div class="headline">
      <i
        class="bi bi-chevron-left chevron"
        v-on:click="routeToMissionList()"
      ></i>
      <div class="header-text"><h1>Einsatz anlegen</h1></div>
    </div>
    <ItemCard class="item-card">
      <form class="mission-form" @submit="onSubmit">
        <h2>Allgemein</h2>
        <BaseInput label="Einsatzname" name="missionName" />
        <DateTimeInput label="Alarmdatum" name="alarmDate" />
        <h2>Adresse</h2>
        <div class="address-line">
          <BaseInput
            v-model="city"
            label="Ort"
            name="city"
            @blur="getLocation"
          />
          <BaseInput
            v-model="postalCode"
            label="PLZ"
            name="postalCode"
            @blur="getLocation"
          />
        </div>
        <div class="address-line">
          <BaseInput
            v-model="street"
            label="Straße"
            name="street"
            @blur="getLocation"
          />
          <BaseInput
            v-model="houseNumber"
            label="Hausnummer"
            name="houseNumber"
            @blur="getLocation"
          />
        </div>
        <div class="map">
          <GeolocationInput v-model="missionLocation" name="missionLocation" />
        </div>
        <h2>Details</h2>
        <div class="description-line">
          <BaseInput label="Schlagwort" name="keyword" />
          <BaseInput label="Stichwort" name="cues" />
        </div>
        <BaseInput label="Einsatznummer" name="missionNumber" />
        <h2 class="text">Einheiten</h2>
        <div class="table">
          <UnitsTable
            :all-units="allUnits"
            :selected-mission="newMission"
            v-model:selected-units="selectedUnits"
            class="table-content"
          />
        </div>
        <div class="buttons">
          <BaseButton variant="danger" @click="routeToMissionList"
            >Abbrechen</BaseButton
          >
          <BaseButton type="submit">Anlegen</BaseButton>
        </div>
      </form>
    </ItemCard>
  </MainLayout>
</template>

<script lang="ts" setup>
import MainLayout from '@/base/layout/MainLayout.vue'
import {
  BaseButton,
  BaseInput,
  DateTimeInput,
  ItemCard,
  useDate,
} from '@lion5/component-library'
import { GeolocationInput, GpsLocation } from '@lion5/component-library-leaflet'
import router from '@/router'
import { onBeforeMount, ref } from 'vue'
import { useForm } from 'vee-validate'
import type { CreateMissionForm } from '@/mission/stores/createMission'
import { useCreateMissionStore } from '@/mission/stores/createMission'
import { storeToRefs } from 'pinia'
import { usePositionUnitStore } from '@/unit/stores/positionUnit'
import UnitsTable from '@/mission/components/UnitsTable.vue'
import { Mission } from '@/mission/models/mission'
import { Address } from '@/base/models/address'
import { MissionState } from '@/mission/models/missionState'
import { Unit } from '@/unit/models/unit'
import { LocationService } from '@/base/services/locationService'
import { useMissionsStore } from '@/mission/stores/missions'

const selectedUnits = ref<string[]>([])
const { allUnits } = storeToRefs(usePositionUnitStore())
const newMission = ref(
  new Mission(
    '',
    '',
    new GpsLocation(0, 0),
    new Address('', '', 0, ''),
    new Date(Date.now()),
    '',
    [],
    MissionState.RUNNING,
    [],
    [],
    [],
    [],
    [],
    '',
    ''
  )
)
const missionLocation = ref<GpsLocation>()
const createMissionStore = useCreateMissionStore()
const missionStore = useMissionsStore()
const { addUnitsToMission } = missionStore
const { street, houseNumber, postalCode, city } =
  storeToRefs(createMissionStore)

onBeforeMount(async () => {
  createMissionStore.resetFormErrors()
})

const { getDateTimeLocalInputValue } = useDate()
const { handleSubmit } = useForm<CreateMissionForm>({
  keepValuesOnUnmount: true,
  validationSchema: createMissionStore.formSchema,
  initialValues: {
    missionName: '',
    alarmDate: getDateTimeLocalInputValue(new Date()),
    street: '',
    houseNumber: '',
    postalCode: undefined,
    city: '',
    keyword: '',
    cues: '',
    missionNumber: '',
    missionLocation: undefined,
  },
})

const routeToMissionList = async () => {
  await router.push('/missions')
}

const onSubmit = handleSubmit(async (values) => {
  const postedMission = (await createMissionStore.publishMission(
    values
  )) as Mission
  try {
    await saveUnits(postedMission)
    await routeToMissionList()
  } catch (error) {
    console.error(error)
  }
})

const saveUnits = async (mission: Mission) => {
  const unitsToAdd = selectedUnits.value
    .map((unitId) => allUnits.value.find((unit) => unit.id === unitId) as Unit)
    .filter(
      (selectedUnit) =>
        !mission.units
          .map((missionUnit) => missionUnit.id)
          .includes(selectedUnit.id)
    )
  if (unitsToAdd.length !== 0) {
    await addUnitsToMission(unitsToAdd, mission)
  }
}

const getLocation = async () => {
  missionLocation.value = await LocationService.getLocation(
    street.value,
    houseNumber.value,
    postalCode.value,
    city.value
  )
}
</script>

<style lang="scss" scoped>
.map {
  padding-top: var(--space-md);
  width: 90%;
}

.headline {
  display: grid;
  grid-template-columns: var(--font-size-3) auto var(--font-size-3);
  align-items: center;
  width: 100%;

  .header-text {
    text-align: center;
  }
}

.item-card {
  width: 100%;
}

.mission-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);

  h2 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
  }

  .base-input-wrapper {
    width: 90%;
    height: var(--input-field-height);
    margin-top: var(--input-floating-label-padding-y);
    margin-bottom: var(--input-floating-label-padding-y);
  }

  .address-line {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-md);

    .base-input-wrapper {
      width: 100%;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .description-line {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-md);

    .base-input-wrapper {
      width: 100%;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: var(--space-md);
    width: 90%;
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
  }
}

i {
  font-size: var(--font-size-3);
}

.chevron {
  cursor: pointer;
}

.table {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 90%;

  .table-content {
    width: 100%;
  }
}
</style>
