<template>
  <MainLayout v-if="selectedMission">
    <div class="headline">
      <i
        class="bi bi-chevron-left chevron"
        v-on:click="routeToMissionList()"
      ></i>
      <div class="header-text">
        <h1>Einsatz bearbeiten</h1>
        {{ selectedMission.missionNumber }}
      </div>
      <BaseButton
        v-if="selectedMission.state == 'RUNNING' && !isAnonymous"
        @click="showDeleteModal = true"
      >
        Einsatz beenden
      </BaseButton>
    </div>
    <ItemCard class="item-card">
      <Table
        :all-units="allUnits"
        :selected-mission="selectedMission"
        v-model:selected-units="selectedUnits"
      />
    </ItemCard>
    <MissionStateModal
      :showDeleteModal="showDeleteModal"
      :deleteMission="selectedMission"
      @update:showDeleteModal="showDeleteModal = $event"
      @submitMissionChange="handleMissionChange"
    />
    <UnitInfoToast :show-toast="showToast" />
    <div class="primary-buttons">
      <BaseButton variant="danger" @click="router.push('/missions')"
        >Abbrechen
      </BaseButton>
      <BaseButton class="save" @click="handleSave">Speichern</BaseButton>
    </div>
  </MainLayout>
  <MainLayout v-else>
    <h1 class="header-text">Fehler beim Laden der Einsatzdaten</h1>
  </MainLayout>
</template>

<script lang="ts" setup>
import MainLayout from '@/base/layout/MainLayout.vue'
import { ref } from 'vue'
import { BaseButton, ItemCard } from '@lion5/component-library'

import router from '@/router'
import { storeToRefs } from 'pinia'
import { usePositionUnitStore } from '@/unit/stores/positionUnit'
import { useRoute } from 'vue-router'
import { useMissionsStore } from '@/mission/stores/missions'
import Table from '@/mission/components/UnitsTable.vue'
import { Mission } from '@/mission/models/mission'
import UnitInfoToast from '@/mission/components/UnitInfoToast.vue'
import type { Unit } from '@/unit/models/unit'
import { MissionState } from '@/mission/models/missionState'
import MissionStateModal from '@/mission/components/MissionStateModal.vue'
import { useAccountStore } from '@/account/stores/account'

const missionStore = useMissionsStore()
const { isAnonymous } = useAccountStore()
const route = useRoute()
const selectedUnits = ref<string[]>([])

const { allUnits } = storeToRefs(usePositionUnitStore())
const { fetchUnitsOfMission, addUnitsToMission, removeUnitsFromMission } =
  useMissionsStore()
const selectedMission = ref<Mission>()
const showDeleteModal = ref(false)

selectedMission.value = missionStore.getMissionById(
  route.params.missionId as string | undefined
)
fetchUnitsOfMission(selectedMission)

const showToast = ref(false)
const timerRef = ref(0)

async function handleSave() {
  try {
    await saveUnits(selectedMission.value as Mission)
    await handleToast()
    await router.push({
      name: 'missionList',
    })
  } catch (error) {
    console.error(error)
  }
}

const routeToMissionList = async () => {
  await router.push({
    name: 'missionList',
  })
}
async function handleToast() {
  showToast.value = true
  window.clearTimeout(timerRef.value)
  return new Promise((resolve) => {
    timerRef.value = window.setTimeout(() => {
      showToast.value = false
      resolve('')
    }, 1000)
  })
}

const handleMissionChange = () => {
  missionStore.updateMissionState(
    MissionState.FINISHED,
    selectedMission.value as Mission
  )
  showDeleteModal.value = false
  routeToMissionList()
}

allUnits.value = allUnits.value.sort((a, b) => {
  if (a.callSign < b.callSign) {
    return -1
  }
  if (a.callSign > b.callSign) {
    return 1
  }
  return 0
})

const saveUnits = async (mission: Mission) => {
  const unitsToAdd = selectedUnits.value
    .map((unitId) => allUnits.value.find((unit) => unit.id === unitId) as Unit)
    .filter(
      (selectedUnit) =>
        !mission.units
          .map((missionUnit) => missionUnit.id)
          .includes(selectedUnit.id)
    )

  const unitsToRemove = mission.units.filter(
    (missionUnit) => !selectedUnits.value.includes(missionUnit.id)
  )

  if (unitsToAdd.length !== 0) {
    await addUnitsToMission(unitsToAdd, mission)
  }
  if (unitsToRemove.length !== 0) {
    await removeUnitsFromMission(unitsToRemove, mission)
  }
}
</script>

<style lang="scss">
.item-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 100%;
  margin: 0;
}

.headline {
  display: grid;
  grid-template-columns: 20% auto 20%;
  align-items: center;
  width: 100%;

  .header-text {
    text-align: center;
  }
}

.primary-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: var(--space-md);
  margin-top: var(--space-md);
}

.chevron {
  cursor: pointer;
}
</style>
