<template>
  <MainLayout>
    <h1 class="headline">Einsatzübersicht</h1>
    <div class="filter-bar">
      <MissionFilter @button-clicked="handleButtonClick" />
      <BaseButton
        v-if="!isAnonymous"
        class="create-button"
        variant="primary"
        v-on:click="routeToCreateMission()"
        >Einsatz anlegen</BaseButton
      >
    </div>
    <div
      class="cards"
      v-if="
        (selectedFilter === 'buttonRunning' && runningMissions.length !== 0) ||
        (selectedFilter === 'buttonFinished' &&
          finishedMissions.length !== 0) ||
        selectedFilter === ''
      "
    >
      <section
        v-if="selectedFilter === 'buttonRunning' || selectedFilter === ''"
        class="missions-list"
      >
        <MissionCard
          v-for="mission in runningMissions"
          :key="mission.missionId"
          :mission="mission"
          :currentMissionId="selectedMissionId"
          @missionSelected="handleMissionSelected"
        />
      </section>
      <hr
        v-if="
          selectedFilter === '' &&
          finishedMissions.length !== 0 &&
          runningMissions.length !== 0
        "
      />
      <section
        v-if="selectedFilter === 'buttonFinished' || selectedFilter === ''"
        class="missions-list"
      >
        <MissionCard
          v-for="mission in finishedMissions"
          :key="mission.missionId"
          :mission="mission"
          :currentMissionId="selectedMissionId"
        />
      </section>
    </div>
    <h1 v-else>Keine Einsätze gefunden</h1>
  </MainLayout>
</template>

<script setup lang="ts">
import MainLayout from '@/base/layout/MainLayout.vue'
import { storeToRefs } from 'pinia'
import { useMissionsStore } from '@/mission/stores/missions'
import MissionCard from '@/mission/components/MissionCard.vue'
import MissionFilter from '@/mission/components/MissionFilter.vue'
import { computed, onMounted, ref, watch } from 'vue'
import { BaseButton } from '@lion5/component-library'
import router from '@/router'
import { useAccountStore } from '@/account/stores/account'

const routeToCreateMission = () => {
  router.push({
    name: 'MissionForm',
  })
}

const { allMissions, currentMission } = storeToRefs(useMissionsStore())
const { isAnonymous } = useAccountStore()
const { setCurrentMission } = useMissionsStore()
const selectedMissionId = ref<string>()
onMounted(() => {
  selectedMissionId.value = currentMission.value?.missionId
})

watch(currentMission, () => {
  selectedMissionId.value = currentMission.value?.missionId
})

const runningMissions = computed(() =>
  allMissions.value.filter((value) => value.state == 'RUNNING')
)

const finishedMissions = computed(() =>
  allMissions.value.filter((value) => value.state == 'FINISHED')
)

const selectedFilter = ref('')

const handleButtonClick = (buttonName: string) => {
  selectedFilter.value = buttonName
  console.log('Button selected: ' + buttonName)
}

const handleMissionSelected = (missionId: string) => {
  const newCurrentMission = allMissions.value.find(
    (mission) => mission.missionId === missionId
  )
  setCurrentMission(newCurrentMission)
}
</script>

<style scoped lang="scss">
.headline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.missions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--space-md);
}

hr {
  border-top: 1px solid var(--color-neutral-500);
  width: 100%;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cards {
  width: 100%;
}

.create-button {
  border-radius: var(--border-radius-300);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  height: var(--button-height);
  background-color: var(--color-neutral-300);
  outline: none;
  border: none;
  transition: 0.2s ease-in;
}
</style>
