<template>
  <MainLayout v-if="selectedMission">
    <div class="headline">
      <i
        class="bi bi-chevron-left chevron"
        v-on:click="routeToMissionList()"
      ></i>
      <div class="header-text">
        <h1>
          {{ selectedMission.missionNumber }}
        </h1>
        {{ getDateTime(selectedMission.alarmDate) }}
      </div>
    </div>
    <MissionInfoCard :mission="selectedMission" />
    <ItemCard class="item-card">
      <h2>Karte</h2>
      <div class="map">
        <MiniMap
          :id="`map-${selectedMission.missionId}`"
          :gps-location="selectedMission.gpsLocation"
          class="tactical-sign-map"
        />
      </div>
    </ItemCard>
    <UnitCard :mission="selectedMission" />
    <CommandCard
      :commands="selectedMission.commands"
      :reports="selectedMission.reports"
    />
  </MainLayout>
  <MainLayout v-else>
    <div class="headline">
      <i
        class="bi bi-chevron-left chevron"
        v-on:click="routeToMissionList()"
      ></i>
      <h1 class="header-text">Fehler beim Laden der Einsatzdaten</h1>
    </div>
  </MainLayout>
</template>

<script lang="ts" setup>
import MainLayout from '@/base/layout/MainLayout.vue'
import { useMissionsStore } from '@/mission/stores/missions'
import { useRoute } from 'vue-router'
import router from '@/router'
import MissionInfoCard from '@/mission/components/MissionInfoCard.vue'
import UnitCard from '@/mission/components/UnitCard.vue'
import CommandCard from '@/mission/components/CommandCard.vue'
import MiniMap from '@/dashboard/widgets/MissionLogWidget/MiniMap.vue'
import { ItemCard, useDate } from '@lion5/component-library'
import { computed } from 'vue'

const { getDateTime } = useDate()

const missionStore = useMissionsStore()
const route = useRoute()

const selectedMission = computed(() => {
  return missionStore.getMissionById(route.params.missionId as string)
})

const { fetchUnitsOfMission } = useMissionsStore()
fetchUnitsOfMission(selectedMission)

const routeToMissionList = async () => {
  await router.push({
    name: 'missionList',
  })
}
</script>

<style lang="scss" scoped>
.headline {
  display: grid;
  grid-template-columns: 20% auto 20%;
  align-items: center;
  width: 100%;

  .header-text {
    text-align: center;
  }
}

.item-card {
  width: 100%;
}

i {
  font-size: var(--font-size-3);
}

.chevron {
  cursor: pointer;
}

.map {
  display: flex;
  justify-content: center;
}
</style>
