<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
</head>

<body>
<!--<div class='header' th:include="header::header"></div>-->

<!--<div th:include="letterhead::letterhead"></div>-->

<h1>Einsatzprotokoll [[${mission.missionNr}]]</h1>

<h2>Einsatzdaten</h2>

<p>Einsatzbeginn: [[${#temporals.format(mission.alarmDate, 'dd.MM.yyyy HH:mm:ss')}]]</p>
<p>Ort: [[${mission.missionAddress.street}]] [[${mission.missionAddress.houseNumber}]], <br /> [[${mission.missionAddress.zipCode}]] [[${mission.missionAddress.locality}]].</p>
<p></p>
<h2> Beteiligte Einsatzkräfte/-mittel</h2>
<ul>
  <li th:each="unit: ${mission.units}">
    [[${unit}]]
  </li>
</ul>
<h2>Protokolleinträge</h2>

<table>
<tr>
  <th>Zeitpunkt</th>
  <th>Sender</th>
  <th>Empfänger</th>
  <th>Ereignis</th>
</tr>
<tr th:each="eventLog: ${eventLogs}">
  <td th:text="${#temporals.format(eventLog.timestamp, 'dd.MM.yyyy HH:mm:ss')}"></td>
  <td th:text="${eventLog.senderUnit}"></td>
  <td th:text="${eventLog.receiverUnit}"></td>
  <td th:text="${eventLog.description}"></td>
<!--  <span th:switch="${eventLog}">-->
<!--    <p th:case="'instanceof T(io.lion5.smartcity.eventstore.events.MissionEvent)'">${eventLog.eventType}</p>-->
<!--  </span>-->
</tr>
</table>


<div class='footer'>
  Generiert am [[${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm:ss')}]]
</div>

</body>

</html>
