<template>
  <ItemCard class="command-card">
    <div>
      <h2 v-if="referencedReport && referencedReport.tacticalSign">
        {{ referencedReport.tacticalSign.name }}
      </h2>
      <div class="command">{{ command.commandText }}</div>
    </div>
    <MiniMap
      v-if="referencedReport && referencedReport.location"
      class="tactical-sign-map"
      :id="`map-${command.etag}`"
      :gps-location="referencedReport.location"
      :tactical-sign="referencedReport.tacticalSign"
    />
    <ErrorBox :error="error" />
    <BaseButton
      v-if="!command.isCompleted()"
      class="finish-command-button"
      variant="success"
      @click="onFinishCommand"
    >
      Rückmelden
    </BaseButton>
  </ItemCard>
</template>

<script setup lang="ts">
import { BaseButton, ErrorBox, ItemCard } from '@lion5/component-library'
import { SubCommand } from '@/command/models/subCommand'
import { computed, ref } from 'vue'
import { SubReport } from '@/report/models/subReport'
import { useMissionLogStore } from '@/mission/stores/missionLog'
import MiniMap from '@/dashboard/widgets/MissionLogWidget/MiniMap.vue'
import { useRouter } from 'vue-router'

const props = defineProps<{
  command: SubCommand
  unitId: string
  missionId: string
}>()

const error = ref<Error | undefined>()

const { getReport } = useMissionLogStore()
const referencedReport = computed<SubReport | undefined>(() =>
  getReport(props.command.referencingReportId || '')
)

const router = useRouter()
const onFinishCommand = () => {
  router.push({
    name: 'CreateCommandResponse',
    params: { commandId: props.command.commandId },
  })
}
</script>

<style scoped lang="scss">
.command-card {
  display: grid;
  gap: var(--space-md);
  width: 100%;
  margin: 0;

  h2 {
    font-size: var(--font-size-2);
  }

  .finish-command-button {
    grid-column: 1/-1;
  }

  .tactical-sign-map {
    justify-self: center;
  }

  .command-content {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-sm);
  }
}

@media screen and (width > 600px) {
  .command-card {
    grid-template-columns: auto 200px;
  }
}
</style>
