<template>
  <div class="units-select">
    <label :for="name">{{ label }}</label>
    <select
      :name="name"
      :id="name"
      @change="handleChange"
      v-model="value"
      multiple
    >
      <option
        v-for="option in options"
        :key="getValue(option) || undefined"
        :value="getValue(option)"
      >
        {{ getLabel(option) }}
      </option>
    </select>
    <span class="error" v-if="errorMessage && meta.touched">
      {{ errorMessage }}
    </span>
  </div>
</template>

<script setup lang="ts">
import type { RuleExpression } from 'vee-validate'
import { useField } from 'vee-validate'
import { SelectOption } from '@lion5/component-library'
import { toRef } from 'vue'
import { useMissionsStore } from '@/mission/stores/missions'
import { storeToRefs } from 'pinia'

type InputValue = string | number | null

const props = withDefaults(
  defineProps<{
    /**
     * Used to identify this field in a form (VeeValidate Form).
     */
    name: string
    /**
     * The text to be displayed within a floating label of this field.
     */
    label: string
    /**
     * Validation constraints of this field, see https://vee-validate.logaretm.com/v4/api/use-field/#usage-with-typescript.
     */
    validationRules?: RuleExpression<InputValue>
  }>(),
  {
    validationRules: '',
  }
)

const name = toRef(props, 'name')
const { value, errorMessage, meta, handleChange } = useField<string>(name)
const { currentMission } = storeToRefs(useMissionsStore())
const options = currentMission.value?.units.map(
  (unit) => new SelectOption(unit.id, unit.callSign)
)

const getLabel = (option: string | SelectOption<string>) => {
  if (option instanceof SelectOption) {
    return option.label
  }
  return option
}

const getValue = (option: string | SelectOption<string>) => {
  if (option instanceof SelectOption) {
    return option.key
  }
  return option
}
</script>

<style scoped lang="scss">
.units-select {
  display: flex;
  flex-direction: column;
  border-radius: var(--input-border-radius);
  background-color: var(--input-surface-color);
  padding-block-end: var(--space-sm);

  label {
    margin-top: var(--space-xs);
    color: var(--color-neutral-600);
    padding-inline: var(--space-sm);
    font-size: var(--input-label-font-size);
  }

  select {
    border: none;
    background-color: inherit;

    option:checked,
    option:hover,
    option::selection {
      background-color: var(--color-primary-surface-300);
    }
  }
}
</style>
