<template>
  <AuthLayout>
    <WelcomeHeader />
    <div class="button-group">
      <LoginForm
        @submit="onLoginSubmit"
        :error-message="errorMessage"
        :info-message="infoMessage"
        :busy="busy"
      />
      <BaseButton
        variant="secondary"
        @click="router.push({ name: 'JoinWithoutCode' })"
        >Einsatz als Gast beitreten</BaseButton
      >
      <RouterLink to="/reset-password" class="reset-password-tag"
        >Passwort vergessen?</RouterLink
      >
    </div>
  </AuthLayout>
</template>

<script setup lang="ts">
import WelcomeHeader from '@/base/components/WelcomeHeader.vue'
import { useAccountStore } from '@/account/stores/account'
import router from '@/router'
import { computed, onBeforeMount } from 'vue'
import AuthLayout from '@/base/layout/AuthLayout.vue'
import { useErrorHandling } from '@/base/composables/useErrorHandling'
import { storeToRefs } from 'pinia'
import { BaseButton, LoginForm } from '@lion5/component-library'

const accountStore = useAccountStore()
const { resetPasswordEmail, busy } = storeToRefs(accountStore)
const { errorMessage, handleError } = useErrorHandling()

onBeforeMount(async () => {
  const redirectRoute = router.currentRoute.value.query.redirect
  if (redirectRoute && typeof redirectRoute === 'string') {
    await router.push({ path: redirectRoute })
  }
})

const infoMessage = computed(() => {
  if (resetPasswordEmail.value) {
    return `Eine E-Mail zum Zurücksetzen des Passworts wurde an die
   E-Mail ${resetPasswordEmail.value} verschickt.`
  }
  return ''
})

const onLoginSubmit = async (email: string, password: string) => {
  try {
    await accountStore.logInUser(email, password)
  } catch (error: unknown) {
    handleError(error)
  }

  if (accountStore.isLoggedIn) {
    await router.push({ name: 'Home' })
  }
}
</script>

<style scoped lang="scss">
.button-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  .reset-password-tag {
    text-align: center;
  }
}
</style>
