<template>
  <AuthLayout>
    <form @submit="onSubmit">
      <span>Bitte geben Sie Ihre E-Mail-Addresse an:</span>
      <BaseInput
        label="E-Mail-Adresse"
        type="email"
        name="email"
        v-model="email"
        validation-rules="required|email"
      />
      <BaseButton type="submit" :disabled="!isFormValid">
        Passwort zurücksetzen
      </BaseButton>
      <MessageBox :error-message="errorMessage" />
      <RouterLink to="/login"> Zurück zum Login </RouterLink>
    </form>
  </AuthLayout>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'
import AuthLayout from '@/base/layout/AuthLayout.vue'
import { useAccountStore } from '@/account/stores/account'
import { useForm } from 'vee-validate'
import router from '@/router'
import { useErrorHandling } from '@/base/composables/useErrorHandling'
import { BaseButton, BaseInput, MessageBox } from '@lion5/component-library'

interface ResetPasswordForm {
  email: string
}

const email = ref<string>()

const { sendPasswordResetMail } = useAccountStore()
const { handleSubmit, meta } = useForm<ResetPasswordForm>()
const { errorMessage, handleError } = useErrorHandling()

const isFormValid = computed(() => meta.value.dirty && meta.value.valid)

const onSubmit = handleSubmit(async (values) => {
  try {
    await sendPasswordResetMail(values.email)
  } catch (error: unknown) {
    handleError(error)
    return
  }
  await router.push({ name: 'Login' })
})
</script>

<style scoped>
form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  --input-surface-color: var(--color-white);
}

a {
  align-self: center;
}
</style>
