<template>
  <div v-if="busy" class="loading-overlay">
    <div class="loader"></div>
  </div>
  <MainLayout>
    <div class="headline">
      <i class="bi bi-chevron-left chevron" v-on:click="routeToUnitsView()"></i>
      <div class="header-text"><h1>Einheit anlegen</h1></div>
    </div>
    <ItemCard class="item-card">
      <form class="unit-form" @submit="onSubmit">
        <BaseInput label="Rufzeichen" name="callSign" />
        <BaseInput label="Einheitstyp" name="unitType" />
        <TacticalSignSelect
          v-model="tacticalSign"
          :options="tacticalSignOptions"
          class="tactical-sign-select"
          name="tacticalSignPath"
        />
        <SelectInput
          id="user-select"
          class="select-input"
          name="user"
          label="Nutzer"
          v-model="selectedUserId"
          :options="userOptions"
        />
        <div class="buttons">
          <BaseButton variant="danger" @click="routeToUnitsView()"
            >Abbrechen
          </BaseButton>
          <BaseButton type="submit">Anlegen</BaseButton>
        </div>
      </form>
    </ItemCard>
  </MainLayout>
</template>

<script lang="ts" setup>
import MainLayout from '@/base/layout/MainLayout.vue'
import {
  BaseButton,
  BaseInput,
  ItemCard,
  SelectInput,
  SelectOption,
} from '@lion5/component-library'
import router from '@/router'
import TacticalSignSelect from '@/base/components/input/TacticalSignSelect/TacticalSignSelect.vue'
import { useTacticalSigns } from '@/base/composables/useTacticalSigns'
import type { CreateUnitForm } from '@/unit/stores/createUnit'
import { useCreateUnitStore } from '@/unit/stores/createUnit'
import { storeToRefs } from 'pinia'
import { computed, onBeforeMount, ref } from 'vue'
import { useForm } from 'vee-validate'
import { onBeforeRouteLeave } from 'vue-router'
import { useTacticalSignStore } from '@/tactical-sign/stores/customTacticalSign'
import { useUnit } from '@/unit/services/useUnit'
import type { EmergencyUnitUser } from '@/unit/models/unit'

const { getUnitTacticalSigns } = useTacticalSigns()
const { customTacticalSigns } = useTacticalSignStore()

const tacticalSignOptions = getUnitTacticalSigns().concat(customTacticalSigns)
const routeToUnitsView = async () => {
  await router.push('/admin')
}

const store = useCreateUnitStore()
const { callSign, unitType, tacticalSign, user } = storeToRefs(store)
const selectedUserId = ref<string>()
const firebaseUsers = ref<EmergencyUnitUser[]>([])
const busy = ref(false)

onBeforeMount(async () => {
  busy.value = true
  store.resetFormErrors()
  await loadFirebaseUsers()
  busy.value = false
})

const { getFirebaseUsers } = useUnit()

async function loadFirebaseUsers() {
  firebaseUsers.value = await getFirebaseUsers()
}

const userOptions = computed(() =>
  firebaseUsers.value.map((user) => {
    return new SelectOption(user.userId, `${user.displayName} - ${user.email}`)
  })
)

const { handleSubmit, resetForm } = useForm<CreateUnitForm>({
  validationSchema: store.formSchema,
  initialValues: {
    callSign: '',
    unitType: '',
    tacticalSignPath: '',
    user: undefined,
  },
})
const reset = () => {
  callSign.value = undefined
  unitType.value = undefined
  tacticalSign.value = undefined
  user.value = undefined
  resetForm()
}

onBeforeRouteLeave(() => {
  reset()
})

const onSubmit = handleSubmit(async (values) => {
  values.user = firebaseUsers.value.find(
    (user) => user.userId === selectedUserId.value
  )!
  await store.publishUnit(values)
  if (!store.formErrorMessage) {
    await router.push('/admin')
  }
})
</script>

<style lang="scss" scoped>
.headline {
  display: grid;
  grid-template-columns: var(--font-size-3) auto var(--font-size-3);
  align-items: center;
  width: 100%;
  .header-text {
    text-align: center;
  }
}

.item-card {
  width: 100%;
}

.unit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-lg);
  padding-top: var(--space-md);

  h2 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
  }

  .base-input-wrapper {
    width: 90%;
    height: var(--input-field-height);
  }

  .tactical-sign-select {
    max-width: 90%;
  }

  .select-input {
    width: 90%;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: var(--space-md);
    width: 90%;
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
  }
}

i {
  font-size: var(--font-size-3);
}

.chevron {
  cursor: pointer;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  margin-top: var(--space-md);
  border: var(--space-md) solid var(--color-neutral-100);
  border-top: var(--space-md) solid var(--color-primary);
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
  animation: spin 2s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
