<template>
  <div v-if="busy" class="loading-overlay">
    <div class="loader"></div>
  </div>
  <MainLayout v-if="selectedUnit">
    <div class="headline">
      <i class="bi bi-chevron-left chevron" v-on:click="routeToUnitsView()"></i>
      <div class="header-text"><h1>Einheit bearbeiten</h1></div>
    </div>
    <ItemCard class="item-card">
      <form class="unit-form" @submit="onSubmit">
        <BaseInput label="Rufzeichen" name="callSign" />
        <BaseInput label="Einheitstyp" name="unitType" />
        <TacticalSignSelect
          v-model="tacticalSign"
          :options="tacticalSignOptions"
          class="tactical-sign-select"
          name="tacticalSignPath"
        />
        <SelectInput
          v-if="!isTemporaryUnit"
          id="user-select"
          class="select-input"
          name="user"
          label="Nutzer"
          v-model="selectedUserId"
          :options="userOptions"
          :defaultOption="defaultOption"
        />
        <InfoBox
          v-else
          infoMessage="Diese Einheit ist temporär und ist an einen temporären Nutzer gebunden."
          class="info-box"
        />
        <div class="buttons">
          <BaseButton variant="danger" @click="routeToUnitsView()"
            >Abbrechen
          </BaseButton>
          <BaseButton type="submit">Bearbeiten</BaseButton>
        </div>
      </form>
    </ItemCard>
  </MainLayout>
  <MainLayout v-else>
    <div class="headline">
      <i class="bi bi-chevron-left chevron" v-on:click="routeToUnitsView()"></i>
      <h1 class="header-text">Fehler beim Laden der Einheit</h1>
    </div>
  </MainLayout>
</template>

<script lang="ts" setup>
import MainLayout from '@/base/layout/MainLayout.vue'
import {
  BaseButton,
  BaseInput,
  InfoBox,
  ItemCard,
  SelectInput,
  SelectOption,
} from '@lion5/component-library'
import router from '@/router'
import { onBeforeRouteLeave, useRoute } from 'vue-router'
import { usePositionUnitStore } from '@/unit/stores/positionUnit'
import TacticalSignSelect from '@/base/components/input/TacticalSignSelect/TacticalSignSelect.vue'
import { useTacticalSigns } from '@/base/composables/useTacticalSigns'
import type { CreateUnitForm } from '@/unit/stores/createUnit'
import { useCreateUnitStore } from '@/unit/stores/createUnit'
import { storeToRefs } from 'pinia'
import { computed, onBeforeMount, ref } from 'vue'
import { useForm } from 'vee-validate'
import { useTacticalSignStore } from '@/tactical-sign/stores/customTacticalSign'
import { useUnit } from '@/unit/services/useUnit'
import { creationMethod, type EmergencyUnitUser } from '@/unit/models/unit'

const unitStore = usePositionUnitStore()
const route = useRoute()
const selectedUnit = unitStore.getUnitById(route.params.unitId as string)
const selectedUserId = ref<string>()
const { getUnitTacticalSigns } = useTacticalSigns()
const { customTacticalSigns } = useTacticalSignStore()
const tacticalSignOptions = getUnitTacticalSigns().concat(customTacticalSigns)

const firebaseUsers = ref<EmergencyUnitUser[]>([])
const store = useCreateUnitStore()
const { callSign, unitType, tacticalSign, user } = storeToRefs(store)
const defaultOption = ref<SelectOption<string>>()
const isTemporaryUnit = computed(
  () => selectedUnit?.creationMethod === creationMethod.TEMPORARY
)
const busy = ref(false)
const routeToUnitsView = async () => {
  await router.push('/admin')
}
onBeforeMount(async () => {
  busy.value = true
  store.resetFormErrors()

  tacticalSign.value = selectedUnit?.tacticalSign
  if (selectedUnit && selectedUnit.user) {
    user.value = selectedUnit.user
    defaultOption.value = new SelectOption(
      selectedUnit.user.userId,
      `${selectedUnit.user.displayName} - ${selectedUnit.user.email}`
    )
  } else {
    user.value = { userId: '', email: '', displayName: '' }
  }
  if (!isTemporaryUnit.value) {
    await loadFirebaseUsers()
  }
  busy.value = false
})

const { getFirebaseUsers } = useUnit()

async function loadFirebaseUsers() {
  firebaseUsers.value = await getFirebaseUsers()
}

const userOptions = computed(() =>
  firebaseUsers.value.map((user) => {
    return new SelectOption(user.userId, `${user.displayName} - ${user.email}`)
  })
)

const { handleSubmit, resetForm } = useForm<CreateUnitForm>({
  validationSchema: store.formSchema,
  initialValues: {
    unitId: selectedUnit?.id,
    callSign: selectedUnit?.callSign,
    unitType: selectedUnit?.unitType,
    tacticalSignPath: selectedUnit?.tacticalSign.path,
    user: selectedUnit?.user,
  },
})

const reset = () => {
  callSign.value = undefined
  unitType.value = undefined
  tacticalSign.value = undefined
  user.value = undefined
  resetForm()
}

onBeforeRouteLeave(() => {
  reset()
})

const onSubmit = handleSubmit(async (values) => {
  values.user = firebaseUsers.value.find(
    (user) => user.userId === selectedUserId.value
  )!
  if (selectedUnit?.id !== undefined) {
    await store.editUnit(values)
  }
  if (!store.formErrorMessage) {
    await router.push('/admin')
  }
})
</script>

<style lang="scss" scoped>
.headline {
  display: grid;
  grid-template-columns: var(--font-size-3) auto var(--font-size-3);
  align-items: center;
  width: 100%;
  .header-text {
    text-align: center;
  }
}

.item-card {
  width: 100%;
}

.unit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-lg);
  padding-top: var(--space-md);

  h2 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
  }

  .base-input-wrapper {
    width: 90%;
    height: var(--input-field-height);
  }

  .select-input {
    width: 90%;
  }

  .info-box {
    width: 90%;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: var(--space-md);
    width: 90%;
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
  }
}

i {
  font-size: var(--font-size-3);
}

.chevron {
  cursor: pointer;
}

.tactical-sign-select {
  max-width: 90%;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  margin-top: var(--space-md);
  border: var(--space-md) solid var(--color-neutral-100);
  border-top: var(--space-md) solid var(--color-primary);
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
  animation: spin 2s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
