<template>
  <MainLayout>
    <BackLinkTopBar title="Einheit positionieren" />
    <form class="unit-form" @submit="onSubmit">
      <GeolocationInput
        name="location"
        v-model="unitLocation"
        :marker-icon-url="tacticalSignPath"
      />
      <BaseSelect
        name="unitId"
        :options="unitOptions"
        label="Einheit"
        options-label="Einheit wählen"
      />
      <MessageBox :info-message="infoMessage" />
      <ErrorBox :error="error" />
      <BaseButton type="submit" variant="success"> Position setzen </BaseButton>
    </form>
  </MainLayout>
</template>

<script setup lang="ts">
import MainLayout from '@/base/layout/MainLayout.vue'
import { useField, useForm } from 'vee-validate'
import type { PositionUnitForm } from '@/unit/stores/positionUnit'
import { usePositionUnitStore } from '@/unit/stores/positionUnit'
import { storeToRefs } from 'pinia'
import { computed, onBeforeMount, ref, watch } from 'vue'
import {
  BaseButton,
  ErrorBox,
  BaseSelect,
  SelectOption,
  MessageBox,
  BackLinkTopBar,
} from '@lion5/component-library'
import { GeolocationInput } from '@lion5/component-library-leaflet'

import type { Unit } from '@/unit/models/unit'
import { useRouter } from 'vue-router'

const error = ref<Error | undefined>()

const positionUnitStore = usePositionUnitStore()
onBeforeMount(() => {
  positionUnitStore.fetchUnits()
})
const { unitLocation, allUnits } = storeToRefs(positionUnitStore)
const unitOptions = computed(
  (): SelectOption<string>[] =>
    allUnits.value?.map(
      (unit: Unit) => new SelectOption(unit.id, unit.callSign)
    ) || []
)

const { handleSubmit } = useForm<PositionUnitForm>({
  validationSchema: positionUnitStore.formSchema,
  initialValues: {
    unitId: '',
  },
})
const router = useRouter()
const onSubmit = handleSubmit(async (values) => {
  error.value = undefined
  try {
    await positionUnitStore.positionUnit(values)
    await router.back()
  } catch (e: unknown) {
    error.value = e as Error
  }
})

const infoMessage = ref<string>()
const tacticalSignPath = ref<string>()
const { value: unitId } = useField<string>('unitId')
watch(unitId, (path: string) => {
  if (!path) {
    return
  }
  const unit = positionUnitStore.getUnitById(unitId.value)
  tacticalSignPath.value = unit && unit.tacticalSign.path
  if (positionUnitStore.isUnitAlreadyPositioned(unitId.value)) {
    infoMessage.value =
      'Die gewählte Einheit ist bereits positioniert. Diese Aktion wird die Einheit ' +
      'bis zum nächsten Positions-Update auf der Karte verschieben.'
  } else {
    infoMessage.value = ''
  }
})
</script>

<style scoped>
.unit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
</style>
