<template>
  <MainLayout>
    <div class="headline">
      <h1>Einheitsübersicht</h1>
    </div>
    <item-card>
      <div class="item-card">
        <div class="card-header">
          <BaseInput
            v-model="filter"
            label="Filter nach Einheiten oder Nutzer..."
            name="filter"
            type="text"
            class="filter-input"
          />
          <UnitFilter
            class="unit-filter"
            @filter-change="handleButtonClick"
            :number-assigned-units="assignedUnits.length"
            :number-all-units="allUnits.length"
          />
        </div>
        <table>
          <thead>
            <tr>
              <th
                v-for="header in table.getHeaderGroups()[0].headers"
                :key="header.id"
              >
                <FlexRender
                  v-if="!header.isPlaceholder"
                  :props="header.getContext()"
                  :render="header.column.columnDef.header"
                />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="row in table.getRowModel().rows" :key="row.id">
              <td v-for="cell in row.getVisibleCells()" :key="cell.id">
                <FlexRender
                  :props="cell.getContext()"
                  :render="cell.column.columnDef.cell"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <span
            >Seite {{ table.getState().pagination.pageIndex + 1 }} von
            {{ table.getPageCount() }} -
            {{ table.getRowCount() }} Einheiten</span
          >
          <div class="pagination-buttons">
            <button
              :disabled="!table.getCanPreviousPage()"
              class="pagination-button"
              @click="table.previousPage"
            >
              Zurück
            </button>
            <button
              :disabled="!table.getCanNextPage()"
              class="pagination-button"
              @click="table.nextPage"
            >
              Weiter
            </button>
          </div>
        </div>
      </div>
    </item-card>
    <div class="primary-button">
      <BaseButton
        class="button tactical-sign"
        variant="primary"
        @click="openCreateTacticalSignModal"
        >Taktisches Zeichen anlegen</BaseButton
      >
      <BaseButton
        class="button unit"
        variant="primary"
        @click="routeToCreateUnit"
        >Einheit anlegen
      </BaseButton>
    </div>

    <ApprovalModal
      v-model:modalDisplayed="isDeleteModalOpen"
      title="Einheit löschen"
      button-label="Löschen"
      @approve="handleDelete"
      class="delete-modal"
    >
      <template #content>
        <div class="delete-modal-content">
          Wollen Sie wirklich die Einheit
          <span class="modal-unit-call-sign">{{
            deleteModalUnitCallSign
          }}</span>
          löschen? Diese Änderung kann nicht rückgängig gemacht werden.
        </div>
      </template>
    </ApprovalModal>

    <DismissibleModal
      v-model:modalDisplayed="isUnassignModalOpen"
      title="Nutzer von Einheit entfernen"
      class="unassign-modal"
    >
      <form @submit.prevent="handleUnassign" class="unassign-form">
        <h3>Nutzer von Einheit entfernen</h3>
        <div v-if="unassignModalUnit" class="unassign-modal-content">
          Wollen Sie wirklich den Nutzer
          <span class="modal-unit-call-sign">{{
            unassignModalUnit.user?.displayName
          }}</span>
          von der Einheit
          <span class="modal-unit-call-sign">{{
            unassignModalUnit.callSign
          }}</span>
          entfernen?
        </div>
        <BaseButton
          class="select-mission-button"
          type="submit"
          data-test="select-mission-button"
          :loading="isUnassignLoading"
        >
          Entfernen
        </BaseButton>
      </form>
    </DismissibleModal>
    <TacticalSignCreationModal v-model="isCreateTacticalSignModalOpen" />
  </MainLayout>
</template>

<script lang="ts" setup>
import {
  createColumnHelper,
  FlexRender,
  getCoreRowModel,
  getFilteredRowModel,
  getPaginationRowModel,
  type Row,
  useVueTable,
} from '@tanstack/vue-table'
import { computed, h, provide, ref } from 'vue'
import { Unit } from '@/unit/models/unit'
import TacticalSignIcon from '@/mission/components/TacticalSignIcon.vue'
import {
  ApprovalModal,
  BaseButton,
  BaseInput,
  DismissibleModal,
  ItemCard,
} from '@lion5/component-library'
import MainLayout from '@/base/layout/MainLayout.vue'
import { storeToRefs } from 'pinia'
import { usePositionUnitStore } from '@/unit/stores/positionUnit'
import EditButton from '@/unit/Components/UnitEditButton.vue'
import UnassignButton from '@/unit/Components/UnitUnassignButton.vue'
import DeleteButton from '@/unit/Components/UnitDeleteButton.vue'
import { useRouter } from 'vue-router'
import TacticalSignCreationModal from '@/unit/Components/TacticalSignCreationModal.vue'
import UnitFilter from '@/unit/Components/UnitFilter.vue'

const router = useRouter()

const routeToCreateUnit = async () => {
  await router.push('/unit/create')
}
const { allUnits } = storeToRefs(usePositionUnitStore())
allUnits.value = allUnits.value.sort((a, b) => {
  if (a.callSign < b.callSign) {
    return -1
  }
  if (a.callSign > b.callSign) {
    return 1
  }
  return 0
})
const selectedFilter = ref('')

const handleButtonClick = (buttonName: string) => {
  selectedFilter.value = buttonName
}

const filteredUnits = computed<Unit[]>(() => {
  if (selectedFilter.value == 'assigned') {
    return allUnits.value.filter(
      (unit) => unit.user || unit.creationMethod === 'TEMPORARY'
    )
  } else if (selectedFilter.value == 'notAssigned') {
    return allUnits.value.filter(
      (unit) => unit.user === undefined && unit.creationMethod === 'PERMANENT'
    )
  }
  return allUnits.value
})

const assignedUnits = computed(() =>
  allUnits.value.filter(
    (unit) => unit.user || unit.creationMethod === 'TEMPORARY'
  )
)
const unitStore = usePositionUnitStore()
const filter = ref('')
const columnHelper = createColumnHelper<Unit>()

const isDeleteModalOpen = ref(false)
const isUnassignModalOpen = ref(false)
const isUnassignLoading = ref(false)
const deleteModalUnitCallSign = ref('')
const unassignModalUnit = ref<Unit>()
const unassignUnitId = ref('')
const deletingUnitId = ref('')
const isCreateTacticalSignModalOpen = ref(false)

const openDeleteModal = (id: string) => {
  isDeleteModalOpen.value = true
  deletingUnitId.value = id
  const unit = allUnits.value.find((unit) => unit.id === id)
  deleteModalUnitCallSign.value = unit ? unit.callSign : ''
}

const openUnassignModal = (unitId: string) => {
  isUnassignModalOpen.value = true
  unassignUnitId.value = unitId
  unassignModalUnit.value = allUnits.value.find((unit) => unit.id === unitId)
}

provide('openModal', openDeleteModal)

const columns = ref([
  columnHelper.accessor('callSign', {
    header: () => 'Rufzeichen',
    cell: (info) => info.getValue(),
  }),
  columnHelper.accessor('tacticalSign', {
    header: () => 'Taktisches Zeichen',
    cell: (info) => h(TacticalSignIcon, { tacticalSign: info.getValue().path }),
  }),
  columnHelper.accessor(
    (row) => {
      if (row.user?.userId && row.creationMethod === 'PERMANENT') {
        return row.user.displayName
      } else if (row.creationMethod === 'TEMPORARY') {
        return 'Temporäre Einheit'
      } else {
        return '-'
      }
    },
    {
      id: 'userDisplayName',
      header: () => 'Nutzer',
      cell: (info) => info.getValue(),
    }
  ),
  {
    accessorKey: 'edit',
    header: ' ',
    cell: ({ row }: { row: Row<Unit> }) => {
      return h(EditButton, { id: row.original.id })
    },
  },
  {
    accessorKey: 'unassign',
    header: ' ',
    cell: ({ row }: { row: Row<Unit> }) => {
      return h(UnassignButton, {
        unit: row.original,
        onUnassignClicked: openUnassignModal,
      })
    },
  },
  {
    accessorKey: 'delete',
    header: ' ',
    cell: ({ row }: { row: Row<Unit> }) => {
      return h(DeleteButton, {
        id: row.original.id,
        onDeleteClicked: openDeleteModal,
      })
    },
  },
])

const table = ref(
  useVueTable({
    get data() {
      return filteredUnits.value
    },
    getRowId: (row) => row.id,
    get columns() {
      return columns.value
    },
    getCoreRowModel: getCoreRowModel(),
    getPaginationRowModel: getPaginationRowModel(),
    getFilteredRowModel: getFilteredRowModel(),
    initialState: {
      pagination: {
        pageSize: 8,
      },
    },
    state: {
      get globalFilter() {
        return filter.value
      },
    },
  })
)
const handleDelete = () => {
  unitStore.deleteUnit(deletingUnitId.value)
  isDeleteModalOpen.value = false
}

const handleUnassign = async () => {
  isUnassignLoading.value = true
  if (!unassignModalUnit.value?.id || !unassignModalUnit.value?.user?.email)
    return
  await unitStore.removeUserFromUnit(
    unassignModalUnit.value?.id,
    unassignModalUnit.value?.user?.email
  )
  isUnassignModalOpen.value = false
  isUnassignLoading.value = false
}

const openCreateTacticalSignModal = () => {
  isCreateTacticalSignModalOpen.value = true
}
</script>

<style lang="scss" scoped>
.headline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);
}

.base-input-wrapper {
  height: var(--input-field-height);
  width: 50%;
  align-content: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-sm);
}

.pagination-buttons {
  display: flex;
  gap: var(--space-sm);

  button {
    padding: var(--space-sm);
  }
}

table {
  font-size: var(--font-size-0);
}

th,
td {
  padding: 8px;
  text-align: left;
}

td {
  border-top: 1px solid var(--color-neutral-300);
}

.pagination-button {
  border-radius: var(--border-radius-300);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  height: var(--button-height-sm);
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  transition: 0.2s ease-in;
}

.pagination-button:disabled {
  color: var(--color-neutral-500);
  border: 1px solid var(--color-neutral-500);
}

.modal-unit-call-sign {
  font-weight: bold;
}

.DialogContent {
  background-color: var(--color-white);
  border-radius: var(--border-radius-300);
  box-shadow: var(--shadow-300);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: var(--dialog-width);
  padding: var(--viewport-padding);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogDescription {
  font-size: var(--font-size-body);
  line-height: var(--cm-line-height);
}

.IconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--space-md);
  right: var(--space-md);
  border: none;
  background: none;
  font-size: var(--font-size-1);
}

.dialog-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--space-md);
  margin-top: var(--space-md);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.primary-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: var(--space-md);
}

.delete-modal-content {
  max-width: 50ch;
}

.unassign-modal {
  width: var(--modal-width);
  &.basic-modal {
    overflow: visible;
  }

  :deep(.content) {
    padding: var(--space-md);
  }

  h3 {
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--space-md);
  }

  .unassign-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--space-md);
  }
}
</style>
