<template>
  <MainLayout>
    <BackLinkTopBar title="Neuer POI" />
    <form class="poi-form" @submit="onSubmit">
      <Field
        is="input"
        type="hidden"
        name="senderUnitId"
        :value="currentUser?.unitId"
      />

      <GeolocationInput
        name="location"
        :marker-icon-url="tacticalSignPath"
        :model-value="location"
      />
      <TacticalSignSelect name="tacticalSignPath" :options="poiTacticalSigns" />
      <BaseInput name="description" label="Beschreibung" />
      <BaseButton type="submit" variant="success"> POI setzen </BaseButton>
    </form>
    <ErrorBox :error="error" />
  </MainLayout>
</template>

<script setup lang="ts">
import { Field, useField, useForm } from 'vee-validate'
import {
  BaseButton,
  ErrorBox,
  BaseInput,
  BackLinkTopBar,
} from '@lion5/component-library'
import { GeolocationInput } from '@lion5/component-library-leaflet'
import TacticalSignSelect from '@/base/components/input/TacticalSignSelect/TacticalSignSelect.vue'
import { ref } from 'vue'
import type { CreatePoiForm } from '@/poi/stores/createPoi'
import { useCreatePoiStore } from '@/poi/stores/createPoi'
import { storeToRefs } from 'pinia'
import { useAccountStore } from '@/account/stores/account'
import MainLayout from '@/base/layout/MainLayout.vue'
import { useTacticalSigns } from '@/base/composables/useTacticalSigns'
import { useRouter } from 'vue-router'

const createPoiStore = useCreatePoiStore()
const { initialValues, validationSchema, publishPoi } = createPoiStore
const { location } = storeToRefs(createPoiStore)

const { currentUser } = storeToRefs(useAccountStore())
const { getPoiTacticalSigns } = useTacticalSigns()
const poiTacticalSigns = getPoiTacticalSigns()

const error = ref<Error | undefined>()

const { handleSubmit } = useForm<CreatePoiForm>({
  initialValues,
  validationSchema,
})
const router = useRouter()
const onSubmit = handleSubmit(async (values: CreatePoiForm) => {
  error.value = undefined
  try {
    await publishPoi(values)
    await router.back()
  } catch (e: Error | unknown) {
    error.value = e as Error
  }
})
const { value: tacticalSignPath } = useField<string>('tacticalSignPath')
</script>

<style scoped>
.poi-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
</style>
