<template>
  <MainLayout>
    <TopBar title="Neue Lagemeldung">
      <template #start>
        <IconButton @click="onBackClick"><IconArrowBack /></IconButton>
      </template>
    </TopBar>

    <form class="report-form" @submit="onSubmit">
      <PreviewImageInput name="image" v-model="reportImage" />
      <GeolocationInput
        name="report-location"
        v-model="reportLocation"
        :marker-icon-url="tacticalSignMarkerUrl"
      />
      <TacticalSignSelect
        name="tacticalSignPath"
        v-model="reportTacticalSign"
        :options="tacticalSignOptions"
      />

      <DateTimeInput name="datetime" />

      <BaseInput name="description" label="Beschreibung" />

      <MessageBox :error-message="store.formErrorMessage" />
      <BaseButton type="submit" variant="success"> Abschicken </BaseButton>
    </form>
  </MainLayout>
</template>

<script setup lang="ts">
import MainLayout from '@/base/layout/MainLayout.vue'
import {
  BaseButton,
  IconButton,
  BaseInput,
  DateTimeInput,
  PreviewImageInput,
  useDate,
  MessageBox,
  TopBar,
  IconArrowBack,
} from '@lion5/component-library'
import { GeolocationInput } from '@lion5/component-library-leaflet'
import { storeToRefs } from 'pinia'
import type { CreateReportForm } from '@/report/stores/createReport'
import { useCreateReportStore } from '@/report/stores/createReport'
import router from '@/router'
import { useForm } from 'vee-validate'
import { onBeforeMount } from 'vue'
import { useLocationService } from '@/base/composables/useLocationService'
import TacticalSignSelect from '@/base/components/input/TacticalSignSelect/TacticalSignSelect.vue'
import { onBeforeRouteLeave } from 'vue-router'
import { useTacticalSigns } from '@/base/composables/useTacticalSigns'

const store = useCreateReportStore()
const {
  reportImage,
  reportLocation,
  reportTacticalSign,
  tacticalSignMarkerUrl,
} = storeToRefs(store)

const { getCurrentUserPosition } = useLocationService()
onBeforeMount(async () => {
  if (!reportLocation.value) {
    reportLocation.value = await getCurrentUserPosition()
  }
  store.resetFormErrors()
})

const { getDateTimeLocalInputValue } = useDate()
const { handleSubmit, resetForm } = useForm<CreateReportForm>({
  keepValuesOnUnmount: true,
  validationSchema: store.formSchema,
  initialValues: {
    tacticalSignPath: '',
    datetime: getDateTimeLocalInputValue(new Date()),
    image: reportImage.value,
    description: '',
  },
})

const { getReportTacticalSigns } = useTacticalSigns()
const tacticalSignOptions = getReportTacticalSigns()

const reset = () => {
  reportTacticalSign.value = undefined
  reportImage.value = undefined
  reportLocation.value = undefined
  resetForm()
}

const onBackClick = () => {
  router.push({ name: 'Home' })
}

onBeforeRouteLeave(() => {
  reset()
})

const onSubmit = handleSubmit((values) => {
  store.publishReport(values)
  // only navigate if no errors occurred
  if (!store.formErrorMessage) {
    router.push({ name: 'Home' })
  }
})
</script>

<style scoped lang="scss">
.report-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-md);
}
</style>
