<template>
  <div class="clock">
    <div v-if="!tacticalTime" class="clock-date">
      {{ currentDate }}
    </div>
    <div v-if="!tacticalTime" class="clock-time">
      {{ currentTime }}
    </div>
    <div v-if="tacticalTime" class="clock-tactical-time">
      {{ currentTacticalTime }}
    </div>
  </div>
</template>

<script lang="ts" setup>
import type { WidgetSettings } from '@lion5/component-library-gridstack'
import { useWidget } from '@lion5/component-library-gridstack'
import type { ComputedRef } from 'vue'
import { computed, onMounted, ref } from 'vue'
import { ClockWidgetSetting } from '@/dashboard/widgets/ClockWidget/settings'

const REFRESH_INTERVAL_MS = 60000
const LOCALE = 'de-DE'

const props = defineProps<{
  settings: WidgetSettings
  defaultSettings: WidgetSettings
}>()
const { getReactiveSetting } = useWidget(props)
const tacticalTime = getReactiveSetting(ClockWidgetSetting.TACTICAL_TIME)
const timeZone = getReactiveSetting(
  ClockWidgetSetting.TIME_ZONE
) as ComputedRef<string | undefined>

const currentDateTime = ref<Date>(new Date())

onMounted(() => {
  setInterval(() => {
    currentDateTime.value = new Date()
  }, REFRESH_INTERVAL_MS)
})
const currentDate = computed(() =>
  currentDateTime.value.toLocaleDateString(LOCALE, {
    timeZone: timeZone.value,
    day: '2-digit',
    month: '2-digit',
    year: 'numeric',
  })
)
const currentTime = computed(() =>
  currentDateTime.value.toLocaleTimeString(LOCALE, {
    timeZone: timeZone.value,
    hour: '2-digit',
    minute: '2-digit',
  })
)

const currentTacticalTime = computed(() =>
  toTacticalTime(currentDateTime.value)
)
const toTacticalTime = (date: Date) => {
  // See p. 17 chapter 4.5.2 https://www.bildungsinstitut-rlp.drk.de/fileadmin/Download/Fuehrungskraefte/Ausbildung/ZF-Ausbildung/Empfehlungen_Takt_Zeichen_im_BevSch.pdf
  const day = date.toLocaleDateString(LOCALE, {
    timeZone: timeZone.value,
    day: '2-digit',
  })
  const [hours, minutes] = date
    .toLocaleTimeString(LOCALE, {
      timeZone: timeZone.value,
      hour: '2-digit',
      minute: '2-digit',
    })
    .split(':')
  const month = date
    .toLocaleDateString('en-US', { timeZone: timeZone.value, month: 'short' })
    .toLowerCase()
  const year = date.toLocaleDateString(LOCALE, {
    timeZone: timeZone.value,
    year: '2-digit',
  })
  return `${day}${hours}${minutes}${month}${year}`
}
</script>

<style lang="scss" scoped>
.clock {
  container-type: size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .clock-date,
  .clock-tactical-time {
    // Compatibility for browsers that do not support container units
    font-size: var(--font-size-6);
    font-size: 25cqb;
  }

  .clock-time {
    // Compatibility for browsers that do not support container units
    font-size: var(--font-size-8);
    font-size: 35cqb;
  }
}
</style>
