<template>
  <ItemCard class="request-card">
    <h2 class="call-sign">
      {{ request.unitCallSign }}
    </h2>
    <div class="content">
      <img
        :src="new TacticalSign(request.unitTacticalSignPath).path"
        alt="Tactical Sign"
      />
      <p class="content-text">
        {{ request.userName }} möchte dem Einsatz
        {{
          request.mission ? request.mission.missionNumber : 'Nicht verfügbar'
        }}
        beitreten.
      </p>
    </div>
    <div class="button-group">
      <BaseButton
        variant="primary"
        class="accept-button"
        @click="emits('accept', request.adhocJoinRequestId)"
        >Annehmen</BaseButton
      >
      <BaseButton
        variant="danger"
        class="reject-button"
        @click="emits('reject', request.adhocJoinRequestId)"
        >Ablehnen</BaseButton
      >
    </div>
  </ItemCard>
</template>

<script setup lang="ts">
import { BaseButton, ItemCard } from '@lion5/component-library'
import type { AdhocJoinRequest } from '@/join-codes/models/adhocJoinRequest'
import { TacticalSign } from '@/base/models/tacticalSign'

defineProps<{
  request: AdhocJoinRequest
}>()

const emits = defineEmits(['accept', 'reject'])
</script>

<style scoped lang="scss">
.request-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--space-sm);
    gap: var(--space-md);
    img {
      width: var(--img-size-lg);
      height: var(--img-size-lg);
    }
  }
  .button-group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
</style>
