<template>
  <DismissibleModal
    :modal-displayed="modelValue"
    @update:modalDisplayed="modelValue = false"
    class="modal"
  >
    <div class="modal-content">
      <h4>Sie sind nicht berechtigt, beizutreten</h4>
      <p>
        Sie können dem Warteraum nicht beitreten, da Sie bereits eingeloggt
        sind. Bitte überprüfen Sie Ihren aktuellen Anmeldestatus.
      </p>
    </div>
  </DismissibleModal>
</template>

<script setup lang="ts">
import { DismissibleModal } from '@lion5/component-library'

const modelValue = defineModel<boolean>('modelValue')
</script>

<style scoped lang="scss">
.modal {
  width: var(--modal-width);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-lg);
  gap: var(--space-md);

  p {
    text-align: center;
  }
}
</style>
